ZITSANDBOXTNNCOE/ZIT_TNN_Exchange_Rate_ECB_copy/src/main/resources/xsd/cube.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"
  elementFormDefault="qualified">  

  <xs:element name="Cube">
      <xs:complexType>
      <xs:sequence>
        <xs:element name="Cube">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Cube" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="currency" use="optional"/>
                      <xs:attribute type="xs:float" name="rate" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:date" name="time"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>