ZITSANDBOXTNNCOE/ZIT_TNN_Exchange_Rate_ECB_copy/src/main/resources/xsd/envelope.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:cube="http://www.ecb.int/vocabulary/2002-08-01/eurofxref"
  targetNamespace="http://www.gesmes.org/xml/2002-08-01"
  elementFormDefault="qualified">  

  <xs:import schemaLocation="cube.xsd" namespace="http://www.ecb.int/vocabulary/2002-08-01/eurofxref" />

  <xs:element name="Envelope">
    <xs:complexType>
            <xs:sequence>
                <xs:element name="subject" type="xs:string"></xs:element>
                <xs:element name="Sender">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
        <xs:element ref="cube:Cube" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>