ZITSANDBOXTNNCOE/ZIT_TNN_Exchange_Rate_ECB_copy/src/main/resources/xsd/neueXSD.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EZB">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Kurs">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Waehrung" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="Rate" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>