FINNIntegrations/FINN_IN_Airtable_Create_Leasing_Contracts_in_S4_P_100/src/main/resources/xsd/AirtableLeasingContracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="el_sap_export_general_data" minOccurs = "0" maxOccurs = "unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="business_partner_spendesk" />
              <xs:element name="company_code" type="xs:unsignedShort" />
              <xs:element name="cancellation_status" type="xs:string" />
              <xs:element name="composite_key" type="xs:string" />
              <xs:element name="contract_end_date" />
              <xs:element name="contract_start_date" type="xs:date" />
              <xs:element name="contract_type" type="xs:string" />
              <xs:element name="customer_type" type="xs:string" />
              <xs:element name="finn_car_id" type="xs:string" />
              <xs:element name="last_updated_ts" type="xs:string" />
              <xs:element name="output_lookup_tco_holding_period_month" type="xs:string" />
              <xs:element name="subscription_id" type="xs:unsignedLong" />
              <xs:element name="valuation_relevance" type="xs:string" />
              <xs:element name="REFrequencyStart" type="xs:string" />
              <xs:element name="REFrequencyUnit" type="xs:string" />
              <xs:element name="RENumberOfFrequencyUnits" type="xs:string" />
              <xs:element name="REPaymentForm" type="xs:string" />
              <xs:element name="REProRataMethod" type="xs:string" />
              <xs:element name="REProRataMethodCalc" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="leasing_conditions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="composite_key" type="xs:string" />
                    <xs:element name="condition_purpose" type="xs:string" />
                    <xs:element name="condition_type" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="finn_car_id" type="xs:string" />
                    <xs:element name="last_updated_ts" type="xs:unsignedInt" />
                    <xs:element name="subscription_id" type="xs:unsignedLong" />
                    <xs:element name="valid_from" type="xs:date" />
                    <xs:element name="valid_to" type="xs:date" />
                    <xs:element name="value" type="xs:decimal" />
                    <xs:element name="change_date" type="xs:string" />
                    <xs:element name="vat_group" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>