itxexchangerates/ITX_ExchangeRate_Send_Generic_Exchange_Rate_via_IDoc_to_S4HANA/src/main/resources/xsd/ExchangeRates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ExchangeRates" type="ExchangeRates"/>
	<xsd:complexType name="ExchangeRates">
		<xsd:sequence>
			<xsd:element name="ExchangeRate" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Exchange Rate</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="FromCurrency" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>From Currency</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ToCurrency" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>To Currency</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ExchangeRate" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Exchange Rate</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ValidFromDate" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Valid From Date</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="FromFactor" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>From Factor</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="ToFactor" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>To Factor</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="RateType" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Rate Type</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>