HFFFinanceCustomer/HFF_SAPCPI.WWSAdvanceInvoice_IN_AS400_WWS_pass_advance_invoice_to_S4/src/main/resources/xsd/Vorausrechnung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DEBITORENVORAUSRECHNUNG" type="DEBITORENVORAUSRECHNUNGType"/>
  <xs:complexType name="DEBITORENVORAUSRECHNUNGType">
    <xs:sequence>
      <xs:element type="xs:string" name="UPMNU">
        <xs:annotation>
          <xs:documentation>company number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPKNR">
        <xs:annotation>
          <xs:documentation>address number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPUMK">
        <xs:annotation>
          <xs:documentation>Umstellungskatalog</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPBUJ">
        <xs:annotation>
          <xs:documentation>Belegjahr</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPBUM">
        <xs:annotation>
          <xs:documentation>Belegmonat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPBUT">
        <xs:annotation>
          <xs:documentation>Belegtag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPANR">
        <xs:annotation>
          <xs:documentation>Auftragsnummer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPGST">
        <xs:annotation>
          <xs:documentation>Geschäftsstelle</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPGZW">
        <xs:annotation>
          <xs:documentation>Geschäftszweig</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPTXT">
        <xs:annotation>
          <xs:documentation>Vertragstext</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPVEJ">
        <xs:annotation>
          <xs:documentation>Vertragsjahr</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPVEM">
        <xs:annotation>
          <xs:documentation>Vertragsmonat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPVET">
        <xs:annotation>
          <xs:documentation>Vertragstag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPZAF">
        <xs:annotation>
          <xs:documentation>n-te Zahlungsfolge</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPNBH">
        <xs:annotation>
          <xs:documentation>Anford. betrag Netto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPNBE">
        <xs:annotation>
          <xs:documentation>Anofrd. betrag Netto HW2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPMWS">
        <xs:annotation>
          <xs:documentation>MwSt-Art</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPMBH">
        <xs:annotation>
          <xs:documentation>MwSt.-Betrag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPMBE">
        <xs:annotation>
          <xs:documentation>MwSt.-Betrag HW2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPFAJ">
        <xs:annotation>
          <xs:documentation>Fälligkeitsjahr</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPFAM">
        <xs:annotation>
          <xs:documentation>Fälligkeitsmonat</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPFAT">
      <xs:annotation>
        <xs:documentation>Fälligkeitstag</xs:documentation>
      </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPMSP">
        <xs:annotation>
          <xs:documentation>Mahnsperre</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPMFT">
        <xs:annotation>
          <xs:documentation>Mahnfrist</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPVER">
        <xs:annotation>
          <xs:documentation>Zustand</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPPNR">
        <xs:annotation>
          <xs:documentation>Paket-Nr.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPBND">
        <xs:annotation>
          <xs:documentation>DCW-Beleg-Nr.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPWAE">
        <xs:annotation>
          <xs:documentation>Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPKDNR">
        <xs:annotation>
          <xs:documentation>Kundennummer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPGLOB">
        <xs:annotation>
          <xs:documentation>glob. Adressnr. AX</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="UPZAHLW">
        <xs:annotation>
          <xs:documentation>Zahlungsweise</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="KZVORK">
        <xs:annotation>
          <xs:documentation>Vorkasse</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="ZAHLW">
        <xs:annotation>
          <xs:documentation>Zahlungsweise</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="VORRE">
        <xs:annotation>
          <xs:documentation>Vorausrechnung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element type="xs:string" name="LANDWE">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>