SandboxPhilipp/Update_Account_from_Salesforce_to_SAP_ECC/src/main/resources/xsd/Query_Account.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 44.0 
Operation: REST - SOQL - Execute Query - Response 
Creation date: Tue Jul 07 12:30:48 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="QueryResult">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="1" name="done" type="xsd:boolean"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="entityTypeName" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="nextRecordsUrl" type="xsd:string"/>
                <xsd:element maxOccurs="1" minOccurs="0" name="queryLocator" type="xsd:string"/>
                <xsd:element maxOccurs="unbounded" minOccurs="0" name="records">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="AccountNumber" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Number</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="AccountSource" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Source</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Active__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Z_Active</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="AnnualRevenue" nillable="true" type="xsd:double">
                                <xsd:annotation>
                                    <xsd:documentation>Annual Revenue</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingAddress" nillable="true" type="address">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Address</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Billing City</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Country</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Geocode Accuracy</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="Address"/>
                                        <xsd:enumeration value="NearAddress"/>
                                        <xsd:enumeration value="Block"/>
                                        <xsd:enumeration value="Street"/>
                                        <xsd:enumeration value="ExtendedZip"/>
                                        <xsd:enumeration value="Zip"/>
                                        <xsd:enumeration value="Neighborhood"/>
                                        <xsd:enumeration value="City"/>
                                        <xsd:enumeration value="County"/>
                                        <xsd:enumeration value="State"/>
                                        <xsd:enumeration value="Unknown"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" nillable="true" type="xsd:double">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Latitude</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" nillable="true" type="xsd:double">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Longitude</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Zip/Postal Code</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="20"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Billing State/Province</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Billing Street</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="CleanStatus" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Clean Status</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="Matched"/>
                                        <xsd:enumeration value="Different"/>
                                        <xsd:enumeration value="Acknowledged"/>
                                        <xsd:enumeration value="NotFound"/>
                                        <xsd:enumeration value="Inactive"/>
                                        <xsd:enumeration value="Pending"/>
                                        <xsd:enumeration value="SelectMatch"/>
                                        <xsd:enumeration value="Skipped"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedById" nillable="false" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Created By ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="CreatedDate" nillable="false" type="xsd:dateTime">
                                <xsd:annotation>
                                    <xsd:documentation>Created Date</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="CurrencyIsoCode" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Currency</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="USD"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="CustomerPriority__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Z_Customer Priority</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="DandbCompanyId" nillable="true" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>D&amp;B Company ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Description</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="32000"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="DunsNumber" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>D-U-N-S Number</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="9"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Email__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Email</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="32"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Fax" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Fax</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Id" nillable="false" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Account ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Industry" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Industry</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="IsDeleted" nillable="false" type="xsd:boolean">
                                <xsd:annotation>
                                    <xsd:documentation>Deleted</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Jigsaw" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Data.com Key</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="20"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="JigsawCompanyId" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Jigsaw Company ID</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="20"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LastActivityDate" nillable="true" type="xsd:date">
                                <xsd:annotation>
                                    <xsd:documentation>Last Activity</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedById" nillable="false" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Last Modified By ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LastModifiedDate" nillable="false" type="xsd:dateTime">
                                <xsd:annotation>
                                    <xsd:documentation>Last Modified Date</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LastReferencedDate" nillable="true" type="xsd:dateTime">
                                <xsd:annotation>
                                    <xsd:documentation>Last Referenced Date</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="LastViewedDate" nillable="true" type="xsd:dateTime">
                                <xsd:annotation>
                                    <xsd:documentation>Last Viewed Date</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="MasterRecordId" nillable="true" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Master Record ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="NaicsCode" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>NAICS Code</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="8"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="NaicsDesc" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>NAICS Description</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="120"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Name" nillable="false">
                                <xsd:annotation>
                                    <xsd:documentation>Account Name</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="NumberOfEmployees" nillable="true" type="xsd:int">
                                <xsd:annotation>
                                    <xsd:documentation>Employees</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="NumberofLocations__c" nillable="true" type="xsd:double">
                                <xsd:annotation>
                                    <xsd:documentation>Number of Locations</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" nillable="false" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Owner ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Ownership" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Ownership</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ParentId" nillable="true" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Parent Account ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Phone" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Phone</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="PhotoUrl" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Photo URL</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Rating" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Rating</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="RecordTypeId" nillable="true" type="ID">
                                <xsd:annotation>
                                    <xsd:documentation>Record Type ID</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="SAP_BusinessPartner_Ref__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>SAP Reference Number</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="32"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingAddress" nillable="true" type="address">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Address</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping City</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Country</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Geocode Accuracy</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:enumeration value="Address"/>
                                        <xsd:enumeration value="NearAddress"/>
                                        <xsd:enumeration value="Block"/>
                                        <xsd:enumeration value="Street"/>
                                        <xsd:enumeration value="ExtendedZip"/>
                                        <xsd:enumeration value="Zip"/>
                                        <xsd:enumeration value="Neighborhood"/>
                                        <xsd:enumeration value="City"/>
                                        <xsd:enumeration value="County"/>
                                        <xsd:enumeration value="State"/>
                                        <xsd:enumeration value="Unknown"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" nillable="true" type="xsd:double">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Latitude</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" nillable="true" type="xsd:double">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Longitude</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Zip/Postal Code</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="20"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping State/Province</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Shipping Street</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Sic" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>SIC Code</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="20"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="SicDesc" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>SIC Description</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Site" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Site</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="80"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="SLA__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>SLA</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="SLAExpirationDate__c" nillable="true" type="xsd:date">
                                <xsd:annotation>
                                    <xsd:documentation>SLA Expiration Date</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="SLASerialNumber__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>SLA Serial Number</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="10"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="SystemModstamp" nillable="false" type="xsd:dateTime">
                                <xsd:annotation>
                                    <xsd:documentation>System Modstamp</xsd:documentation>
                                </xsd:annotation>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="TickerSymbol" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Ticker Symbol</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="20"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Tradestyle" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Tradestyle</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Type" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Account Type</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="40"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="UpsellOpportunity__c" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Upsell Opportunity</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Website" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Website</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="255"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                            <xsd:element maxOccurs="1" minOccurs="0" name="YearStarted" nillable="true">
                                <xsd:annotation>
                                    <xsd:documentation>Year Started</xsd:documentation>
                                </xsd:annotation>
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:minLength value="0"/>
                                        <xsd:maxLength value="4"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="type" type="xsd:string"/>
                        <xsd:attribute name="url" type="xsd:string"/>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="size" type="xsd:int"/>
                <xsd:element maxOccurs="1" minOccurs="1" name="totalSize" type="xsd:int"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType xmlns="http://www.w3.org/2001/XMLSchema-instance" name="address">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="latitude" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="longitude" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="city" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="country" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="countryCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="geocodeAccuracy" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="postalCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="state" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="stateCode" nillable="true" type="xsd:string"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="street" nillable="true" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
