DesignGuidelinesManageResources/ManageResources_SplitterInSubprocess/src/main/resources/xsd/mapping.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="ProductId"/>
                    <xs:element type="xs:string" name="ProductName"/>
                    <xs:element type="xs:string" name="CurrencyCode"/>
                    <xs:element type="xs:float" name="Price"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="ItemNumber" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>