itxexchangerates/ITX_ExchangeRate_Send_Exchange_Rate_from_TCMB_via_IDoc_to_S4HANA/src/main/resources/xsd/kurlar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="Tarih_Date">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Currency" minOccurs="0" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element type="xsd:string" name="Unit" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Unit</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="Isim" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Isim</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="CurrencyName" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Currency Name</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="ForexBuying" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Forex Buying</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="ForexSelling" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Forex Selling</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="BanknoteBuying" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Banknote Buying</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="BanknoteSelling" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Banknote Selling</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="CrossRateUSD" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Cross Rate USD</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element type="xsd:string" name="CrossRateOther" minOccurs="0" maxOccurs="1">
								<xsd:annotation>
									<xsd:documentation>Cross Rate Other</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute type="xsd:string" name="CrossOrder" use="optional">
							<xsd:annotation>
								<xsd:documentation>Cross Order</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute type="xsd:string" name="Kod" use="optional">
							<xsd:annotation>
								<xsd:documentation>Kod</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
						<xsd:attribute type="xsd:string" name="CurrencyCode" use="optional">
							<xsd:annotation>
								<xsd:documentation>Currency Code</xsd:documentation>
							</xsd:annotation>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute type="xsd:string" name="Tarih">
				<xsd:annotation>
					<xsd:documentation>Tarih</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute type="xsd:string" name="Date">
				<xsd:annotation>
					<xsd:documentation>Date</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute type="xsd:string" name="Bulten_No">
				<xsd:annotation>
					<xsd:documentation>Bulten No</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>