ZITSANDBOXTGE/IF_CustomFunctions_Training/src/main/resources/xsd/Übung.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="CSV_XML">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ROW" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="COL_1" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="COL_2" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="COL_3" type="xs:dateTime" minOccurs="0"/>
                            <xs:element name="COL_4" type="xs:dateTime" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
 