SandboxPhilipp/MM_Ue03_PHL/src/main/resources/xsd/MM2_out_neu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="SalesOrderSummary">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="Buyer" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="BuyerName" type="xs:string" minOccurs="0" />
			  <xs:element name="BuyerOrderCount" type="xs:integer" minOccurs="0" />
			  <xs:element name="BuyerTotal" type="xs:decimal" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
		<xs:element name="Summary" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
            <xs:sequence>
              <xs:element name="NumberOfBuyers" type="xs:integer" minOccurs="0" />
			  <xs:element name="TotalOrders" type="xs:integer" minOccurs="0" />
			  <xs:element name="TotalAmount" type="xs:decimal" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


