SandboxPhilipp/MM_Ue03_PHL/src/main/resources/xsd/MM3_out.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0" />
				<xs:element name="adress" type="xs:string" minOccurs="0" />
				<xs:element name="units" type="xs:decimal" minOccurs="0" />
				<xs:element name="price" type="xs:decimal" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

