SandboxPhilipp/MM_Ue03_PHL/src/main/resources/xsd/MM3_in.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="PurchaseOrder">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="Order" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
			  <xs:element name="Header" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="xs:string" minOccurs="0" />
						<xs:element name="Adress" type="xs:string" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			  </xs:element>
              <xs:element name="Item" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Material" type="xs:string" minOccurs="0" />
						<xs:element name="Units" type="xs:decimal" minOccurs="0" />
						<xs:element name="Price" type="xs:decimal" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			  </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


