IntegrationwithCRMTurck/CRM_01_SequentialProcessing_SalesOrder/src/main/resources/xsd/ORDERS05.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ORDERS05">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TABNAM"/>
                    <xs:element type="xs:short" name="MANDT"/>
                    <xs:element type="xs:int" name="DOCNUM"/>
                    <xs:element type="xs:short" name="DOCREL"/>
                    <xs:element type="xs:byte" name="STATUS"/>
                    <xs:element type="xs:byte" name="DIRECT"/>
                    <xs:element type="xs:byte" name="OUTMOD"/>
                    <xs:element type="xs:string" name="IDOCTYP"/>
                    <xs:element type="xs:string" name="MESTYP"/>
                    <xs:element type="xs:string" name="SNDPOR"/>
                    <xs:element type="xs:string" name="SNDPRT"/>
                    <xs:element type="xs:string" name="SNDPRN"/>
                    <xs:element type="xs:string" name="RCVPOR"/>
                    <xs:element type="xs:string" name="RCVPRT"/>
                    <xs:element type="xs:string" name="RCVPFC"/>
                    <xs:element type="xs:string" name="RCVPRN"/>
                    <xs:element type="xs:int" name="CREDAT"/>
                    <xs:element type="xs:int" name="CRETIM"/>
                    <xs:element type="xs:string" name="ARCKEY"/>
                    <xs:element type="xs:long" name="SERIAL"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="CURCY"/>
                    <xs:element type="xs:string" name="HWAER"/>
                    <xs:element type="xs:float" name="WKURS"/>
                    <xs:element type="xs:string" name="ZTERM"/>
                    <xs:element type="xs:string" name="BSART"/>
                    <xs:element type="xs:long" name="BELNR"/>
                    <xs:element type="xs:short" name="RECIPNT_NO"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK14" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="QUALF"/>
                    <xs:element type="xs:string" name="ORGID"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK03" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="IDDAT"/>
                    <xs:element type="xs:int" name="DATUM"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDKA1" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="PARVW"/>
                    <xs:element type="xs:short" name="PARTN" minOccurs="0"/>
                    <xs:element type="xs:string" name="BNAME" minOccurs="0"/>
                    <xs:element type="xs:short" name="PAORG" minOccurs="0"/>
                    <xs:element type="xs:string" name="ORGTX" minOccurs="0"/>
                    <xs:element type="xs:byte" name="PAGRU" minOccurs="0"/>
                    <xs:element type="xs:short" name="LIFNR" minOccurs="0"/>
                    <xs:element type="xs:string" name="NAME1" minOccurs="0"/>
                    <xs:element type="xs:string" name="NAME2" minOccurs="0"/>
                    <xs:element type="xs:string" name="STRAS" minOccurs="0"/>
                    <xs:element type="xs:string" name="ORT01" minOccurs="0"/>
                    <xs:element type="xs:short" name="PSTLZ" minOccurs="0"/>
                    <xs:element type="xs:string" name="LAND1" minOccurs="0"/>
                    <xs:element type="xs:string" name="SPRAS" minOccurs="0"/>
                    <xs:element type="xs:string" name="ANRED" minOccurs="0"/>
                    <xs:element type="xs:byte" name="REGIO" minOccurs="0"/>
                    <xs:element type="xs:string" name="SPRAS_ISO" minOccurs="0"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK02">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="QUALF"/>
                    <xs:element type="xs:long" name="BELNR"/>
                    <xs:element type="xs:int" name="DATUM"/>
                    <xs:element type="xs:int" name="UZEIT"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK17" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="QUALF"/>
                    <xs:element type="xs:string" name="LKOND" minOccurs="0"/>
                    <xs:element type="xs:string" name="LKTEXT"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDK18">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="QUALF"/>
                    <xs:element type="xs:byte" name="TAGE"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDKT1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="TDID"/>
                    <xs:element type="xs:string" name="TSSPRAS"/>
                    <xs:element type="xs:string" name="TSSPRAS_ISO"/>
                    <xs:element name="E1EDKT2" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="TDLINE" minOccurs="0"/>
                          <xs:element type="xs:string" name="TDFORMAT" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDP01" minOccurs='0' maxOccurs='unbounded'>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="POSEX"/>
                    <xs:element type="xs:byte" name="ACTION"/>
                    <xs:element type="xs:byte" name="PSTYP"/>
                    <xs:element type="xs:string" name="KZABS"/>
                    <xs:element type="xs:float" name="MENGE"/>
                    <xs:element type="xs:string" name="MENEE"/>
                    <xs:element type="xs:float" name="BMNG2"/>
                    <xs:element type="xs:string" name="PMENE"/>
                    <xs:element type="xs:float" name="VPREI"/>
                    <xs:element type="xs:byte" name="PEINH"/>
                    <xs:element type="xs:float" name="NETWR"/>
                    <xs:element type="xs:short" name="NTGEW"/>
                    <xs:element type="xs:string" name="GEWEI"/>
                    <xs:element type="xs:string" name="MATKL"/>
                    <xs:element type="xs:byte" name="BPUMN"/>
                    <xs:element type="xs:byte" name="BPUMZ"/>
                    <xs:element type="xs:short" name="BRGEW"/>
                    <xs:element type="xs:short" name="WERKS"/>
                    <xs:element type="xs:short" name="LGORT"/>
                    <xs:element type="xs:byte" name="HIPOS"/>
                    <xs:element name="E1EDP20">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="WMENG"/>
                          <xs:element type="xs:float" name="AMENG"/>
                          <xs:element type="xs:int" name="EDATU"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1EDP19" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="QUALF"/>
                          <xs:element type="xs:string" name="IDTNR"/>
                          <xs:element type="xs:string" name="KTEXT" minOccurs="0"/>
                          <xs:element type="xs:string" name="IDTNR_LONG" minOccurs="0"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E1EDP17" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="QUALF"/>
                          <xs:element type="xs:string" name="LKOND" minOccurs="0"/>
                          <xs:element type="xs:string" name="LKTEXT"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="SEGMENT" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="E1EDS01">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="SUMID"/>
                    <xs:element type="xs:float" name="SUMME"/>
                    <xs:element type="xs:string" name="SUNIT"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="SEGMENT"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="BEGIN"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>