itxtools/ITX_TOOL_SAP_CPI_Message_Status_Overview_Today/src/main/resources/xsd/MessageProcessingLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageProcessingLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MessageProcessingLog" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Status"/>
              <xs:element name="IntegrationArtifact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Type"/>
                    <xs:element type="xs:string" name="Id"/>
                    <xs:element type="xs:string" name="Name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="MessageGuid"/>
              <xs:element type="xs:string" name="LogStart"/>
              <xs:element type="xs:string" name="LogEnd"/>
              <xs:element type="xs:string" name="IntegrationFlowName"/>
              <xs:element type="xs:string" name="Sender"/>
              <xs:element type="xs:string" name="Receiver"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>