NDBSPresalesCollection/IF_NDBS_Presales_GET_Itemdata/src/main/resources/xsd/SourceStructure_S4H.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="A_Product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="A_ProductType">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CreationDate" type="xs:dateTime" />
              <xs:element name="ProductGroup" type="xs:string" />
              <xs:element name="LowLevelCode" type="xs:unsignedByte" />
              <xs:element name="SizeOrDimensionText" />
              <xs:element name="CreatedByUser" type="xs:string" />
              <xs:element name="CountryOfOrigin" />
              <xs:element name="Product" type="xs:string" />
              <xs:element name="PIMData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Product" type="xs:string" />
                    <xs:element name="PIM_ID" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="PLMData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Product" type="xs:string" />
                    <xs:element name="PLM_ID" type="xs:unsignedShort" />
                    <xs:element name="Version" type="xs:decimal" />
                    <xs:element name="WeightUnit" type="xs:string" />
                    <xs:element name="Weight" type="xs:unsignedByte" />
                    <xs:element name="LengthUnit" type="xs:string" />
                    <xs:element name="Length" type="xs:unsignedByte" />
                    <xs:element name="HeightUnit" type="xs:string" />
                    <xs:element name="Height" type="xs:unsignedByte" />
                    <xs:element name="DepthUnit" type="xs:string" />
                    <xs:element name="Depth" type="xs:unsignedByte" />
                    <xs:element name="CAD_ID" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="ProductStandardID" />
              <xs:element name="IsPilferable" type="xs:boolean" />
              <xs:element name="VolumeUnit" />
              <xs:element name="WarehouseProductGroup" />
              <xs:element name="WarehouseStorageCondition" />
              <xs:element name="MaterialVolume" type="xs:decimal" />
              <xs:element name="ManufacturerPartProfile" />
              <xs:element name="CrossPlantStatus" />
              <xs:element name="CrossPlantStatusValidityDate" />
              <xs:element name="TimeUnitForQuarantinePeriod" />
              <xs:element name="GrossWeight" type="xs:decimal" />
              <xs:element name="InternationalArticleNumberCat" />
              <xs:element name="SourceOfSupply" />
              <xs:element name="ProductType" type="xs:string" />
              <xs:element name="ItemCategoryGroup" type="xs:string" />
              <xs:element name="ProcurementRule" />
              <xs:element name="BaseUnit" type="xs:string" />
              <xs:element name="ProductOldID" />
              <xs:element name="UnitForMaxPackagingDimensions" />
              <xs:element name="VarblPurOrdUnitIsActive" />
              <xs:element name="LastChangedByUser" type="xs:string" />
              <xs:element name="Brand" />
              <xs:element name="MaximumPackagingWidth" type="xs:decimal" />
              <xs:element name="QuarantinePeriod" type="xs:unsignedByte" />
              <xs:element name="PurchaseOrderQuantityUnit" />
              <xs:element name="ManufacturerNumber" />
              <xs:element name="ProductHierarchy" />
              <xs:element name="AuthorizationGroup" />
              <xs:element name="StandardHandlingUnitType" />
              <xs:element name="MaterialRevisionLevel" />
              <xs:element name="ValidityStartDate" />
              <xs:element name="ExternalProductGroup" />
              <xs:element name="CrossPlantConfigurableProduct" />
              <xs:element name="ProductManufacturerNumber" />
              <xs:element name="MaximumPackagingLength" type="xs:decimal" />
              <xs:element name="HasVariableTareWeight" type="xs:boolean" />
              <xs:element name="ANPCode" type="xs:unsignedByte" />
              <xs:element name="WeightUnit" type="xs:string" />
              <xs:element name="ProdNoInGenProdInPrepackProd" />
              <xs:element name="IsMarkedForDeletion" type="xs:boolean" />
              <xs:element name="CompetitorID" />
              <xs:element name="QualityInspectionGroup" />
              <xs:element name="IsBatchManagementRequired" type="xs:boolean" />
              <xs:element name="IsRelevantForHzdsSubstances" type="xs:boolean" />
              <xs:element name="Division" type="xs:unsignedByte" />
              <xs:element name="SerialIdentifierAssgmtProfile" />
              <xs:element name="AdjustmentProfile" />
              <xs:element name="SerialNoExplicitnessLevel" />
              <xs:element name="PreferredUnitOfMeasure" />
              <xs:element name="HandlingIndicator" />
              <xs:element name="HandlingUnitType" />
              <xs:element name="IndustrySector" type="xs:string" />
              <xs:element name="NetWeight" type="xs:decimal" />
              <xs:element name="ProductIsConfigurable" type="xs:boolean" />
              <xs:element name="QltyMgmtInProcmtIsActive" type="xs:boolean" />
              <xs:element name="DocumentIsCreatedByCAD" type="xs:boolean" />
              <xs:element name="IndustryStandardName" />
              <xs:element name="SerialNumberProfile" />
              <xs:element name="LastChangeDate" type="xs:dateTime" />
              <xs:element name="ChangeNumber" />
              <xs:element name="LastChangeDateTime" type="xs:dateTime" />
              <xs:element name="MaximumPackagingHeight" type="xs:decimal" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>