ZITSANDBOXMRI/HubSpot_Contact_Test/src/main/resources/xsd/c4c_to_hs_deal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="properties" type="propertiesType"/>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="sales_organization_id"/>
      <xs:element type="xs:string" name="sales_unit_id"/>
      <xs:element type="xs:string" name="source"/>
      <xs:element type="xs:string" name="start_date"/>
      <xs:element type="xs:string" name="close_date"/>
      <xs:element type="xs:string" name="dealstage"/>
      <xs:element type="xs:string" name="lead_category"/>
      <xs:element type="xs:string" name="itelligence_account_executive_owner_"/>
      <xs:element type="xs:string" name="amount"/>
      <xs:element type="xs:string" name="forecast_category"/>
      <xs:element type="xs:string" name="negotiated_revenue"/>
      <xs:element type="xs:string" name="reason_code"/>
      <xs:element type="xs:string" name="true_campaign_source"/>
      <xs:element type="xs:string" name="status_c4c_"/>
      <xs:element type="xs:string" name="compamy_name"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>