ZITSANDBOXMRI/HubSpot_Contact_Test/src/main/resources/xsd/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="address"/>
                            <xs:element type="xs:string" name="akademischer_grad"/>
                            <xs:element type="xs:string" name="city"/>
                            <xs:element type="xs:string" name="contact_has_left"/>
                            <xs:element type="xs:string" name="contact_permission_c4c_"/>
                            <xs:element type="xs:string" name="country"/>
                            <xs:element type="xs:string" name="department"/>
                            <xs:element type="xs:string" name="e_mail_change_request_to_hubspot"/>
                            <xs:element type="xs:int" name="elixirsync_external_contact_id"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="firstname"/>
                            <xs:element type="xs:string" name="house_number"/>
                            <xs:element type="xs:string" name="itelligence_account_executive_owner_"/>
                            <xs:element type="xs:string" name="job_function"/>
                            <xs:element type="xs:string" name="jobtitle"/>
                            <xs:element type="xs:string" name="lastname"/>
                            <xs:element type="xs:string" name="locked_c4c_"/>
                            <xs:element type="xs:string" name="mobilephone"/>
                            <xs:element type="xs:string" name="phone"/>
                            <xs:element type="xs:string" name="title_c4c_"/>
                            <xs:element type="xs:string" name="vip_contract"/>
                            <xs:element type="xs:string" name="zip"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>