ZITSANDBOXSGR/ZIT_SGR_Messages/src/main/resources/xsd/dataservices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.microsoft.com/ado/2007/08/dataservices">
	<xs:element name="MessageGuid" type="xs:string"/>
	<xs:element name="IntegrationFlowName" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
</xs:schema>