ZITSANDBOXSGR/ZIT_SGR_Messages/src/main/resources/xsd/metadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://schemas.microsoft.com/ado/2007/08/dataservices/metadata"
		   xmlns:d="http://schemas.microsoft.com/ado/2007/08/dataservices">
	<xs:import namespace="http://schemas.microsoft.com/ado/2007/08/dataservices" schemaLocation="dataservices.xsd"/>
	<xs:element name="properties">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element ref="d:MessageGuid" minOccurs="0"/>
				<xs:element ref="d:IntegrationFlowName" minOccurs="0"/>
				<xs:element ref="d:Status" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="count" type="xs:string"/>
</xs:schema>