ZITSANDBOXDHN/HABA_SAPCPI.Article_IN_S4_replicate_article_master_data_to_TIA/src/main/resources/ARTMAS110_to_IN_ARTIKEL/xsd/IN_ARTIKEL (Artikel in TIA).xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="IN_ARTIKEL">
    <xs:complexType>
	    <xs:sequence>
	      <xs:element name="row" minOccurs="1" maxOccurs="unbounded">
             <xs:complexType>
              	<xs:sequence>

        		<xs:element type="xs:string" name="ATYPO0" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="ATYPO1" minOccurs = "1" />
        		<xs:element type="xs:string" name="ATYPO2" minOccurs= "1" />
        		<xs:element type="xs:string" name="ATYPO3" minOccurs= "0" maxOccurs = "unbounded" />
        		<xs:element type="xs:string" name="TYPO1" minOccurs= "1" />
        		<xs:element type="xs:string" name="TYPO2" minOccurs = "1"/>
        		<xs:element type="xs:string" name="TYPO3" minOccurs = "1"/>
        		<xs:element type="xs:string" name="TYPO3" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="TYPO4" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="TYPO5" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="TYPO6" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="TYPO7" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="TYPO8" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="TYPO9" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="ATYPO_BEZEICHNUNG1" minOccurs = "1"/>
        		<xs:element type="xs:string" name="ATYPO_BEZEICHNUNG2" minOccurs= "1" />
        		<xs:element type="xs:string" name="ATYPO_BEZEICHNUNG3" minOccurs= "0" maxOccurs = "1" />		
        		<xs:element type="xs:string" name="MODELL_BEZEICHNUNG1" minOccurs= "1" />
        		<xs:element type="xs:string" name="MODELL_BEZEICHNUNG2" minOccurs= "0" maxOccurs = "1" />		
        		<xs:element type="xs:string" name="MODELL_BEZEICHNUNG3" minOccurs= "0" maxOccurs = "1" />		
        		<xs:element type="xs:string" name="INFO1" minOccurs= "1" />
        		<xs:element type="xs:string" name="INFO2" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="INFO3" minOccurs= "0" maxOccurs = "1"/>
        		<xs:element type="xs:string" name="INFO4" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="INFO5" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="INFO6" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="INFO7" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="ARTIKELART" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="MODELL_NR" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="STAT_EINHEIT" minOccurs= "1" />
        		<xs:element type="xs:string" name="VERKAUFS_EINHEIT" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="VERKAUFS_MENGE" minOccurs= "0" maxOccurs = "1" />
        		<xs:element type="xs:string" name="VOLUMEN" minOccurs= "0" maxOccurs = "1" />
                </xs:sequence>
            </xs:complexType>
            </xs:element>
    	</xs:sequence>
	</xs:complexType> 
</xs:element>	
</xs:schema>