ZITSANDBOXDHN/CW_01_SuccessFactors_to_Compliance_Wire/src/main/resources/xsd/CW_Test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CW"/>
	<xs:complexType name="CW_User">
		<xs:sequence>
			<xs:element type="xs:string" name="User_ID"/>
			<xs:element type="xs:string" name="Last_Name"/>
			<xs:element type="xs:string" name="First_Name"/>
			<xs:element type="xs:string" name="Middle_Name"/>
			<xs:element type="xs:string" name="Home_Organization"/>
			<xs:element type="xs:string" name="Security_Role"/>
			<xs:element type="xs:string" name="Temporary_Password"/>
			<xs:element type="xs:string" name="Status"/>
			<xs:element type="xs:string" name="Password"/>
			<xs:element type="xs:string" name="Comments"/>
			<xs:element type="xs:string" name="Street"/>
			<xs:element type="xs:string" name="City"/>
			<xs:element type="xs:string" name="State"/>
			<xs:element type="xs:string" name="Zip_Postal_Code"/>
			<xs:element type="xs:string" name="Country"/>
			<xs:element type="xs:string" name="Home_Phone"/>
			<xs:element type="xs:string" name="Work_Phone"/>
			<xs:element type="xs:string" name="E-Mail"/>
			<xs:element type="xs:string" name="Fax"/>
			<xs:element type="xs:string" name="Personnel_Code"/>
			<xs:element type="xs:string" name="Manager_Id"/>
			<xs:element type="xs:string" name="Reporting_Manager"/>
			<xs:element type="xs:string" name="Alternate_Manager"/>
			<xs:element type="xs:string" name="Employee_Group"/>
			<xs:element type="xs:string" name="Employee_Sub_Group"/>
			<xs:element type="xs:string" name="Leave_of_Absence"/>
			<xs:element type="xs:string" name="HIREDATE"/>
			<xs:element type="xs:string" name="TERMDATE"/>
			<xs:element type="xs:string" name="Sales_Transfer_Date"/>
			<xs:element type="xs:string" name="Function_Division_Transfer_Date"/>
			<xs:element type="xs:string" name="Grade"/>
			<xs:element type="xs:string" name="People_Manager"/>
			<xs:element type="xs:string" name="Sales_Force"/>
			<xs:element type="xs:string" name="Territory_Territory_Text"/>
			<xs:element type="xs:string" name="District_Text"/>
			<xs:element type="xs:string" name="Sales_Region_Text"/>
			<xs:element type="xs:string" name="Company_Code"/>
			<xs:element type="xs:string" name="Company_Code_Text"/>
			<xs:element type="xs:string" name="Business_Division_Id"/>
			<xs:element type="xs:string" name="Business_Division_Text"/>
			<xs:element type="xs:string" name="Sub_Division"/>
			<xs:element type="xs:string" name="Sub_Division_Text"/>
			<xs:element type="xs:string" name="Parent_Function_Id"/>
			<xs:element type="xs:string" name="Parent_Function_Text"/>
			<xs:element type="xs:string" name="Function_Id"/>
			<xs:element type="xs:string" name="Function_Text"/>
			<xs:element type="xs:string" name="Department_Id"/>
			<xs:element type="xs:string" name="Department_Text"/>
			<xs:element type="xs:string" name="Job_Code"/>
			<xs:element type="xs:string" name="Job_Text"/>
			<xs:element type="xs:string" name="Position_Code"/>
			<xs:element type="xs:string" name="Position_Text"/>
			<xs:element type="xs:string" name="Cost_Center"/>
			<xs:element type="xs:string" name="Cost_Center_Text"/>
			<xs:element type="xs:string" name="Work_Address1"/>
			<xs:element type="xs:string" name="Work_City"/>
			<xs:element type="xs:string" name="Work_Country"/>
			<xs:element type="xs:string" name="Work_ZIP"/>
			<xs:element type="xs:string" name="Study_Abroad"/>
			<xs:element type="xs:string" name="Display_Name"/>
			<xs:element type="xs:string" name="Windows_ID"/>
			<xs:element type="xs:string" name="Multiple_Position1"/>
			<xs:element type="xs:string" name="Multiple_Position2"/>
			<xs:element type="xs:string" name="CUSTOM1"/>
			<xs:element type="xs:string" name="CUSTOM2"/>
			<xs:element type="xs:string" name="CUSTOM3"/>
			<xs:element type="xs:string" name="CUSTOM4"/>
			<xs:element type="xs:string" name="MANUAL1"/>
			<xs:element type="xs:string" name="MANUAL2"/>
			<xs:element type="xs:string" name="MANUAL3"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>