ZITSANDBOXMRI/DECODER_TEST_MRI/src/main/resources/xsd/employees.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="CSV_Organization">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Organization">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="OrgNo"/>
                            <xs:element type="xs:string" name="OrgName"/>
                            <xs:element type="xs:byte" name="EmpNo"/>
                            <xs:element type="xs:string" name="EmpName"/>
                            <xs:element type="xs:string" name="EmpRole"/>
                            <xs:element type="xs:byte" name="EmpCell"/>
                            <xs:element type="xs:string" name="EmpEmail"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>