FINNIntegrations/FINN_IN_Spendesk_Create_and_Update_BusinessPartner_Employees_in_S4_P_100/src/main/resources/xsd/Spendesk_BusinessPartner.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="data">
    <xs:complexType>
	<xs:sequence>
				<xs:element type="xs:string" name="spendesk_supplier_id" minOccurs = "1" />
				<xs:element type="xs:string" name="spendesk_supplier_name" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="spendesk_supplier_is_archived" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="spendesk_supplier_account_payable_id" minOccurs= "1" />
				<xs:element type="xs:string" name="spendesk_supplier_account_payable_code" minOccurs= "0" maxOccurs = "1" />
			
	</xs:sequence>
	</xs:complexType> 
</xs:element>	
</xs:schema>