FINNIntegrations/FINN_IN_Spendesk_Post_Vendor_Invoice_In_S4_P_100/src/main/resources/xsd/spenddesk_vendor_invoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="generalData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="docDate" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" name="generalLedger">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="glAccount" type="xs:string" />
                    <xs:element name="taxCode" type="xs:string" />
                    <xs:element name="costCenter" type="xs:unsignedShort" />
                    <xs:element name="amtDoccurNet" type="xs:decimal" />
                    <xs:element name="currency" type="xs:string" />
                    <xs:element name="amtDoccur" type="xs:decimal" />
                    <xs:element name="amtDoccurTax" type="xs:decimal" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="vendorData">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="vendorNr" type="xs:unsignedInt" />
                    <xs:element name="blineDate" type="xs:string" />
                    <xs:element name="allocNr" type="xs:string" />
                    <xs:element name="paymentRef" type="xs:string" />
                    <xs:element name="itemText" type="xs:string" />
                    <xs:element name="payment_method" type="xs:string" />
                    <xs:element name="amtDoccur" type="xs:decimal" />
                    <xs:element name="payment_type" type="xs:string" />
                    <xs:element name="fx_fee_amount" type="xs:decimal" />
                    <xs:element name="amtLocal" type="xs:string" />
                    <xs:element name="exchangeRate" type="xs:string" />
                    <xs:element name="employeeAccountPayable" type="xs:string" />
                    <xs:element name="currency" type="xs:string" />
                    <xs:element name="paymentDate" type="xs:string" />
                    <xs:element name="vin" type="xs:string" />
                    <xs:element name="hashed_id_b85" type="xs:string" />
                      </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="endCursor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>