itxtools/ITX_TOOL_SAP_CPI_Integration_Runtime_Artifacts_CSV/src/main/resources/xsd/IntegrationRuntimeArtifacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="IntegrationRuntimeArtifacts">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="IntegrationRuntimeArtifact" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Status" type="xsd:string"/>
              <xsd:element name="Type" type="xsd:string"/>
              <xsd:element name="Version" type="xsd:string"/>
              <xsd:element name="DeployedBy" type="xsd:string"/>
              <xsd:element name="Id" type="xsd:string"/>
              <xsd:element name="DeployedOn" type="xsd:string"/>
              <xsd:element name="Name" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>