ZITSANDBOXTNN/IRS_IN_Generic_SD_Auftrag_updaten_an_S4_DEV/src/main/resources/wsdl/A_SalesOrderItemTextEntityPATCH.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
    <xs:element name="batchParts">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSet" nillable="false">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="batchChangeSetPart" nillable="false">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="1" minOccurs="1" name="method" nillable="false" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="uri" nillable="true" type="xs:string"/>
                                        <xs:element maxOccurs="1" minOccurs="0" name="headers" nillable="true">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="header" nillable="true">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerName" nillable="false" type="xs:string"/>
                                                                <xs:element maxOccurs="1" minOccurs="1" name="headerValue" nillable="false" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element maxOccurs="1" minOccurs="1" name="A_SalesOrderItemText" nillable="false">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="A_SalesOrderItemTextType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element maxOccurs="1" name="SalesOrder" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="10"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" name="SalesOrderItem" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="6"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" name="Language" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="2"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" name="LongTextID" nillable="false">
                                                                    <xs:simpleType>
                                                                        <xs:restriction base="xs:string">
                                                                            <xs:maxLength value="4"/>
                                                                        </xs:restriction>
                                                                    </xs:simpleType>
                                                                </xs:element>
                                                                <xs:element maxOccurs="1" minOccurs="0" name="LongText" nillable="true" type="xs:string"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>