ZITSANDBOXSBU/IRS_IN_Generic_Businesspartner_updaten_an_S4_DEV/src/main/resources/xsd/BP_updaten_Output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BusinessPartner">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="OrganizationBPName1" minOccurs="0"/>
				<xs:element type="xs:string" name="OrganizationBPName2" minOccurs="0"/>
				<xs:element type="xs:string" name="OrganizationBPName3" minOccurs="0"/>
				<xs:element type="xs:string" name="FirstName" minOccurs="0"/>
				<xs:element type="xs:string" name="LastName" minOccurs="0"/>
				<xs:element type="xs:string" name="PersonFullName" minOccurs="0"/>
				<xs:element type="xs:string" name="IsMarkedForArchiving" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>