BNTGLOBALP2PCOUPAVARIOCUBE/Coupa_Reservation_to_Variocube_PrepareReservationAPICall/src/main/resources/xsd/coupa_inventory_transactions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="inventory-transactions">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="inventory-transaction" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="quantity" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="account" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="order-line" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="line-num" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="order-header-number" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="quantity" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="source-part-num" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="requester" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="fullname" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="email" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="supplier" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="commodity" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="custom-fields" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="sap-created" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="external-id" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="integration-status" type="xs:string" minOccurs="0" maxOccurs="1"/>
										<xs:element name="variocube-location" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="external-ref-num" type="xs:string" minOccurs="0" maxOccurs="1"/>
													<xs:element name="external-ref-code" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="variocube-status" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>