ZITSANDBOXSMR/NDBS_IN_Proficloud_RepayX_an_S4_D4D/src/main/resources/xsd/Test1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="wattage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="16,01"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="uUID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="b1d0cac0-d50d-11e8-ccaf789d09a0"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="EV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="travelScheme">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="domestic-travel-one-day"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="travelNumber">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12345"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="time">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="17:00 UTC"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="systemInfo">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="arrivalDate"/>
				<xs:element ref="country"/>
				<xs:element ref="departureDate"/>
				<xs:element ref="location"/>
				<xs:element ref="occassion"/>
				<xs:element ref="travelNumber"/>
				<xs:element ref="travelScheme"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="surname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Max"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="company" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="price">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="00,32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="prevReadMilage">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="123456"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="prevReadDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01-01-2021"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="prevReadCount">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1234567,89"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="plate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="BI-xy-123"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="occassion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="e-charging"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="abc AG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="mail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1234@xyz.de"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType/>
	</xs:element>
	<xs:element name="lastname">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Mustermann"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="00001"/>
				<xs:enumeration value="1234"/>
				<xs:enumeration value="abc123"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="employeeNumber">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="employee">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="accountingElement"/>
				<xs:element ref="car" maxOccurs="unbounded"/>
				<xs:element ref="employeeNumber"/>
				<xs:element ref="id"/>
				<xs:element ref="lastname"/>
				<xs:element ref="mail"/>
				<xs:element ref="surname"/>
				<xs:element ref="systemInfo" maxOccurs="unbounded"/>
				<xs:element ref="uUID"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="departureDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01-01-2021"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01-01-2021"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="currentReadMilage">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="123456"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="currentReadDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01-01-2021"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="currentReadCount">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1234567,89"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="DE"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="company">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="country"/>
				<xs:element ref="employee" maxOccurs="unbounded"/>
				<xs:element ref="id"/>
				<xs:element ref="name"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="charging">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="amount"/>
				<xs:element ref="date"/>
				<xs:element ref="id"/>
				<xs:element ref="price"/>
				<xs:element ref="time"/>
				<xs:element ref="wattage"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="car">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="addInfo" maxOccurs="unbounded"/>
				<xs:element ref="charging" maxOccurs="unbounded"/>
				<xs:element ref="id"/>
				<xs:element ref="plate"/>
				<xs:element ref="type"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="avgWattage">
		<xs:simpleType>
			<xs:restriction base="xs:byte">
				<xs:enumeration value="25"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="arrivalDate">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="01-01-2021"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="amount">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="5,12"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="addInfo">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="actualMilage"/>
				<xs:element ref="actualWattage"/>
				<xs:element ref="avgWattage"/>
				<xs:element ref="currentReadCount"/>
				<xs:element ref="currentReadDate"/>
				<xs:element ref="currentReadMilage"/>
				<xs:element ref="prevReadCount"/>
				<xs:element ref="prevReadDate"/>
				<xs:element ref="prevReadMilage"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="actualWattage">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12345"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="actualMilage">
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12345"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="accountingElement">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="123456"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
