ZITSANDBOXSBU/PXC_Intercompany_Liefereingangsbestaetigung_to_P01_STPPOD.Z_DELVRY03/src/main/resources/xsd/LEB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LEB">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Delivery" maxOccurs="ubounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="leb_sender"/>
							<xs:element type="xs:string" name="leb_receiver"/>
							<xs:element type="xs:string" name="leb_liefnr"/>
							<xs:element type="xs:string" name="leb_vkorg"/>
							<xs:element type="xs:string" name="leb_posnr"/>
							<xs:element type="xs:string" name="leb_matnr"/>
							<xs:element type="xs:string" name="leb-charge"/>
							<xs:element type="xs:string" name="leb_menge"/>
							<xs:element type="xs:string" name="leb_me"/>
							<xs:element type="xs:string" name="leb_ldat"/>
							<xs:element type="xs:string" name="leb_inthu"/>
							<xs:element type="xs:string" name="leb_kzpod"/>
							<xs:element type="xs:string" name="leb_pdsta"/>
							<xs:element type="xs:string" name="leb_hu"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>