ZITSANDBOXSBU/PXC_Intercompany_Liefereingangsbestaetigung_to_P01_STPPOD.Z_DELVRY03/src/main/resources/xsd/LEB_for_MM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="leb_vkorg">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_sender">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_receiver">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_posnr">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_pdsta">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_menge">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_me">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_matnr">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_liefnr">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_ldat">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_kzpod">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_inthu">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb_hu">
		<xs:complexType/>
	</xs:element>
	<xs:element name="leb-charge">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LEB">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Delivery" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delivery">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="leb_sender"/>
				<xs:element ref="leb_receiver"/>
				<xs:element ref="leb_liefnr"/>
				<xs:element ref="leb_vkorg"/>
				<xs:element ref="leb_posnr"/>
				<xs:element ref="leb_matnr"/>
				<xs:element ref="leb-charge"/>
				<xs:element ref="leb_menge"/>
				<xs:element ref="leb_me"/>
				<xs:element ref="leb_ldat"/>
				<xs:element ref="leb_inthu" minOccurs="0"/>
				<xs:element ref="leb_kzpod" minOccurs="0"/>
				<xs:element ref="leb_pdsta" minOccurs="0"/>
				<xs:element ref="leb_hu" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
