itxconnectivity/ITX_CON_Send_RFC_to_S4HANA_/src/main/resources/wsdl/BAPI_MATERIAL_GET_DETAIL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:element name="BAPI_MATERIAL_GET_DETAIL.Response">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="MATERIALPLANTDATA" type="BAPIMATDOC">
                            <xsd:annotation>
                                <xsd:documentation>Plant data</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="MATERIALVALUATIONDATA" type="BAPIMATDOBEW">
                            <xsd:annotation>
                                <xsd:documentation>Valuation area data</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="MATERIAL_GENERAL_DATA" type="BAPIMATDOA">
                            <xsd:annotation>
                                <xsd:documentation>General material data</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="RETURN" type="BAPIRETURN">
                            <xsd:annotation>
                                <xsd:documentation>Return Parameter</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="BAPI_MATERIAL_GET_DETAIL">
                <xsd:complexType>
                    <xsd:all>
                        <xsd:element minOccurs="0" name="MATERIAL">
                            <xsd:annotation>
                                <xsd:documentation>Material No.</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="18"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="MATERIAL_EVG" type="BAPIMGVMATNR"/>
                        <xsd:element minOccurs="0" name="MATERIAL_LONG">
                            <xsd:annotation>
                                <xsd:documentation>Material Number (40 Characters, Necessary for Technical Reasons)</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="40"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="PLANT">
                            <xsd:annotation>
                                <xsd:documentation>Plant</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="4"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="VALUATIONAREA">
                            <xsd:annotation>
                                <xsd:documentation>Valuation area</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="4"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element minOccurs="0" name="VALUATIONTYPE">
                            <xsd:annotation>
                                <xsd:documentation>Valuation type</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                    </xsd:all>
                </xsd:complexType>
            </xsd:element>
            <xsd:simpleType name="date">
                <xsd:union memberTypes="xsd:date genericDate" xmlns="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema"/>
            </xsd:simpleType>
            <xsd:simpleType name="genericDate">
                <xsd:restriction base="xsd:string">
                    <xsd:pattern value="....-..-.."/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="BAPIRETURN">
                <xsd:annotation>
                    <xsd:documentation>Return Parameter</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="TYPE">
                        <xsd:annotation>
                            <xsd:documentation>Message type: S Success, E Error, W Warning, I Info, A Abort</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CODE">
                        <xsd:annotation>
                            <xsd:documentation>Message code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MESSAGE">
                        <xsd:annotation>
                            <xsd:documentation>Message Text</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="220"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="LOG_NO">
                        <xsd:annotation>
                            <xsd:documentation>Application log: log number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="LOG_MSG_NO">
                        <xsd:annotation>
                            <xsd:documentation>Application log: Internal message serial number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="6"/>
                                <xsd:pattern value="\d+"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MESSAGE_V1">
                        <xsd:annotation>
                            <xsd:documentation>Message Variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MESSAGE_V2">
                        <xsd:annotation>
                            <xsd:documentation>Message Variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MESSAGE_V3">
                        <xsd:annotation>
                            <xsd:documentation>Message Variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MESSAGE_V4">
                        <xsd:annotation>
                            <xsd:documentation>Message Variable</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BAPIMATDOBEW">
                <xsd:annotation>
                    <xsd:documentation>Material Get Detail - Valuation Data</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PRICE_CTRL">
                        <xsd:annotation>
                            <xsd:documentation>Price control indicator</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MOVING_PR">
                        <xsd:annotation>
                            <xsd:documentation>Moving average price/periodic unit price</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="23"/>
                                <xsd:fractionDigits value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="STD_PRICE">
                        <xsd:annotation>
                            <xsd:documentation>Standard price</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="23"/>
                                <xsd:fractionDigits value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="PRICE_UNIT">
                        <xsd:annotation>
                            <xsd:documentation>Price unit</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="5"/>
                                <xsd:fractionDigits value="0"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CURRENCY">
                        <xsd:annotation>
                            <xsd:documentation>Currency Key</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="5"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CURRENCY_ISO">
                        <xsd:annotation>
                            <xsd:documentation>ISO code currency</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BAPIMATDOA">
                <xsd:annotation>
                    <xsd:documentation>Material Get Detail - Material Data at Client Level</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="MATL_DESC">
                        <xsd:annotation>
                            <xsd:documentation>Material description</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="OLD_MAT_NO">
                        <xsd:annotation>
                            <xsd:documentation>Old Material Number (18 Characters, Compatibility Mode)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MATL_TYPE">
                        <xsd:annotation>
                            <xsd:documentation>Material type</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="IND_SECTOR">
                        <xsd:annotation>
                            <xsd:documentation>Industry Sector</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="DIVISION">
                        <xsd:annotation>
                            <xsd:documentation>Division</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MATL_GROUP">
                        <xsd:annotation>
                            <xsd:documentation>Material Group</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="9"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="PROD_HIER">
                        <xsd:annotation>
                            <xsd:documentation>Product hierarchy</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="BASIC_MATL">
                        <xsd:annotation>
                            <xsd:documentation>Basic material (basic constituent of a material) - obsolete</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="14"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="STD_DESCR">
                        <xsd:annotation>
                            <xsd:documentation>Industry Standard Description (such as ANSI or ISO)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="LAB_DESIGN">
                        <xsd:annotation>
                            <xsd:documentation>Laboratory/design office</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="PROD_MEMO">
                        <xsd:annotation>
                            <xsd:documentation>Production/inspection memo</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="PAGEFORMAT">
                        <xsd:annotation>
                            <xsd:documentation>Page Format of Production Memo</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="4"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CONTAINER">
                        <xsd:annotation>
                            <xsd:documentation>Container requirements</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="STOR_CONDS">
                        <xsd:annotation>
                            <xsd:documentation>Storage conditions</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="TEMP_CONDS">
                        <xsd:annotation>
                            <xsd:documentation>Temperature conditions indicator</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="BASE_UOM">
                        <xsd:annotation>
                            <xsd:documentation>Base Unit of Measure</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="EAN_UPC">
                        <xsd:annotation>
                            <xsd:documentation>International Article Number (EAN/UPC)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="18"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="EAN_CAT">
                        <xsd:annotation>
                            <xsd:documentation>Category of International Article Number (EAN)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="SIZE_DIM">
                        <xsd:annotation>
                            <xsd:documentation>Size/dimensions</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="GROSS_WT">
                        <xsd:annotation>
                            <xsd:documentation>Gross weight</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="NET_WEIGHT">
                        <xsd:annotation>
                            <xsd:documentation>Net weight</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UNIT_OF_WT">
                        <xsd:annotation>
                            <xsd:documentation>Weight Unit</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="VOLUME">
                        <xsd:annotation>
                            <xsd:documentation>Volume</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="VOLUMEUNIT">
                        <xsd:annotation>
                            <xsd:documentation>Volume unit</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="LENGTH">
                        <xsd:annotation>
                            <xsd:documentation>Length</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="WIDTH">
                        <xsd:annotation>
                            <xsd:documentation>Width</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="HEIGHT">
                        <xsd:annotation>
                            <xsd:documentation>Height</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="13"/>
                                <xsd:fractionDigits value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UNIT_DIM">
                        <xsd:annotation>
                            <xsd:documentation>Unit of Dimension for Length/Width/Height</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MANU_MAT">
                        <xsd:annotation>
                            <xsd:documentation>Manufacturer Part Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MFR_NO">
                        <xsd:annotation>
                            <xsd:documentation>Manufacturer number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="BASE_UOM_ISO">
                        <xsd:annotation>
                            <xsd:documentation>Base unit of measure in ISO code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UNIT_OF_WT_ISO">
                        <xsd:annotation>
                            <xsd:documentation>Unit of weight in ISO code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="VOLUMEUNIT_ISO">
                        <xsd:annotation>
                            <xsd:documentation>Volume unit in ISO code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="UNIT_DIM_ISO">
                        <xsd:annotation>
                            <xsd:documentation>Unit for length/breadth/height in ISO code</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CREATED_ON" type="date">
                        <xsd:annotation>
                            <xsd:documentation>Created On</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CREATED_BY">
                        <xsd:annotation>
                            <xsd:documentation>Name of Person who Created the Object</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="LAST_CHNGE" type="date">
                        <xsd:annotation>
                            <xsd:documentation>Date of Last Change</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="CHANGED_BY">
                        <xsd:annotation>
                            <xsd:documentation>Name of person who changed object</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="12"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MATL_CAT">
                        <xsd:annotation>
                            <xsd:documentation>Material Category</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="2"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="EMPTIESBOM">
                        <xsd:annotation>
                            <xsd:documentation>Empties Bill of Material</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="BASIC_MATL_NEW">
                        <xsd:annotation>
                            <xsd:documentation>Basic Material</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="48"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="OLD_MAT_NO_LONG">
                        <xsd:annotation>
                            <xsd:documentation>Old material number (40 Characters, Technical Requirement)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BAPIMGVMATNR">
                <xsd:annotation>
                    <xsd:documentation>Bapie Structure for transfer of external material no, ver.,</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="MATERIAL_EXT">
                        <xsd:annotation>
                            <xsd:documentation>External Long Material Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="40"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MATERIAL_VERS">
                        <xsd:annotation>
                            <xsd:documentation>Material Version Number</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="10"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="MATERIAL_GUID">
                        <xsd:annotation>
                            <xsd:documentation>Material number (external GUID)</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="32"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="BAPIMATDOC">
                <xsd:annotation>
                    <xsd:documentation>Material Get Detail - Plant Data for the Material</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="PUR_GROUP">
                        <xsd:annotation>
                            <xsd:documentation>Purchasing Group</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="ISSUE_UNIT">
                        <xsd:annotation>
                            <xsd:documentation>Unit of issue</xsd:documentation>
                        </xsd:annotation>
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="3"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BAPI_MATERIAL_GET_DETAIL.Output">
    <wsdl:part name="parameters" element="BAPI_MATERIAL_GET_DETAIL.Response">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BAPI_MATERIAL_GET_DETAIL.Input">
    <wsdl:part name="parameters" element="BAPI_MATERIAL_GET_DETAIL">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BAPI_MATERIAL_GET_DETAIL.PortType">
    <wsdl:operation name="BAPI_MATERIAL_GET_DETAIL">
      <wsdl:input message="BAPI_MATERIAL_GET_DETAIL.Input">
    </wsdl:input>
      <wsdl:output message="BAPI_MATERIAL_GET_DETAIL.Output">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BAPI_MATERIAL_GET_DETAIL.PortTypeBinding" type="BAPI_MATERIAL_GET_DETAIL.PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <wsp:PolicyReference URI="#BN__binding"/>
        </wsp:Policy>
    <wsdl:operation name="BAPI_MATERIAL_GET_DETAIL">
      <soap:operation soapAction="http://sap.com/xi/WebService/soap1.1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="service">
    <wsdl:port name="port" binding="BAPI_MATERIAL_GET_DETAIL.PortTypeBinding">
      <soap:address location="https://p0293-iflmap.hcisbp.eu1.hana.ondemand.com:443/cxf/MATERIAL_GET_DETAIL"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:UsingPolicy required="true" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
    <wsp:Policy wsu:Id="BN__binding" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken>
                                    <wsp:Policy>
                                    <wsp:ExactlyOne>
                                    <sp:HttpBasicAuthentication/>
                                    <sp:RequireClientCertificate/>
                                    </wsp:ExactlyOne>
                                    </wsp:Policy>
                                </sp:HttpsToken>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <wsp:ExactlyOne>
                                    <sp:Basic256/>
                                    <sp:Basic192/>
                                    <sp:Basic128/>
                                    <sp:TripleDes/>
                                    <sp:Basic256Rsa15/>
                                    <sp:Basic192Rsa15/>
                                    <sp:Basic128Rsa15/>
                                    <sp:TripleDesRsa15/>
                                    <sp:Basic256Sha256/>
                                    <sp:Basic192Sha256/>
                                    <sp:Basic128Sha256/>
                                    <sp:TripleDesSha256/>
                                    <sp:Basic256Sha256Rsa15/>
                                    <sp:Basic192Sha256Rsa15/>
                                    <sp:Basic128Sha256Rsa15/>
                                    <sp:TripleDesSha256Rsa15/>
                                </wsp:ExactlyOne>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
</wsdl:definitions>
