itxbestpractices/ITX_BestPractice_Mail_Sender_to_XML_Converter/src/main/resources/xsd/quentic_org.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="row">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ORGID" type="xs:unsignedInt" />
              <xs:element name="NAME" type="xs:string" />
              <xs:element name="SHORTNAME" type="xs:string" />
              <xs:element name="DESCRIPTION" type="xs:string" />
              <xs:element name="PARENT_ORGID" type="xs:string" />
              <xs:element name="HEAD_PERSONID" type="xs:string" />
              <xs:element name="DATE_START" />
              <xs:element name="DATE_END" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>