ZITSANDBOXSBU/CC_03_SAP_SuccessFactors_to_Concur_EmployeeMT350/src/main/resources/xsd/350.xsd

<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Travel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Travel" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="TRAVEL"/>
							<xs:element type="xs:string" name="Employee_ID"/>
							<xs:element type="xs:string" name="Name_Prefix"/>
							<xs:element type="xs:string" name="Nick_Suffix"/>
							<xs:element type="xs:string" name="Nick_Name"/>
							<xs:element type="xs:string" name="Redress_Number"/>
							<xs:element type="xs:string" name="Gender"/>
							<xs:element type="xs:string" name="Date_of_Birth"/>
							<xs:element type="xs:string" name="Employee_ID_of_the_Travel_Approver"/>
							<xs:element type="xs:string" name="Job_Title"/>
							<xs:element type="xs:string" name="Work_Phone"/>
							<xs:element type="xs:string" name="Work_Phone_Extension"/>
							<xs:element type="xs:string" name="Work_Fax"/>
							<xs:element type="xs:string" name="Home_Phone"/>
							<xs:element type="xs:string" name="Cell_Phone"/>
							<xs:element type="xs:string" name="Pager-Phone"/>
							<xs:element type="xs:string" name="Travel_Name_Remark"/>
							<xs:element type="xs:string" name="Travel_Rule_Class_Name"/>
							<xs:element type="xs:string" name="GDS_Profile_Name"/>
							<xs:element type="xs:string" name="Org_Unit_Division"/>
							<xs:element type="xs:string" name="Home_Street_Address"/>
							<xs:element type="xs:string" name="Home_City"/>
							<xs:element type="xs:string" name="Home_State"/>
							<xs:element type="xs:string" name="Home_Postal_Code"/>
							<xs:element type="xs:string" name="Home_Country"/>
							<xs:element type="xs:string" name="Work_Street_Address"/>
							<xs:element type="xs:string" name="Work_City"/>
							<xs:element type="xs:string" name="Work_State"/>
							<xs:element type="xs:string" name="Work_Postal_Code"/>
							<xs:element type="xs:string" name="Work_Country"/>
							<xs:element type="xs:string" name="Email_2"/>
							<xs:element type="xs:string" name="Email_3"/>
							<xs:element type="xs:string" name="Custom_1"/>
							<xs:element type="xs:string" name="Custom_2"/>
							<xs:element type="xs:string" name="Custom_3"/>
							<xs:element type="xs:string" name="Custom_4"/>
							<xs:element type="xs:string" name="Custom_5"/>
							<xs:element type="xs:string" name="Custom_6"/>
							<xs:element type="xs:string" name="Custom_7"/>
							<xs:element type="xs:string" name="Custom_8"/>
							<xs:element type="xs:string" name="Custom_9"/>
							<xs:element type="xs:string" name="Custom_10"/>
							<xs:element type="xs:string" name="Custom_11"/>
							<xs:element type="xs:string" name="Custom_12"/>
							<xs:element type="xs:string" name="Custom_13"/>
							<xs:element type="xs:string" name="Custom_14"/>
							<xs:element type="xs:string" name="Custom_15"/>
							<xs:element type="xs:string" name="Custom_16"/>
							<xs:element type="xs:string" name="Custom_17"/>
							<xs:element type="xs:string" name="Custom_18"/>
							<xs:element type="xs:string" name="Custom_19"/>
							<xs:element type="xs:string" name="Custom_20"/>
							<xs:element type="xs:string" name="Custom_21"/>
							<xs:element type="xs:string" name="Custom_22"/>
							<xs:element type="xs:string" name="Custom_23"/>
							<xs:element type="xs:string" name="Custom_24"/>
							<xs:element type="xs:string" name="Custom_25"/>
							<xs:element type="xs:string" name="XML_Profile_Synchronization_ID"/>
							<xs:element type="xs:string" name="Profile_User_Permission"/>
							<xs:element type="xs:string" name="Amadeus_User_Permission"/>
							<xs:element type="xs:string" name="Open_Booking_User_Permission"/>
							<xs:element type="xs:string" name="Future_Use_5"/>
							<xs:element type="xs:string" name="Future_Use_6"/>
							<xs:element type="xs:string" name="Future_Use_7"/>
							<xs:element type="xs:string" name="Future_Use_8"/>
							<xs:element type="xs:string" name="Future_Use_9"/>
							<xs:element type="xs:string" name="Future_Use_10"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
