proAlphaIntegration/FATH_IN_S4_Send_Materials_TO_proAlpha/src/main/resources/xsd/CLFMAS02.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
 <xsd:element name="CLFMAS02">
  <xsd:annotation>
   <xsd:documentation>Master Objektklassifikation</xsd:documentation>
  </xsd:annotation>
  <xsd:complexType>
   <xsd:sequence>
    <xsd:element name="IDOC">
     <xsd:complexType>
      <xsd:sequence>
       <xsd:element name="EDI_DC40">
        <xsd:annotation>
         <xsd:documentation>IDoc-Kontrollsatz für Schnittstelle zu einem externen System</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element fixed="EDI_DC40" name="TABNAM" type="xsd:string">
           <xsd:annotation>
            <xsd:documentation>Name der Tabellenstruktur</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MANDT">
           <xsd:annotation>
            <xsd:documentation>Mandant</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCNUM">
           <xsd:annotation>
            <xsd:documentation>Nummer des IDocs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="16"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DOCREL">
           <xsd:annotation>
            <xsd:documentation>SAP-Release des IDocs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="4"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STATUS">
           <xsd:annotation>
            <xsd:documentation>Status des IDocs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="DIRECT">
           <xsd:annotation>
            <xsd:documentation>Richtung</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:enumeration value="1">
              <xsd:annotation>
               <xsd:documentation>Ausgang</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
             <xsd:enumeration value="2">
              <xsd:annotation>
               <xsd:documentation>Eingang</xsd:documentation>
              </xsd:annotation>
             </xsd:enumeration>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OUTMOD">
           <xsd:annotation>
            <xsd:documentation>Ausgabemodus</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="EXPRSS">
           <xsd:annotation>
            <xsd:documentation>Übersteuerung im Eingang</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="TEST">
           <xsd:annotation>
            <xsd:documentation>Testkennzeichen</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element fixed="CLFMAS02" name="IDOCTYP" type="xsd:string">
           <xsd:annotation>
            <xsd:documentation>Name des Basistyps</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element fixed="" minOccurs="0" name="CIMTYP" type="xsd:string">
           <xsd:annotation>
            <xsd:documentation>Erweiterung (vom Kunden definiert)</xsd:documentation>
           </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESTYP">
           <xsd:annotation>
            <xsd:documentation>Nachrichtentyp</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESCOD">
           <xsd:annotation>
            <xsd:documentation>Nachrichtenvariante</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESFCT">
           <xsd:annotation>
            <xsd:documentation>Nachrichtenfunktion</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STD">
           <xsd:annotation>
            <xsd:documentation>EDI-Standard, Kennzeichen</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STDVRS">
           <xsd:annotation>
            <xsd:documentation>EDI-Standard, Version und Release</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="STDMES">
           <xsd:annotation>
            <xsd:documentation>EDI-Nachrichtentyp</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPOR">
           <xsd:annotation>
            <xsd:documentation>Absenderport (SAP-System, externes Subsystem)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRT">
           <xsd:annotation>
            <xsd:documentation>Partnerart des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDPFC">
           <xsd:annotation>
            <xsd:documentation>Partnerrolle des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="SNDPRN">
           <xsd:annotation>
            <xsd:documentation>Partnernummer des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDSAD">
           <xsd:annotation>
            <xsd:documentation>Absenderadresse (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SNDLAD">
           <xsd:annotation>
            <xsd:documentation>Logische Adresse des Absenders</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPOR">
           <xsd:annotation>
            <xsd:documentation>Empfängerport</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVPRT">
           <xsd:annotation>
            <xsd:documentation>Partnerart des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVPFC">
           <xsd:annotation>
            <xsd:documentation>Partnerrolle des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="2"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element name="RCVPRN">
           <xsd:annotation>
            <xsd:documentation>Partnernummer des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVSAD">
           <xsd:annotation>
            <xsd:documentation>Empfängeradresse (SADR)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="21"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="RCVLAD">
           <xsd:annotation>
            <xsd:documentation>Logische Adresse des Empfängers</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CREDAT">
           <xsd:annotation>
            <xsd:documentation>Erstellungsdatum</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="8"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="CRETIM">
           <xsd:annotation>
            <xsd:documentation>Erstellungsuhrzeit</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="6"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFINT">
           <xsd:annotation>
            <xsd:documentation>Übertragungsdatei (EDI Interchange)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFGRP">
           <xsd:annotation>
            <xsd:documentation>Nachrichtengruppe (EDI Message Group)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="REFMES">
           <xsd:annotation>
            <xsd:documentation>Nachricht (EDI Message)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="14"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ARCKEY">
           <xsd:annotation>
            <xsd:documentation>Schlüssel des externen Nachrichtenarchivs</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="70"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="SERIAL">
           <xsd:annotation>
            <xsd:documentation>Serialisierung</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="E1OCLFM">
        <xsd:annotation>
         <xsd:documentation>Master Objektklassifikation</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="MSGFN">
           <xsd:annotation>
            <xsd:documentation>Funktion</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBTAB">
           <xsd:annotation>
            <xsd:documentation>Name der Datenbanktabelle des Objektes</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="10"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBJEK">
           <xsd:annotation>
            <xsd:documentation>Schlüssel des zu klassifizierenden Objektes</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="50"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="KLART">
           <xsd:annotation>
            <xsd:documentation>Klassenart</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="3"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MAFID">
           <xsd:annotation>
            <xsd:documentation>Kennzeichen Objekt/Klasse</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="1"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBJECT_TABLE">
           <xsd:annotation>
            <xsd:documentation>Name der Datenbanktabelle des Objektes</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBJEK_LONG">
           <xsd:annotation>
            <xsd:documentation>Klassifizierung: Objektfeld (Länge 90, technisch erforderl.)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="90"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="9999" minOccurs="0" name="E1KSSKM">
           <xsd:annotation>
            <xsd:documentation>Verteilung Klassifikation: Objekt-Klassenzuordnung</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element minOccurs="0" name="MSGFN">
              <xsd:annotation>
               <xsd:documentation>Funktion</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="CLASS">
              <xsd:annotation>
               <xsd:documentation>Klassennummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="AENNR">
              <xsd:annotation>
               <xsd:documentation>Änderungsnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="DATUV">
              <xsd:annotation>
               <xsd:documentation>Datum gültig ab</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="STATU">
              <xsd:annotation>
               <xsd:documentation>Status der Klassifizierung</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="STDCL">
              <xsd:annotation>
               <xsd:documentation>Kennzeichen: Standardklasse</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element maxOccurs="9999" minOccurs="0" name="E1AUSPM">
           <xsd:annotation>
            <xsd:documentation>Verteilung Klassifikation: Objekt-Merkmalbewertung</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element minOccurs="0" name="MSGFN">
              <xsd:annotation>
               <xsd:documentation>Funktion</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATNAM">
              <xsd:annotation>
               <xsd:documentation>Merkmalname</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="AENNR">
              <xsd:annotation>
               <xsd:documentation>Änderungsnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="DATUV">
              <xsd:annotation>
               <xsd:documentation>Datum gültig ab</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATWRT">
              <xsd:annotation>
               <xsd:documentation>Merkmalswert</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATFLV">
              <xsd:annotation>
               <xsd:documentation>interner Fließkomma-Wert von</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="22"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATAWE">
              <xsd:annotation>
               <xsd:documentation>Maßeinheit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATFLB">
              <xsd:annotation>
               <xsd:documentation>interner Fließkomma-Wert bis</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="22"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATAW1">
              <xsd:annotation>
               <xsd:documentation>Maßeinheit</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATCOD">
              <xsd:annotation>
               <xsd:documentation>Code für Wertebeziehung</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATTLV">
              <xsd:annotation>
               <xsd:documentation>Toleranz von</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="22"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATTLB">
              <xsd:annotation>
               <xsd:documentation>Toleranz bis</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="22"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATPRZ">
              <xsd:annotation>
               <xsd:documentation>Kennzeichen für Toleranzangaben in Prozent</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATINC">
              <xsd:annotation>
               <xsd:documentation>Schrittweite innerhalb einer Intervallangabe</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="22"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATAUT">
              <xsd:annotation>
               <xsd:documentation>Klassifizierung: Autor</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATIMB">
              <xsd:annotation>
               <xsd:documentation>Merkmalnummer des Benutzerdefinierten Datentyps</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATZIS">
              <xsd:annotation>
               <xsd:documentation>Instanzenzähler</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:pattern value="\d+"/>
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="UDEF_CHAR">
              <xsd:annotation>
               <xsd:documentation>Merkmalname</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="ATWRT_LONG">
              <xsd:annotation>
               <xsd:documentation>Merkmalswert</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="70"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
          <xsd:element name="E1DATEM">
           <xsd:annotation>
            <xsd:documentation>Master Key-Datum und Änderungsnummer</xsd:documentation>
           </xsd:annotation>
           <xsd:complexType>
            <xsd:sequence>
             <xsd:element minOccurs="0" name="MSGFN">
              <xsd:annotation>
               <xsd:documentation>Funktion</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="KEY_DATE">
              <xsd:annotation>
               <xsd:documentation>Systemdatum</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="8"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="AENNR">
              <xsd:annotation>
               <xsd:documentation>Änderungsnummer</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
             <xsd:element minOccurs="0" name="EFFECTIVITY">
              <xsd:annotation>
               <xsd:documentation>Gültigkeitsparameter bewerten / Änderungsnummern übersteuern</xsd:documentation>
              </xsd:annotation>
              <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
               </xsd:restriction>
              </xsd:simpleType>
             </xsd:element>
            </xsd:sequence>
            <xsd:attribute name="SEGMENT" use="required">
             <xsd:simpleType>
              <xsd:restriction base="xsd:string">
               <xsd:enumeration value="1"/>
              </xsd:restriction>
             </xsd:simpleType>
            </xsd:attribute>
           </xsd:complexType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element minOccurs="0" name="E1UPSLINK">
        <xsd:annotation>
         <xsd:documentation>Bezug von Objekt zu übergeordnetem UPS</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="UPSNAM">
           <xsd:annotation>
            <xsd:documentation>ALE-Verteilungspaket : Name</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="ORGNAM">
           <xsd:annotation>
            <xsd:documentation>ALE-Verteilungspaket : Originalpaket (Name)</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="MESTYP">
           <xsd:annotation>
            <xsd:documentation>Nachrichtentyp</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBJID">
           <xsd:annotation>
            <xsd:documentation>ALE-Verteilungspaket : Objektschlüssel</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="120"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="OBJVAL">
           <xsd:annotation>
            <xsd:documentation>ALE-Verteilungspaket : Objektgültigkeit</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="20"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
       <xsd:element maxOccurs="unbounded" minOccurs="0" name="E1IDOCENHANCEMENT">
        <xsd:annotation>
         <xsd:documentation>Segment zur dynamischen Erweiterung von Idoctypen</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
         <xsd:sequence>
          <xsd:element minOccurs="0" name="IDENTIFIER">
           <xsd:annotation>
            <xsd:documentation>Datencontainers für Erweiterung von Idoctypen</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="30"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="DATA">
           <xsd:annotation>
            <xsd:documentation>Datencontainer für Idoc-Erweiterung</xsd:documentation>
           </xsd:annotation>
           <xsd:simpleType>
            <xsd:restriction base="xsd:string">
             <xsd:maxLength value="970"/>
            </xsd:restriction>
           </xsd:simpleType>
          </xsd:element>
         </xsd:sequence>
         <xsd:attribute name="SEGMENT" use="required">
          <xsd:simpleType>
           <xsd:restriction base="xsd:string">
            <xsd:enumeration value="1"/>
           </xsd:restriction>
          </xsd:simpleType>
         </xsd:attribute>
        </xsd:complexType>
       </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="BEGIN" use="required">
       <xsd:simpleType>
        <xsd:restriction base="xsd:string">
         <xsd:enumeration value="1"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:attribute>
     </xsd:complexType>
    </xsd:element>
   </xsd:sequence>
  </xsd:complexType>
 </xsd:element>
</xsd:schema>