ZITSANDBOXSGR/ZIT_SGR_SendOrder_Async/src/main/resources/xsd/SendOrder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://hci.sap.com/demo"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://hci.sap.com/demo">
	<xsd:element name="Order_MT" type="Order_DT" />
	<xsd:complexType name="Order_DT">
		<xsd:sequence>
			<xsd:element name="orderNumber" type="xsd:string" />
			<xsd:element name="customerName" type="xsd:string" />
			<xsd:element name="orderAmount" type="xsd:decimal" />
			<xsd:element name="currency" type="xsd:string" />
			<xsd:element name="taxAmount" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>