ZITSANDBOXMCT/Create_Central_Order/src/main/resources/wsdl/SalesOrderRequest.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:p1="http://test" name="SalesOrderRequest" targetNamespace="http://test"><wsdl:documentation/><wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://test" targetNamespace="http://test"><xsd:element name="SalesOrderRequest" type="SalesOrderRequest"/><xsd:complexType name="SalesOrderRequest"><xsd:annotation><xsd:appinfo source="http://sap.com/xi/VersionID">292d2f75013811eeb7f6000000942ef6</xsd:appinfo></xsd:annotation><xsd:sequence><xsd:element name="MessageHeader"><xsd:complexType><xsd:sequence><xsd:element name="ReferenceID" type="xsd:string"/><xsd:element name="CreationDateTime" type="xsd:string"/><xsd:element name="SenderBusinessSystemID" type="xsd:string"/><xsd:element name="StandardID" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SalesOrder"><xsd:complexType><xsd:sequence><xsd:element name="SalesOrderID" type="xsd:string"/><xsd:element name="InvoiceNumber" type="xsd:string"/><xsd:element name="ExternalDocumentID" type="xsd:string"/><xsd:element name="DistributionChannel" type="xsd:string"/><xsd:element name="SalesOrderDate" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema></wsdl:types><wsdl:message name="SalesOrderRequest"><wsdl:documentation/><wsdl:part element="p1:SalesOrderRequest" name="SalesOrderRequest"/></wsdl:message></wsdl:definitions>