itxalerting/ITX_ALERTING_Send_E-Mail_For_Keystore_Entries_Expiry/src/main/resources/xsd/CSV_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="CSV_XML" type="CSV_XML"/>
	<xsd:complexType name="CSV_XML">
		<xsd:sequence>
			<xsd:element name="ROW" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Row</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="COLUMN" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Column</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>