itxalerting/ITX_ALERTING_Send_E-Mail_For_Keystore_Entries_Expiry/src/main/resources/xsd/KeystoreEntries.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="KeystoreEntries">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="KeystoreEntry" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Alias" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Alias</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ValidNotAfter" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>ValidNotAfter</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="Hexalias" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>ValidNotAfter</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>