BNTGLOBALP2PCOUPA/S4HANA_COSMAS_to_Coupa_PreparePUT/src/main/resources/xsd/lookup-value.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="lookup-value">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="active" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="external-ref-num" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="external-ref-code" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="is-default" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="parent" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="external-ref-code" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="lookup" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="lookup" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="custom-fields" minOccurs="0" maxOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="owner">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="login" type="xs:string" minOccurs="0" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>