ZITSANDBOXMCT/MCT_Demo_Business_One_Order_to_RequestBin/src/main/resources/xsd/SAP_BusinessOne_Example_SalesOrder.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BO">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AdmInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="Object"/>
                    <xs:element type="xs:byte" name="Version"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Documents">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="row">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:short" name="DocEntry"/>
                          <xs:element type="xs:short" name="DocNum"/>
                          <xs:element type="xs:string" name="DocType"/>
                          <xs:element type="xs:string" name="HandWritten"/>
                          <xs:element type="xs:string" name="Printed"/>
                          <xs:element type="xs:int" name="DocDate"/>
                          <xs:element type="xs:int" name="DocDueDate"/>
                          <xs:element type="xs:string" name="CardCode"/>
                          <xs:element type="xs:string" name="CardName"/>
                          <xs:element type="xs:string" name="Address"/>
                          <xs:element type="xs:float" name="DocTotal"/>
                          <xs:element type="xs:string" name="DocCurrency"/>
                          <xs:element type="xs:float" name="DocRate"/>
                          <xs:element type="xs:short" name="Reference1"/>
                          <xs:element type="xs:string" name="JournalMemo"/>
                          <xs:element type="xs:byte" name="PaymentGroupCode"/>
                          <xs:element type="xs:short" name="DocTime"/>
                          <xs:element type="xs:byte" name="SalesPersonCode"/>
                          <xs:element type="xs:byte" name="TransportationCode"/>
                          <xs:element type="xs:string" name="Confirmed"/>
                          <xs:element type="xs:string" name="SummeryType"/>
                          <xs:element type="xs:byte" name="ContactPersonCode"/>
                          <xs:element type="xs:string" name="ShowSCN"/>
                          <xs:element type="xs:byte" name="Series"/>
                          <xs:element type="xs:int" name="TaxDate"/>
                          <xs:element type="xs:string" name="PartialSupply"/>
                          <xs:element type="xs:byte" name="DocObjectCode"/>
                          <xs:element type="xs:string" name="ShipToCode"/>
                          <xs:element type="xs:string" name="FederalTaxID"/>
                          <xs:element type="xs:float" name="DiscountPercent"/>
                          <xs:element type="xs:float" name="DocTotalFc"/>
                          <xs:element type="xs:string" name="RevisionPo"/>
                          <xs:element type="xs:int" name="RequriedDate"/>
                          <xs:element type="xs:int" name="CancelDate"/>
                          <xs:element type="xs:string" name="BlockDunning"/>
                          <xs:element type="xs:string" name="Pick"/>
                          <xs:element type="xs:string" name="PaymentMethod"/>
                          <xs:element type="xs:string" name="PaymentBlock"/>
                          <xs:element type="xs:string" name="MaximumCashDiscount"/>
                          <xs:element type="xs:string" name="WareHouseUpdateType"/>
                          <xs:element type="xs:string" name="Rounding"/>
                          <xs:element type="xs:string" name="DeferredTax"/>
                          <xs:element type="xs:byte" name="NumberOfInstallments"/>
                          <xs:element type="xs:string" name="ApplyTaxOnFirstInstallment"/>
                          <xs:element type="xs:byte" name="DocumentsOwner"/>
                          <xs:element type="xs:string" name="DocumentSubType"/>
                          <xs:element type="xs:string" name="Address2"/>
                          <xs:element type="xs:string" name="PayToCode"/>
                          <xs:element type="xs:string" name="UseShpdGoodsAct"/>
                          <xs:element type="xs:string" name="IsPayToBank"/>
                          <xs:element type="xs:float" name="DownPayment"/>
                          <xs:element type="xs:string" name="ReserveInvoice"/>
                          <xs:element type="xs:byte" name="LanguageCode"/>
                          <xs:element type="xs:byte" name="SequenceModel"/>
                          <xs:element type="xs:string" name="UseCorrectionVATGroup"/>
                          <xs:element type="xs:float" name="DownPaymentAmount"/>
                          <xs:element type="xs:float" name="DownPaymentPercentage"/>
                          <xs:element type="xs:string" name="DownPaymentType"/>
                          <xs:element type="xs:float" name="DownPaymentAmountSC"/>
                          <xs:element type="xs:float" name="DownPaymentAmountFC"/>
                          <xs:element type="xs:float" name="VatPercent"/>
                          <xs:element type="xs:float" name="ServiceGrossProfitPercent"/>
                          <xs:element type="xs:float" name="RoundingDiffAmount"/>
                          <xs:element type="xs:short" name="ControlAccount"/>
                          <xs:element type="xs:string" name="InsuranceOperation347"/>
                          <xs:element type="xs:string" name="ArchiveNonremovableSalesQuotation"/>
                          <xs:element type="xs:byte" name="ExtraMonth"/>
                          <xs:element type="xs:byte" name="ExtraDays"/>
                          <xs:element type="xs:byte" name="CashDiscountDateOffset"/>
                          <xs:element type="xs:string" name="StartFrom"/>
                          <xs:element type="xs:string" name="NTSApproved"/>
                          <xs:element type="xs:string" name="EDocGenerationType"/>
                          <xs:element type="xs:string" name="EDocStatus"/>
                          <xs:element type="xs:string" name="DownPaymentStatus"/>
                          <xs:element type="xs:string" name="GroupHandWritten"/>
                          <xs:element type="xs:string" name="CreateOnlineQuotation"/>
                          <xs:element type="xs:string" name="ApplyCurrentVATRatesForDownPaymentsToDraw"/>
                          <xs:element type="xs:string" name="ClosingOption"/>
                          <xs:element type="xs:string" name="OpenForLandedCosts"/>
                          <xs:element type="xs:string" name="RelevantToGTS"/>
                          <xs:element type="xs:string" name="IsAlteration"/>
                          <xs:element type="xs:string" name="DocumentDelivery"/>
                          <xs:element type="xs:string" name="ReuseDocumentNum"/>
                          <xs:element type="xs:string" name="ReuseNotaFiscalNum"/>
                          <xs:element type="xs:string" name="PrintSEPADirect"/>
                          <xs:element type="xs:string" name="InterimType"/>
                          <xs:element type="xs:byte" name="RelatedType"/>
                          <xs:element type="xs:string" name="ExcludeFromTaxReportControlStatementVAT"/>
                          <xs:element type="xs:string" name="CommissionTrade"/>
                          <xs:element type="xs:string" name="CommissionTradeReturn"/>
                          <xs:element type="xs:string" name="FatherType"/>
                          <xs:element type="xs:string" name="IndFinal"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Document_Lines">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="row" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="LineNum"/>
                          <xs:element type="xs:string" name="ItemCode"/>
                          <xs:element type="xs:string" name="ItemDescription"/>
                          <xs:element type="xs:float" name="Quantity"/>
                          <xs:element type="xs:int" name="ShipDate"/>
                          <xs:element type="xs:float" name="Price"/>
                          <xs:element type="xs:float" name="PriceAfterVAT"/>
                          <xs:element type="xs:string" name="Currency"/>
                          <xs:element type="xs:float" name="Rate"/>
                          <xs:element type="xs:float" name="DiscountPercent"/>
                          <xs:element type="xs:string" name="VendorNum"/>
                          <xs:element type="xs:byte" name="WarehouseCode"/>
                          <xs:element type="xs:byte" name="SalesPersonCode"/>
                          <xs:element type="xs:float" name="CommisionPercent"/>
                          <xs:element type="xs:string" name="TreeType"/>
                          <xs:element type="xs:short" name="AccountCode"/>
                          <xs:element type="xs:string" name="UseBaseUnits"/>
                          <xs:element type="xs:string" name="SupplierCatNum"/>
                          <xs:element type="xs:string" name="ProjectCode"/>
                          <xs:element type="xs:string" name="VatGroup"/>
                          <xs:element type="xs:float" name="Height1"/>
                          <xs:element type="xs:float" name="Height2"/>
                          <xs:element type="xs:float" name="Lengh1"/>
                          <xs:element type="xs:float" name="Lengh2"/>
                          <xs:element type="xs:float" name="Weight1"/>
                          <xs:element type="xs:float" name="Weight2"/>
                          <xs:element type="xs:float" name="Factor1"/>
                          <xs:element type="xs:float" name="Factor2"/>
                          <xs:element type="xs:float" name="Factor3"/>
                          <xs:element type="xs:float" name="Factor4"/>
                          <xs:element type="xs:byte" name="BaseType"/>
                          <xs:element type="xs:float" name="Volume"/>
                          <xs:element type="xs:byte" name="VolumeUnit"/>
                          <xs:element type="xs:float" name="Width1"/>
                          <xs:element type="xs:float" name="Width2"/>
                          <xs:element type="xs:string" name="Address"/>
                          <xs:element type="xs:string" name="TaxType"/>
                          <xs:element type="xs:string" name="TaxLiable"/>
                          <xs:element type="xs:string" name="BackOrder"/>
                          <xs:element type="xs:string" name="FreeText" minOccurs="0"/>
                          <xs:element type="xs:byte" name="ShippingMethod"/>
                          <xs:element type="xs:string" name="CorrectionInvoiceItem"/>
                          <xs:element type="xs:float" name="CorrInvAmountToStock"/>
                          <xs:element type="xs:float" name="CorrInvAmountToDiffAcct"/>
                          <xs:element type="xs:string" name="WTLiable"/>
                          <xs:element type="xs:string" name="DeferredTax"/>
                          <xs:element type="xs:float" name="UnitsOfMeasurment"/>
                          <xs:element type="xs:float" name="LineTotal"/>
                          <xs:element type="xs:float" name="TaxPercentagePerRow"/>
                          <xs:element type="xs:float" name="TaxTotal"/>
                          <xs:element type="xs:string" name="ConsumerSalesForecast"/>
                          <xs:element type="xs:float" name="ExciseAmount"/>
                          <xs:element type="xs:string" name="SWW"/>
                          <xs:element type="xs:string" name="DistributeExpense"/>
                          <xs:element type="xs:float" name="RowTotalFC"/>
                          <xs:element type="xs:string" name="TaxOnly"/>
                          <xs:element type="xs:float" name="UnitPrice"/>
                          <xs:element type="xs:string" name="LineStatus"/>
                          <xs:element type="xs:float" name="PackageQuantity"/>
                          <xs:element type="xs:string" name="LineType"/>
                          <xs:element type="xs:short" name="COGSAccountCode"/>
                          <xs:element type="xs:string" name="ChangeAssemlyBoMWarehouse"/>
                          <xs:element type="xs:float" name="GrossBuyPrice"/>
                          <xs:element type="xs:byte" name="GrossBase"/>
                          <xs:element type="xs:float" name="GrossProfitTotalBasePrice"/>
                          <xs:element type="xs:string" name="ItemDetails"/>
                          <xs:element type="xs:float" name="RequiredQuantity"/>
                          <xs:element type="xs:string" name="WithoutInventoryMovement"/>
                          <xs:element type="xs:short" name="DocEntry"/>
                          <xs:element type="xs:float" name="Surpluses"/>
                          <xs:element type="xs:float" name="DefectAndBreakup"/>
                          <xs:element type="xs:float" name="Shortages"/>
                          <xs:element type="xs:string" name="ConsiderQuantity"/>
                          <xs:element type="xs:string" name="PartialRetirement"/>
                          <xs:element type="xs:float" name="RetirementQuantity"/>
                          <xs:element type="xs:float" name="RetirementAPC"/>
                          <xs:element type="xs:string" name="ThirdParty"/>
                          <xs:element type="xs:float" name="GrossProfit"/>
                          <xs:element type="xs:float" name="GrossProfitFC"/>
                          <xs:element type="xs:float" name="GrossProfitSC"/>
                          <xs:element type="xs:byte" name="UoMEntry"/>
                          <xs:element type="xs:float" name="InventoryQuantity"/>
                          <xs:element type="xs:byte" name="Incoterms"/>
                          <xs:element type="xs:byte" name="TransportMode"/>
                          <xs:element type="xs:string" name="ChangeInventoryQuantityIndependently"/>
                          <xs:element type="xs:float" name="GrossPrice"/>
                          <xs:element type="xs:float" name="GrossTotal"/>
                          <xs:element type="xs:float" name="GrossTotalFC"/>
                          <xs:element type="xs:byte" name="NCMCode"/>
                          <xs:element type="xs:string" name="IndEscala"/>
                          <xs:element type="xs:string" name="ReverseCharge"/>
                          <xs:element type="xs:string" name="ShipToCode"/>
                          <xs:element type="xs:string" name="ShipToDescription"/>
                          <xs:element type="xs:byte" name="OwnerCode"/>
                          <xs:element type="xs:string" name="CUSplit"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="TaxExtension">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="row">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:float" name="NetWeight"/>
                          <xs:element type="xs:float" name="GrossWeight"/>
                          <xs:element type="xs:string" name="StreetS"/>
                          <xs:element type="xs:string" name="BuildingS"/>
                          <xs:element type="xs:string" name="CityS"/>
                          <xs:element type="xs:int" name="ZipCodeS"/>
                          <xs:element type="xs:string" name="CountyS"/>
                          <xs:element type="xs:string" name="StateS"/>
                          <xs:element type="xs:string" name="CountryS"/>
                          <xs:element type="xs:string" name="StreetB"/>
                          <xs:element type="xs:string" name="BuildingB"/>
                          <xs:element type="xs:string" name="CityB"/>
                          <xs:element type="xs:int" name="ZipCodeB"/>
                          <xs:element type="xs:string" name="CountyB"/>
                          <xs:element type="xs:string" name="StateB"/>
                          <xs:element type="xs:string" name="CountryB"/>
                          <xs:element type="xs:string" name="ImportOrExportType"/>
                          <xs:element type="xs:short" name="DocEntry"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="AddressExtension">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="row">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="ShipToStreet"/>
                          <xs:element type="xs:string" name="ShipToBuilding"/>
                          <xs:element type="xs:string" name="ShipToCity"/>
                          <xs:element type="xs:int" name="ShipToZipCode"/>
                          <xs:element type="xs:string" name="ShipToCounty"/>
                          <xs:element type="xs:string" name="ShipToState"/>
                          <xs:element type="xs:string" name="ShipToCountry"/>
                          <xs:element type="xs:string" name="BillToStreet"/>
                          <xs:element type="xs:string" name="BillToBuilding"/>
                          <xs:element type="xs:string" name="BillToCity"/>
                          <xs:element type="xs:int" name="BillToZipCode"/>
                          <xs:element type="xs:string" name="BillToCounty"/>
                          <xs:element type="xs:string" name="BillToState"/>
                          <xs:element type="xs:string" name="BillToCountry"/>
                          <xs:element type="xs:short" name="DocEntry"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>