SandboxODN/NDBS_Uebung_11_MessageMapping_ODN/src/main/resources/xsd/Uebung_11_Input_XML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Z_UEBUNG_INPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element type="xs:string" name="currency" minOccurs="0"/>
					<xs:element type="xs:string" name="salesOrg" minOccurs="1"/>
					<xs:element type="xs:string" name="distributionChannel" minOccurs="1"/>
					<xs:element type="xs:dateTime" name="orderDate" minOccurs="0"/>
				</xs:sequence>
				<xs:element name="partner">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="number" minOccurs="1"/>
							<xs:element type="xs:string" name="firstName" minOccurs="1"/>
							<xs:element type="xs:string" name="lastName" minOccurs="0"/>
							<xs:element type="xs:string" name="street" minOccurs="0"/>
							<xs:element type="xs:string" name="houseNumber" minOccurs="0"/>
							<xs:element type="xs:string" name="city" minOccurs="0"/>
							<xs:element type="xs:string" name="zip" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:dateTime" name="orderNumber" minOccurs="0"/>
				<xs:element name="item" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="position" minOccurs="1"/>
							<xs:element type="xs:string" name="material" minOccurs="1"/>
							<xs:element type="xs:string" name="quantity" minOccurs="1"/>
							<xs:element type="xs:string" name="deliveryDate" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>