SandboxODN/NDBS_Uebung_11_MessageMapping_ODN/src/main/resources/xsd/Uebung_11_Output_XML.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Z_UEBUNG_OUTPUT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SEG_HEADER" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="SALES_ORG" minOccurs="1"/>
							<xs:element type="xs:string" name="DISTR_CHAN" minOccurs="1"/>
							<xs:element type="xs:dateTime" name="PURCH_DATE" minOccurs="0"/>
							<xs:element type="xs:string" name="CURRENCY" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SEG_PARTNER">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="PARTN_NUMB" minOccurs="0"/>
							<xs:element type="xs:string" name="NAME_1" minOccurs="0"/>
							<xs:element type="xs:string" name="NAME_2" minOccurs="0"/>
							<xs:element type="xs:string" name="STREET" minOccurs="0"/>
							<xs:element type="xs:string" name="POSTL_CODE" minOccurs="0"/>
							<xs:element type="xs:string" name="CITY" minOccurs="0"/>
							<xs:element type="xs:string" name="COUNTRY" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SEG_ITEM" maxOccurs="unbounded" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="ITEM_NO" minOccurs="1"/>
							<xs:element type="xs:string" name="MATERIAL" minOccurs="1"/>
							<xs:element type="xs:string" name="TARGET_QTY" minOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>