ZITSANDBOXAR/ARZ_Test/src/main/resources/xsd/nordea_structure.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- Batch Record -->
    <xs:element name="BatchRecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RecordCode" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="FinanceAgreementNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="EntryDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TestingIndicator" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="InReserve" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Transaction Record -->
    <xs:element name="TransactionRecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RecordCode" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="FinanceAgreementNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="CustomerNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="EntryDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ValueDate" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="InvoiceNumber" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="PayersName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="Amount" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="TransactionCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="CurrencyCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
                <xs:element name="ClearingDocumentNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
                <xs:element name="InReserve" type="xs:string" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Sum Record -->
    <xs:element name="SumRecord">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RecordCode" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="FinanceAgreementNumber" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfPaymentTransactions" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfPaymentTransactions" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfReverseTransactionsOfPayments" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfReverseTransactionsOfPayments" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfCreditNotes" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfCreditNotes" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfReverseTransactionsOfCreditNotes" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfReverseTransactionsOfCreditNotes" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfCashDiscounts" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfCashDiscounts" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfReverseTransactionsOfCashDiscounts" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfReverseTransactionsOfCashDiscounts" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfBankCharges" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfBankCharges" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="NumberOfReverseTransactionsOfBankCharges" type="xs:integer" minOccurs="1" maxOccurs="1"/>
                <xs:element name="AmountOfReverseTransactionsOfBankCharges" type="xs:integer" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
