ZITSANBOXBMN2/Test_iFlow/src/main/resources/xsd/WarehosueTask.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="WarehouseTask" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" minOccurs="0" name="Scanner"/>
							<xs:element type="xs:string" minOccurs="0" name="Menge"/>
							<xs:element type="xs:string" minOccurs="0" name="Artikel"/>
							<xs:element type="xs:string" minOccurs="0" name="Werkzeug"/>
							<xs:element type="xs:string" minOccurs="0" name="TZPDatum"/>
							<xs:element type="xs:string" minOccurs="0" name="Waschdatum"/>
							<xs:element type="xs:string" minOccurs="0" name="Graphitierdatum"/>
							<xs:element type="xs:string" minOccurs="0" name="KommNrVormaterial"/>
							<xs:element type="xs:string" minOccurs="0" name="Zahl1"/>
							<xs:element type="xs:string" minOccurs="0" name="Zahl2"/>
							<xs:element type="xs:string" minOccurs="0" name="Zahl3"/>
							<xs:element type="xs:string" minOccurs="0" name="HU"/>
							<xs:element type="xs:string" minOccurs="0" name="ID"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>