itxalerting/ITX_ALERTING_Send_E-Mail_For_Message_Error_Details_CSV/src/main/resources/xsd/ErrorMessages.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="ErrorMessages">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" name="ErrorMessage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="IntegrationFlowName" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="ErrorInformation" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="LogStart" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="LogEnd" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="LogDate" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Sender" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="Receiver" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="MessageGuid" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="ApplicationMessageId" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="AlternateWebLink" type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>