itxalerting/ITX_ALERTING_Send_E-Mail_For_Message_Error_Details_CSV/src/main/resources/xsd/MessageProcessingLog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MessageProcessingLogs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageProcessingLog" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Status" type="xs:string"/>
							<xs:element name="IntegrationArtifact">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Type" type="xs:string"/>
										<xs:element name="Id" type="xs:string"/>
										<xs:element name="Name" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="MessageGuid" type="xs:string"/>
							<xs:element name="LogStart" type="xs:string"/>
							<xs:element name="LogEnd" type="xs:string"/>
							<xs:element name="IntegrationFlowName" type="xs:string"/>
							<xs:element name="Sender" type="xs:string"/>
							<xs:element name="Receiver" type="xs:string"/>
							<xs:element name="MessageGuid" type="xs:string"/>
							<xs:element name="ApplicationMessageId" type="xs:string"/>
							<xs:element name="AlternateWebLink" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>