FINNIntegrations/FINN_IN_Hubspot_Create_and_Update_BusinessPartner_in_P_100/src/main/resources/xsd/Create_B2B_Hubspot_Structure.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="portalId" type="xs:unsignedInt" />
        <xs:element name="objectType" type="xs:string" />
        <xs:element name="objectTypeId" type="xs:string" />
        <xs:element name="objectId" type="xs:unsignedLong" />
        <xs:element name="properties">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="customer_type">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="company_tax_ust_id" minOccurs= "0" maxOccurs= "1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
                <xs:element name="is_remarketing_partner">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:boolean" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:boolean" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_all_accessible_team_ids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="num_associated_contacts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedByte" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_all_team_ids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_pipeline">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="createdate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedLong" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedLong" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_analytics_latest_source_data_2">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_analytics_latest_source_data_1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_num_blockers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedByte" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="invoice_name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hubspot_team_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="stripe_customer_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_analytics_latest_source_timestamp">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hubspot_owner_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_analytics_source">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_created_by_user_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_all_owner_ids">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_num_open_deals">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedByte" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="website">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_user_ids_of_all_owners">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_target_account_probability">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:decimal" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:decimal" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_lastmodifieddate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedLong" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedLong" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_num_decision_makers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedByte" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hubspot_owner_assigneddate">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedLong" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedLong" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="domain">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_num_child_companies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedByte" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_num_contacts_with_buying_roles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedByte" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedByte" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_object_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedLong" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedLong" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="name">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_analytics_latest_source">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lifecyclestage">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:string" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="hs_updated_by_user_id">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="versions">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="value" type="xs:unsignedInt" />
                          <xs:element name="timestamp" type="xs:unsignedLong" />
                          <xs:element name="sourceId" type="xs:string" />
                          <xs:element name="source" type="xs:string" />
                          <xs:element name="sourceVid" />
                          <xs:element name="requestId" type="xs:string" />
                          <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="value" type="xs:unsignedInt" />
                    <xs:element name="timestamp" type="xs:unsignedLong" />
                    <xs:element name="source" type="xs:string" />
                    <xs:element name="sourceId" type="xs:string" />
                    <xs:element name="updatedByUserId" type="xs:unsignedInt" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="version" type="xs:unsignedByte" />
        <xs:element name="secondaryIdentifier" type="xs:string" />
        <xs:element name="isDeleted" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>