ZITSANDBOXMPN/UEBUNG_8/src/main/resources/xsd/Target.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="Target" type="Target" />
   <xsd:complexType name="Target">
      <xsd:sequence>
         <xsd:element name="arg1" type="xsd:string" />
         <xsd:element name="arg2" type="xsd:string" />
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>