NTTDATAQMIntegrationFramework/IF1000.04_InspectionLot_Result_Production_LIMS_to_SAP/src/main/resources/xsd/records.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Records">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Record" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BIGBAGNR" type="xs:string"/>
                            <xs:element name="MATNR" type="xs:string"/>
                            <xs:element name="CHARG" type="xs:string"/>
                            <xs:element name="P_STATUS" type="xs:string"/>
                            <xs:element name="Q_ORG" type="xs:string"/>
                            <xs:element name="Prueflos" type="xs:string"/>
                            <xs:element name="Frei_EG" type="xs:string"/>
                            <xs:element name="Nachbeh_AntiBack" type="xs:string"/>
                            <xs:element name="Nachbeh_Absiebung" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
