NTTDATAQMIntegrationFramework/IF1000.04_InspectionLot_Result_Production_LIMS_to_SAP/src/main/resources/xsd/SingleRecord.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
                <xs:element name="Record">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BIGBAGNR" type="xs:string" minOccurs="0"/>
                            <xs:element name="MATNR" type="xs:string" minOccurs="0"/>
                            <xs:element name="CHARG" type="xs:string" minOccurs="0"/>
                            <xs:element name="P_STATUS" type="xs:string" minOccurs="0"/>
                            <xs:element name="Q_ORG" type="xs:string" minOccurs="0"/>
                            <xs:element name="Prueflos" type="xs:string" minOccurs="0"/>
                            <xs:element name="Frei_EG" type="xs:string" minOccurs="0"/>
                            <xs:element name="Nachbeh_AntiBack" type="xs:string" minOccurs="0"/>
                            <xs:element name="Nachbeh_Absiebung" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
</xs:schema>
