ZITSandboxMTS/China_S4_Send_PO_from_SATURN_to_S4HANA2/src/main/resources/xsd/POOrderSet.xsd

<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="OrderSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrderLine" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
						<xs:element name="SupplierID" type="xs:string" minOccurs="0"/>
							<xs:element name="Supplier" type="xs:string" minOccurs="0"/>
							<xs:element name="POID" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderCreationDate" type="xs:string" minOccurs="0"/>
							<xs:element name="POStatus" type="xs:string" minOccurs="0"/>
							<xs:element name="ReferenceID" type="xs:string" minOccurs="0"/>
							<xs:element name="CS" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderQTY" type="xs:string" minOccurs="0"/>
							<xs:element name="DesiredQTY" type="xs:string" minOccurs="0"/>
							<xs:element name="MB" type="xs:string" minOccurs="0"/>
							<xs:element name="Price" type="xs:string" minOccurs="0"/>
							<xs:element name="DeliveryDate" type="xs:string" minOccurs="0"/>
							<xs:element name="OrderCode" type="xs:string" minOccurs="0"/>
							<xs:element name="GRQTY" type="xs:string" minOccurs="0"/>
							<xs:element name="GRDate" type="xs:string" minOccurs="0"/>
							<xs:element name="ABC" type="xs:string" minOccurs="0"/>
							<xs:element name="DesiredDate" type="xs:string" minOccurs="0"/>
							<xs:element name="ConfirmedDate" type="xs:string" minOccurs="0"/>
							<xs:element name="PlacedDate" type="xs:string" minOccurs="0"/>
							<xs:element name="Bonded" type="xs:string" minOccurs="0"/>
							<xs:element name="Position" type="xs:string" minOccurs="0"/>
							<xs:element name="Currency" type="xs:string" minOccurs="0"/>
							<xs:element name="DeliveryTerms" type="xs:string" minOccurs="0"/>
							<xs:element name="PaymentTerms" type="xs:string" minOccurs="0"/>
							<xs:element name="ChangeDate" type="xs:string" minOccurs="0"/>
							<xs:element name="ChangesOrder" type="xs:string" minOccurs="0"/>
							<xs:element name="NewOrder" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>