ZITSANDBOXTNN/BJB_IF1003.01_OUT_CRM_S4_KUNDE_AN_CRM_DEV/src/main/resources/xsd/post_crm_comp.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="guid" minOccurs="0"/>    
              <xs:element type="xs:string" name="addressNumber" minOccurs="0"/>
              <xs:element type="xs:string" name="mainSalesOrganisation" minOccurs="0"/>  
              <xs:element type="xs:string" name="mainDistributionChannel" minOccurs="0"/>  
              <xs:element type="xs:string" name="mainSegment" minOccurs="0"/>  
              <xs:element type="xs:string" name="mainBusinessPartnerSalesRep" minOccurs="0"/>  
              <xs:element type="xs:string" name="mainBusinessPartnerBackOffice" minOccurs="0"/>  
              <xs:element type="xs:string" name="company1" minOccurs="0"/>
              <xs:element type="xs:string" name="company2" minOccurs="0"/>
              <xs:element type="xs:string" name="company3" minOccurs="0"/>
              <xs:element type="xs:string" name="street" minOccurs="0"/>
              <xs:element type="xs:string" name="zip" minOccurs="0"/>
              <xs:element type="xs:string" name="city" minOccurs="0"/>
              <xs:element type="xs:string" name="addressAddition" minOccurs="0"/>
              <xs:element type="xs:string" name="country" minOccurs="0"/>
              <xs:element type="xs:string" name="state" minOccurs="0"/>
              <xs:element type="xs:string" name="pobox" minOccurs="0"/>
              <xs:element type="xs:string" name="poboxZip" minOccurs="0"/>
              <xs:element type="xs:string" name="poboxCity" minOccurs="0"/>
              <xs:element type="xs:string" name="phone" minOccurs="0"/>
              <xs:element type="xs:string" name="fax" minOccurs="0"/>
              <xs:element type="xs:string" name="email" minOccurs="0"/>
              <xs:element type="xs:string" name="web" minOccurs="0"/>
              <xs:element type="xs:string" name="currency" minOccurs="0"/>
              <xs:element type="xs:string" name="vatId" minOccurs="0"/>
              <xs:element type="xs:string" name="type" minOccurs="0"/>
              <xs:element type="xs:string" name="status" minOccurs="0"/>
              <xs:element type="xs:string" name="mainDeliveryTerms" minOccurs="0"/>
              <xs:element type="xs:string" name="mainPaymentTerms" minOccurs="0"/>
              <xs:element type="xs:string" name="mainShippingTerms" minOccurs="0"/>
              <xs:element type="xs:string" name="validFrom" minOccurs="0"/>
              <xs:element type="xs:string" name="validTo" minOccurs="0"/>
              <xs:element type="xs:string" name="vendorNumber" minOccurs="0"/>
              <xs:element type="xs:string" name="dunningLevel" minOccurs="0"/>
              <xs:element type="xs:string" name="pricelist" minOccurs="0"/>
              <xs:element type="xs:string" name="language" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>