SandboxODN/BeNEX_IF_1001.09_Rechnungseingang_-_ELO_to_S4HC/src/main/resources/xsd/EloBenexRechnung.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CompanyCode" type="xs:string"/>
				<xs:element name="DocumentDate" type="xs:string"/>
				<xs:element name="PostingDate" type="xs:string"/>
				<xs:element name="PaymentReference" type="xs:string"/>
				<xs:element name="SupplierInvoiceIDByInvcgParty" type="xs:string"/>
				<xs:element name="InvoicingParty" type="xs:string"/>
				<xs:element name="DocumentCurrency" type="xs:string"/>
				<xs:element name="InvoiceGrossAmount" type="xs:string"/>
				<xs:element name="CashDiscount1Days" type="xs:string"/>
				<xs:element name="CashDiscount1Percent" type="xs:string"/>
				<xs:element name="CashDiscount2Days" type="xs:string"/>
				<xs:element name="CashDiscount2Percent" type="xs:string"/>
				<xs:element name="NetPaymentDays" type="xs:string"/>
				<xs:element name="PaymentTerms" type="xs:string"/>
				<xs:element name="NetPaymentDays" type="xs:string"/>
				<xs:element name="PaymentBlockingReason" type="xs:string"/>
				<xs:element name="BPBankAccountInternalID" type="xs:string"/>
				<xs:element name="HouseBank" type="xs:string"/>
				<xs:element name="HouseBankAccount" type="xs:string"/>
				<xs:element name="SupplierPostingLineItemText" type="xs:string"/>
				<xs:element name="AccountingDocumentType" type="xs:string"/>
				<xs:element name= "AssignmentReference" type="xs:string"/>
				<xs:element name= "PaymentMethod" type="xs:string"/>
				<xs:element name= "SupplierInvoiceIsCreditMemo" type="xs:string"/>
				<xs:element name="TaxIsCalculatedAutomatically" type="xs:string"/>
					<xs:element name="to_SelectedDeliveryNotes">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InboundDeliveryNote" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_SuplrInvoiceAdditionalData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InvoicingPartyName1" type="xs:string"/>
							<xs:element name="InvoicingPartyName2" type="xs:string"/>
							<xs:element name="InvoicingPartyName3" type="xs:string"/>
							<xs:element name="InvoicingPartyName4" type="xs:string"/>
							<xs:element name="PostalCode" type="xs:string"/>
							<xs:element name="CityName" type="xs:string"/>
							<xs:element name="Country" type="xs:string"/>
							<xs:element name="StreetAddressName" type="xs:string"/>
							<xs:element name="TaxID1" type="xs:string"/>
							<xs:element name="BankAccount" type="xs:string"/>
							<xs:element name="Bank" type="xs:string"/>
							<xs:element name="BankCountry" type="xs:string"/>
							<xs:element name="IBAN" type="xs:string"/>
							<xs:element name="SWIFTCode" type="xs:string"/>
							<xs:element name="VATRegistration" type="xs:string"/>
							<xs:element name="LanguageCode" type="xs:string"/>
							<xs:element name="IsOneTimeAccount" type="xs:string"/>
							<xs:element name="IsNaturalPerson" type="xs:string"/>
							<xs:element name="DataExchangeInstructionKey" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_SuplrInvcItemPurOrdRef">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="results">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SupplierInvoiceItem" type="xs:string"/>
										<xs:element name="SupplierInvoiceItemText" type="xs:string"/>
										<xs:element name="PurchaseOrder" type="xs:string"/>
										<xs:element name="PurchaseOrderItem" type="xs:string"/>
										<xs:element name="DocumentCurrency" type="xs:string"/>
										<xs:element name="SupplierInvoiceItemAmount" type="xs:string"/>
										<xs:element name="TaxCode" type="xs:string"/>
										<xs:element name="QuantityInPurchaseOrderUnit" type="xs:string"/>
										<xs:element name="PurchaseOrderQuantityUnit" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="to_SupplierInvoiceTax">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TaxAmount" type="xs:string"/>
										<xs:element name="DocumentCurrency" type="xs:string"/>
										<xs:element name="TaxCode" type="xs:string"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_SupplierInvoiceItemGLAcct">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SupplierInvoiceItem" type="xs:string"/>
							<xs:element name="SupplierInvoiceItemText" type="xs:string"/>
							<xs:element name="DocumentCurrency" type="xs:string"/>
							<xs:element name="DebitCreditCode" type="xs:string"/>
							<xs:element name= "AssignmentReference" type="xs:string"/>
							<xs:element name="SupplierInvoiceItemAmount" type="xs:string"/>
							<xs:element name="GLAccount" type="xs:string"/>
							<xs:element name="CostCenter" type="xs:string"/>
							<xs:element name="WBSElement" type="xs:string"/>
							<xs:element name="TaxCode" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_SupplierInvoiceTax">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TaxAmount" type="xs:string"/>
							<xs:element name="DocumentCurrency" type="xs:string"/>
							<xs:element name="TaxCode" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>


