OEMSAPECCSalesforceContentPackage.20.6.2023.11.52.44/Receive_Sales_Order_History__from_SAP_ECC.20.6.2023.11.52.44/src/main/resources/xsd/ECC_SalesOrderEntityGET0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema targetNamespace="http://www.example.org/SalesOrderHistoryResponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import namespace="http://www.w3.org/2001/XMLSchema"/>
	<xsd:element name="ECC_SalesOrderHistory">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element minOccurs="0" maxOccurs="unbounded" name="SalesOrderType">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Document_no">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Item_no">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="6"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="Material">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="material_description">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="200"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="doc_type">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="4"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element type="xsd:dateTime" nillable="true" minOccurs="0" maxOccurs="unbounded" name="date" xmlns=""/>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="qty">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="4"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="PO_number">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="net_value">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="10"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
							<xsd:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="status">
								<xsd:simpleType>
									<xsd:restriction base="xsd:string" xmlns="">
										<xsd:maxLength value="12"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
