ZITSANDBOXMRI/EDI_converter/src/main/resources/xsd/PHBEST_D96A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:hci="http://sap.com/hci" xmlns:ica="http://www.sap.com/ica/metameta_schema/metainfo" elementFormDefault="qualified" vc:minVersion="1.0">
    <xsd:annotation>
        <xsd:appinfo>
            <hci:resourceinfo xmlns:hci="http://www.w3.org/2001/XMLSchema">
                <hci:info key="typeSystem" value="PHBEST"/>
                <hci:info key="typeSystemVersion" value="D96A"/>
                <hci:info key="category" value="Template"/>
                <hci:info key="rootNode" value="M_PHBEST"/>
                <hci:info key="responsibleAgencyName" value="Phoenix Group"/>
                <hci:info key="responsibleAgencyCode" value="na"/>
                <hci:info key="messageType" value="PHBEST"/>
                <hci:info key="messageName" value="Purchase order message"/>
                <hci:info key="documentNumber" value=""/>
            </hci:resourceinfo>
        </xsd:appinfo>
    </xsd:annotation>
    <xsd:element name="M_PHBEST" type="M_PHBEST"/>
    <xsd:complexType name="M_PHBEST">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="S_UNH" type="S_UNH"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="S_PHB" type="S_PHB"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="S_PHT" type="S_PHT"/>
            <xsd:element maxOccurs="50000" minOccurs="1" name="G_SG1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element maxOccurs="1" minOccurs="1" name="S_PHP" type="S_PHP"/>
                        <xsd:element maxOccurs="1" minOccurs="0" name="S_PHT" type="S_PHT"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_UNH">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0062" type="D_0062"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="C_S009" type="C_S009"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_0068" type="D_0068"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_S010" type="C_S010"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_S009">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0065" type="D_0065"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0052" type="D_0052"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0054" type="D_0054"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0051" type="D_0051"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_0057" type="D_0057"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_S010">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0070" type="D_0070"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_0073" type="D_0073"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_PHT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C990" type="C_C990"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_PHP">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C993" type="C_C993"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_6999" type="D_6999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_4998" type="D_4998"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_5997" type="D_5997"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C992" type="C_C992"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C991" type="C_C991"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_PHB">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_1999" type="D_1999"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_2998" type="D_2998"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="C_C999" type="C_C999"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="C_C998" type="C_C998"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1998" type="D_1998"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_2999" type="D_2999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_8999" type="D_8999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C989" type="C_C989"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C995" type="C_C995"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="C_C994" type="C_C994"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3995" type="D_3995"/>
            <xsd:element maxOccurs="2" minOccurs="0" name="C_C997" type="C_C997"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_3993" type="D_3993"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C992">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_7997" type="D_7997"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_6998" type="D_6998"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C991">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_5999" type="D_5999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_5996" type="D_5996"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C993">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_7999" type="D_7999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1154" type="D_1154"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C989">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_4999" type="D_4999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_8998" type="D_8998"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_2997" type="D_2997"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C994">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_3992" type="D_3992"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_3991" type="D_3991"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C997">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3990" type="D_3990"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3989" type="D_3989"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3994" type="D_3994"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3988" type="D_3988"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C995">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_5999" type="D_5999"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_5998" type="D_5998"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C999">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3999" type="D_3999"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3998" type="D_3998"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C998">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3997" type="D_3997"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_3996" type="D_3996"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C002">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1001" type="D_1001"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1131" type="D_1131"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_3055" type="D_3055"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_1000" type="D_1000"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="C_C990">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_4997" type="D_4997"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="D_4996" type="D_4996"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="S_UNT">
        <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0074" type="D_0074"/>
            <xsd:element maxOccurs="1" minOccurs="1" name="D_0062" type="D_0062"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="D_0065">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0054">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1001">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1000">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0052">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1131">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0074">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3055">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1225">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1004">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_4343">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="3"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0057">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0068">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="35"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0062">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="14"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0051">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0073">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_0070">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1998">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="20"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1999">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_2997">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_2998">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_2999">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="6"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3999">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3998">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3990">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3989">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3994">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3988">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3991">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3992">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3995">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3993">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="7"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3997">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_3996">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_4997">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_4996">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="60"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_4998">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_5996">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_5997">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_5999">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_6998">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_7997">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_7999">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="15"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_6999">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="5"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_1154">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_4999">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_8999">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_5998">
        <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="8"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="D_8998">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="2"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>