ZITSANDBOXALA/RotoMessageMapping/src/main/resources/xsd/ERP_ODATA_Response_Sortiment_withCount.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="odata.context" type="xs:string"/>
				<xs:element name="odata.metadataEtag" type="xs:string"/>
				<xs:element maxOccurs="unbounded" name="value">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Material" type="xs:string"/>
							<xs:element name="_Generalsortiment">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Material" type="xs:string"/>
										<xs:element name="Deletionflag" type="xs:boolean"/>
										<xs:element name="Ean" type="xs:string"/>
										<xs:element name="Crossplantmaterialstatus" type="xs:string"/>
										<xs:element name="Zmi" type="xs:string"/>
										<xs:element name="Zma" type="xs:string"/>
										<xs:element name="Materialweightunitiso" type="xs:string"/>
										<xs:element name="Materialbaseunitiso" type="xs:string"/>
										<xs:element name="Materialgrossweight" type="xs:decimal"/>
										<xs:element name="Alternativesearchterms" type="xs:string"/>
										<xs:element maxOccurs="unbounded" name="_Sales">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Material" type="xs:string"/>
													<xs:element name="Salesorganization" type="xs:string"/>
													<xs:element name="Distributionchannel" type="xs:string"/>
													<xs:element name="Deletionflag" type="xs:boolean"/>
													<xs:element name="Distributionchainmatstatus" type="xs:string"/>
													<xs:element name="Datefromdistribchainmatstatus" type="xs:date"/>
													<xs:element name="Unitofmeasuredeliveryiso" type="xs:string"/>
													<xs:element name="Unitofmeasuresalesunitiso" type="xs:string"/>
													<xs:element name="Deliveringplant" type="xs:string"/>
													<xs:element name="Commoditycode" type="xs:string"/>
													<xs:element name="Countryoforigin" type="xs:string"/>
													<xs:element name="Plantspecificmaterialstatus" type="xs:string"/>
													<xs:element maxOccurs="unbounded" name="_Salestext">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Material" type="xs:string"/>
																<xs:element name="Salesorganization" type="xs:string"/>
																<xs:element name="Distributionchannel" type="xs:string"/>
																<xs:element name="Language" type="xs:string"/>
																<xs:element name="Materialsalestext" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" name="_Text">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Material" type="xs:string"/>
													<xs:element name="Language" type="xs:string"/>
													<xs:element name="Materialname" type="xs:string"/>
													<xs:element name="Materialbasictext" type="xs:string"/>
													<xs:element name="Materialfollowuptext" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element maxOccurs="unbounded" name="_Deliverytime">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Country" type="xs:string"/>
													<xs:element name="Material" type="xs:string"/>
													<xs:element name="Deliverytime" type="xs:unsignedInt"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>