FINNIntegrations/FINN_IN_Airtable_Update_Leasing_Contracts_in_S4_P_100/src/main/resources/xsd/AirtableLeasing_Conditions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="leasing_conditions">
          <xs:complexType>
            <xs:sequence>
                   <xs:element name="composite_key" type="xs:string" />
                    <xs:element name="condition_purpose" type="xs:string" />
                    <xs:element name="condition_type" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="finn_car_id" type="xs:string" />
                    <xs:element name="last_updated_ts" type="xs:unsignedInt" />
                    <xs:element name="subscription_id" type="xs:unsignedLong" />
                    <xs:element name="valid_from" type="xs:date" />
                    <xs:element name="valid_to" type="xs:date" />
                    <xs:element name="value" type="xs:decimal" />
                    <xs:element name="change_date" type="xs:string" />
                    <xs:element name="vat_group" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
    </xs:element>
</xs:schema>

