ZITSANDBOXTNN/IRS_IN_Generic_Businesspartner_ermitteln_an_S4_QAS/src/main/resources/xsd/BP_ermitteln_Input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="T_StreetName">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Ludwig-Prandtl-Str."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_PostalCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="12526"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Name2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Mustermann"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Name1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Max"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_HouseNumber">
		<xs:restriction base="xs:string">
			<xs:enumeration value="27 - 29"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_DataOrigin">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Carisma BetriebsNo "/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_Country">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="T_CityName">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Berlin"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="T_to_BusinessPartnerAddress">
		<xs:sequence>
			<xs:element ref="StreetName"/>
			<xs:element ref="HouseNumber"/>
			<xs:element ref="PostalCode"/>
			<xs:element ref="CityName"/>
			<xs:element ref="Country"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_Name3"/>
	<xs:complexType name="T_General">
		<xs:sequence>
			<xs:element ref="DataOrigin"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_BusinessPartner">
		<xs:sequence>
			<xs:element ref="General"/>
			<xs:element ref="A_BusinessPartner"/>
			<xs:element ref="to_BusinessPartnerAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_A_BusinessPartner">
		<xs:sequence>
			<xs:element ref="Name1"/>
			<xs:element ref="Name2"/>
			<xs:element ref="Name3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="to_BusinessPartnerAddress" type="T_to_BusinessPartnerAddress"/>
	<xs:element name="StreetName" type="T_StreetName"/>
	<xs:element name="PostalCode" type="T_PostalCode"/>
	<xs:element name="Name3" type="T_Name3"/>
	<xs:element name="Name2" type="T_Name2"/>
	<xs:element name="Name1" type="T_Name1"/>
	<xs:element name="HouseNumber" type="T_HouseNumber"/>
	<xs:element name="General" type="T_General"/>
	<xs:element name="DataOrigin" type="T_DataOrigin"/>
	<xs:element name="Country" type="T_Country"/>
	<xs:element name="CityName" type="T_CityName"/>
	<xs:element name="BusinessPartner" type="T_BusinessPartner"/>
	<xs:element name="A_BusinessPartner" type="T_A_BusinessPartner"/>
</xs:schema>
