ZITSANDBOXMWE/Uebung_SalesOrder_iDocMapping_ARZ/src/main/resources/xsd/SourceMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="currency" type="xs:string" minOccurs="0" maxOccurs="1"/>
        <xs:element name="salesOrg" type="xs:unsignedShort" minOccurs="0" maxOccurs="1"/>
        <xs:element name="distributionChannel" type="xs:unsignedByte" minOccurs="0" maxOccurs="1"/>
        <xs:element name="orderDate" type="xs:unsignedInt" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="partner" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="number" type="xs:unsignedInt" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="firstName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="lastName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="street" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="houseNumber" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="city" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
              <xs:element name="zip" type="xs:unsignedShort" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="orderNumber" type="xs:unsignedShort" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="material" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="quantity" type="xs:decimal" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="deliveryDate" type="xs:unsignedInt" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>