ZITSANDBOXMWE/Uebung_SalesOrder_iDocMapping_ARZ/src/main/resources/xsd/TargetMessage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="COD_REPLICATE_SALES_ORDER01">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IDOC">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EDI_DC40">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="TABNAM" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="DIRECT" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="IDOCTYP" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="MESTYP" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="SNDPOR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="SNDPRT" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="SNDPRN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="RCVPOR" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="RCVPRN" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="E101COD_S_REP_SLSORD_DATA">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CURRENCY" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="SALES_ORG" type="xs:unsignedShort" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="DISTR_CHAN" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="PURCH_DATE" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="E101BAPIPARNR" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="PARTN_NUMB" type="xs:unsignedInt" minOccurs="0" maxOccurs="unbounded" />
                          <xs:element name="NAME" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                          <xs:element name="NAME_2" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                          <xs:element name="STREET" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                          <xs:element name="POSTL_CODE" type="xs:unsignedShort" minOccurs="0" maxOccurs="unbounded" />
                          <xs:element name="CITY" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="E101COD_S_SLS_ITEM_DATA">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="MATERIAL" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                          <xs:element name="TARGET_QTY" type="xs:unsignedByte" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="SEGMENT" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="SEGMENT" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="BEGIN" type="xs:unsignedByte" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>