ZITSANDBOXMTSDemoCases/MTS_Demo_Jira_Event_via_Open_Connectors/src/main/resources/xsd/Jira Time Set.xsd

<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="row">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="timeSpent" type="xs:string" minOccurs="0"/>
				<xs:element name="comment" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
