SuccessfactorsEmployeeCentraltoActiveDirectory/Packaged_Integration_SF_EC_to_AD_Disable_User_Account/src/main/resources/wsdl/EmpJobEntityGET0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EmpJob">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" name="EmpJob">
					<xs:complexType>
						<xs:sequence>
							<xs:element nillable="false" maxOccurs="unbounded" name="userId">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="100"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="location">
								<xs:simpleType>
									<xs:restriction base="xs:string" xmlns="">
										<xs:maxLength value="128"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="employmentNav">
								<xs:complexType>
									<xs:sequence>
										<xs:element minOccurs="0" maxOccurs="unbounded" name="EmpEmployment">
											<xs:complexType>
												<xs:sequence>
													<xs:element nillable="false" maxOccurs="unbounded" name="personIdExternal">
														<xs:simpleType>
															<xs:restriction base="xs:string" xmlns="">
																<xs:maxLength value="100"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="personNav">
														<xs:complexType>
															<xs:sequence>
																<xs:element minOccurs="0" maxOccurs="unbounded" name="PerPerson">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="phoneNav">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element minOccurs="0" maxOccurs="unbounded" name="PerPhone">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element nillable="false" maxOccurs="unbounded" name="phoneType">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="100"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="false" maxOccurs="unbounded" name="phoneNumber">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="100"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="false" maxOccurs="unbounded" name="personIdExternal">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="100"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="phoneTypeNav">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element minOccurs="0" maxOccurs="unbounded" name="PicklistOption">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
																															<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="externalCode">
																																<xs:simpleType>
																																	<xs:restriction base="xs:string" xmlns="">
																																		<xs:maxLength value="256"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="personalInfoNav">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element minOccurs="0" maxOccurs="unbounded" name="PerPersonal">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element type="xs:dateTime" nillable="false" maxOccurs="unbounded" name="startDate" xmlns=""/>
																									<xs:element nillable="false" maxOccurs="unbounded" name="personIdExternal">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="100"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="middleName">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="128"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="false" maxOccurs="unbounded" name="lastName">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="128"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="false" maxOccurs="unbounded" name="firstName">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="128"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="emailNav">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element minOccurs="0" maxOccurs="unbounded" name="PerEmail">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element nillable="false" maxOccurs="unbounded" name="personIdExternal">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="100"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="false" maxOccurs="unbounded" name="emailType">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="38"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="false" maxOccurs="unbounded" name="emailAddress">
																										<xs:simpleType>
																											<xs:restriction base="xs:string" xmlns="">
																												<xs:maxLength value="100"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="emailTypeNav">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element minOccurs="0" maxOccurs="unbounded" name="PicklistOption">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element type="xs:long" nillable="false" maxOccurs="unbounded" name="id" xmlns=""/>
																															<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="externalCode">
																																<xs:simpleType>
																																	<xs:restriction base="xs:string" xmlns="">
																																		<xs:maxLength value="256"/>
																																	</xs:restriction>
																																</xs:simpleType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>							
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="CommonNameFormat"/>
							<xs:element nillable="false" minOccurs="1" maxOccurs="1" name="FullNameFormat"/>
							<xs:element minOccurs="0" maxOccurs="1" name="link">
								<xs:complexType>
									<xs:sequence>
										<xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="employmentNav">
											<xs:complexType>
												<xs:sequence>
													<xs:element minOccurs="0" maxOccurs="unbounded" name="EmpEmployment">
														<xs:complexType>
															<xs:sequence>
																<xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="personIdExternal" xmlns=""/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>