SuccessfactorsEmployeeCentraltoActiveDirectory/Packaged_Integration_SF_EC_to_AD_Disable_User_Account/src/main/resources/wsdl/LDAPSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="Schema">
        <complexType>
            <sequence>
            <element name="DistinguishedName" maxOccurs="1" minOccurs="1" type="string"/>
            <element name="ObjectClass" maxOccurs="1" minOccurs="0" type="string"/>
                <element name="Attributes" maxOccurs="1" minOccurs="1">
                    <complexType>
                        <sequence>
                            <element name="cn" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="sAMAccountName" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="sn" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="givenName" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="displayName" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="name" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="mail" type="string" maxOccurs="1" minOccurs="0"></element>
                            <element name="telephoneNumber" type="string" maxOccurs="1" minOccurs="0"></element>
							<element name="unicodePwd" type="string" maxOccurs="1" minOccurs="0"></element>
							<element name="userPrincipalName" type="string" maxOccurs="1" minOccurs="0"></element>
							<element name="userAccountControl" type="string" maxOccurs="1" minOccurs="0"></element>
                        </sequence>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>