NTTDATAQMIntegrationFramework/IF1000.03_InspectionLot_Result_RawMaterial_LIMS_to_SAP/src/main/resources/xsd/records.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Records">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Record" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PRUEFLOS" type="xs:string"/>
                            <xs:element name="STATUS" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
