ZITSANDBOXTNN/ZIT_TNN_Testing_SOAP/src/main/resources/wsdl/hello.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.test.com/Greeting/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Greeting" targetNamespace="http://www.test.com/Greeting/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.test.com/Greeting/">
			<xsd:element name="SayHello">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="root" maxOccurs="1" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="in" maxOccurs="1" minOccurs="0" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="SayHelloResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="root" maxOccurs="1" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="out" maxOccurs="1" minOccurs="0" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="SayHelloRequest">
		<wsdl:part element="tns:SayHello" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="SayHelloResponse">
		<wsdl:part element="tns:SayHelloResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="Greeting">
		<wsdl:operation name="SayHello">
			<wsdl:input message="tns:SayHelloRequest"/>
			<wsdl:output message="tns:SayHelloResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GreetingSOAP" type="tns:Greeting">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="SayHello">
			<soap:operation soapAction="http://www.test.com/Greeting/SayHello"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Greeting">
		<wsdl:port binding="tns:GreetingSOAP" name="GreetingSOAP">
			<soap:address location="http://www.example.org/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>