ZITSANDBOXMPN/IF_MATMAS_SAPERP/src/main/resources/xsd/MT_MATERIAL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="MT_MATERIAL"
	             type="DT_MATERIAL"/>
	<xsd:complexType name="DT_MATERIAL">
		<xsd:sequence>
			<xsd:element name="ROW"
			             maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="MATNR"
						             type="xsd:string"/>
						<xsd:element name="MAKTX_DE"
						             type="xsd:string"/>
						<xsd:element name="MAKTX_EN"
						             type="xsd:string"
						             minOccurs="0"/>
						<xsd:element name="WERKS"
						             type="xsd:string"
						             minOccurs="0"/>
						<xsd:element name="LVORM"
						             type="xsd:string"
						             minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>