ZITSANDBOXDHN/HABA_SAPCPI.Article_IN_S4_replicate_article_master_data_to_TIA/src/main/resources/xsd/IN_VART.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="IN_VART">
    <xs:complexType>
	<xs:sequence>
		<xs:element type="xs:string" name="VTYPO1" minOccurs = "1" />
		<xs:element type="xs:string" name="ATYPO1" minOccurs= "1" />
		<xs:element type="xs:string" name="ATYPO2" minOccurs= "1" />
		<xs:element type="xs:string" name="ERST_ANGEBOTSTERMIN" minOccurs = "1"/>
		<xs:element type="xs:string" name="AUSLAUF_TERMIN" minOccurs = "1"/>
		<xs:element type="xs:string" name="KZ_ABC" minOccurs = "1"/>
		<xs:element type="xs:string" name="PREIS1" minOccurs = "1"/>
		<xs:element type="xs:string" name="PREIS2" minOccurs = "1"/>
		<xs:element type="xs:string" name="PREIS3" minOccurs = "1"/>
		<xs:element type="xs:string" name="GRGANG" minOccurs = "1"/>
		<xs:element type="xs:string" name="K_EINKAUEFER" minOccurs = "1"/>

	</xs:sequence>
	</xs:complexType> 
</xs:element>	
</xs:schema>