ZITSANDBOXDHN/HABA_SAPCPI.Article_IN_S4_replicate_article_master_data_to_TIA/src/main/resources/xsd/IN_VARTGR.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="IN_VARTGR">
    <xs:complexType>
	<xs:sequence>
	 <xs:element name="row" minOccurs="1" maxOccurs="unbounded">
             <xs:complexType>
              	<xs:sequence>
				<xs:element type="xs:string" name="VTYPO1" minOccurs= "1" />
				<xs:element type="xs:string" name="VTYPO2" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="VTYPO3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ATYPO0" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ATYPO1" minOccurs = "1"/>
				<xs:element type="xs:string" name="ATYPO2" minOccurs = "1"/>
				<xs:element type="xs:string" name="ATYPO3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="TECHN_INDEX" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="START_TERMIN_GR" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="AUSLAUF_TERMIN_GR" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="GR_STATUS" minOccurs= "1"  />
				<xs:element type="xs:string" name="GRSL_MAN" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="LB_FREI" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="RESERVIERUNGEN" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="MINDESTBESTAND" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="MAXIMALBESTAND" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="FILTER1" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="FILTER2" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="FILTER3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZIEL_RW" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="WBZ" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="DF_FAKTOR_MAN" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="INFO1" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="INFO2" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="INFO3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="INFO4" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="INFO5" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="SPERR_BESTAND" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ABGEBENDE_NL" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="GEWICHT" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="VOLUMEN" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="PAL_ANTEIL" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="FLAECHE" minOccurs= "0" maxOccurs = "1" />

				</xs:sequence>
            </xs:complexType>
         </xs:element>
			
	</xs:sequence>
	</xs:complexType> 
</xs:element>	
</xs:schema>