ZITSANDBOXDHN/HABA_SAPCPI.Article_IN_S4_replicate_article_master_data_to_TIA/src/main/resources/xsd/IN_ZVART.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="IN_ZVART">
    <xs:complexType>
	<xs:sequence>
	 <xs:element name="row" minOccurs="1" maxOccurs="unbounded">
             <xs:complexType>
              	<xs:sequence>
				<xs:element type="xs:string" name="ZTYPO1" minOccurs = "1" />
				<xs:element type="xs:string" name="ZTYPO2" minOccurs= "1" />
				<xs:element type="xs:string" name="ZTYPO3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="VTYPO1" minOccurs= "1" />
				<xs:element type="xs:string" name="VTYPO2" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="VTYPO3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ATYPO0" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ATYPO1" minOccurs = "1"/>
				<xs:element type="xs:string" name="ATYPO2" minOccurs = "1"/>
				<xs:element type="xs:string" name="ATYPO3" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="KZ_DISPO" minOccurs = "1"/>
				<xs:element type="xs:string" name="KZ_PROGNOSE_ART" minOccurs = "1"/>
				<xs:element type="xs:string" name="KZ_ASTATUS" minOccurs = "1"/>
				<xs:element type="xs:string" name="KZ_RANGED_CMS" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="NO_PROZENT" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO01" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO02" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO03" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO04" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO05" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO06" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO07" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO08" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="ZVINFO09" minOccurs= "0" maxOccurs = "1" />
				<xs:element type="xs:string" name="KZ_CLOSED" minOccurs= "0" maxOccurs = "1" />
				</xs:sequence>
            </xs:complexType>
         </xs:element>
			
	</xs:sequence>
	</xs:complexType> 
</xs:element>	
</xs:schema>