SandboxPhilipp/UPSERT_SAPERP_to_Salesforce_PRODUCT/src/main/resources/xsd/Product2v2.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Product2">
		<xs:complexType>
			<xs:sequence>
                <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Division__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="EANNumber__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="IsActive" nillable="true" type="xs:boolean"/>
                <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProductHierarchy__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProductHierarchy1__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProductHierarchy2__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProductHierarchy3__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProductHierarchy4__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ProductCode" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPClient__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPIDocNumber__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPInterfaceID__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_cs__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_de__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_en__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_fr__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_ja__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_pl__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPMaterialDescription_sk__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="SAPSystemID__c" nillable="true" type="xs:string"/>
				<xs:element minOccurs="0" name="BaseUnit__c" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="CurrencyIsoCode" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="DisplayUrl" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ExternalDataSourceId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="ExternalId" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="StockKeepingUnit" nillable="true" type="xs:string"/>
                <xs:element minOccurs="0" name="QuantityUnitOfMeasure" nillable="true" type="xs:string"/>		
            </xs:sequence>		
		</xs:complexType>
	</xs:element>
</xs:schema>