SandboxPhilipp/UPSERT_SAPERP_to_Salesforce_PRODUCT/src/main/resources/xsd/Product2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Product2">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="data" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
                        	<xs:element name="Description" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="Division__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="EANNumber__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="IsActive" nillable="true" minOccurs="0" type="xs:boolean"/>
                        	<xs:element name="Name" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ProductHierarchy__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ProductHierarchy1__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ProductHierarchy2__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ProductHierarchy3__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ProductHierarchy4__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ProductCode" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPClient__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPIDocNumber__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPInterfaceID__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPMaterialDescription_cs__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPMaterialDescription_de__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPMaterialDescription_en__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPMaterialDescription_fr__c" nillable="true" minOccurs="0" type="xs:string"/>
                       		<xs:element name="SAPMaterialDescription_ja__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPMaterialDescription_pl__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPMaterialDescription_sk__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="SAPSystemID__c" nillable="true" minOccurs="0" type="xs:string"/>
							<xs:element name="BaseUnit__c" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="CurrencyIsoCode" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="DisplayUrl" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ExternalDataSourceId" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="ExternalId" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="Family" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="StockKeepingUnit" nillable="true" minOccurs="0" type="xs:string"/>
                        	<xs:element name="QuantityUnitOfMeasure" nillable="true" minOccurs="0" type="xs:string"/>		
                        </xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>