SandboxPhilipp/MM_Ue02_PHL/src/main/resources/xsd/Ue2_In.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="SalesOrderDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Customer" minOccurs="0" maxOccurs="unbounded" />
		  <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" minOccurs="0" />
              <xs:element name="Order" minOccurs="0" maxOccurs="unbounded" />
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ID" type="xs:string" minOccurs="0" />
						<xs:element name="Amount" type="xs:decimal" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
            </xs:sequence>
          </xs:complexType>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>