SandboxPhilipp/Exercise01/src/main/resources/wsdl/userdata.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sap.com/MergeMultiplePOs">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://sap.com/MergeMultiplePOs" targetNamespace="http://sap.com/MergeMultiplePOs">
         <xsd:element name="TaxDetails">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="UserData" maxOccurs="unbounded">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="userID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="TaxID" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			   <xsd:element name="Annual_Income" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			   <xsd:element name="Currency" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			   <xsd:element name="Tax_Percent" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			   <xsd:element name="Tax_Amount" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="FirstName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="LastName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="FullName" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="Department" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="Street" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			   <xsd:element name="City" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="EMail" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                           <xsd:element name="PhoneNumber" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="EmployeeList">
      <wsdl:part xmlns:p4="http://sap.com/MergeMultiplePOs" name="EmployeeList" element="p4:EmployeeList" />
   </wsdl:message>
</wsdl:definitions>