FINNIntegrations/FINN_IN_AirTable_Replicate_Asset_Master_Data_in_S4_P_100/src/main/resources/wsdl/ASSETACQUISITION_POST02.WSDL

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:idoc:soap:messages" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:idoc:soap:messages">
 <wsdl:documentation>
  <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl">
   <!--This WSDL is intended for use cases related to the OSS notes 1510812 and 1613719 only-->
  </sidl:sidl>
 </wsdl:documentation>
 <wsdl:types>
  <xsd:schema elementFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:idoc:soap:messages">
   <xsd:complexType name="E1BPFAPO_AREAVALUES_PROP.001">
    <xsd:sequence>
     <xsd:element name="DEPR_AREA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="AMOUNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORD_DEP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SPE_DEP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="UNP_DEP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RES_TRA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORD_REV" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="APPREC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INVGRNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CURRENCY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CURRENCY_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORD_DEP_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SPE_DEP_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="UNP_DEP_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TRA_RES_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ORD_REV_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="APPREC_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="INVGRNT_CY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPFAPO_DOC_REF.000">
    <xsd:sequence>
     <xsd:element name="OBJ_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJ_KEY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OBJ_SYS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPFAPO_GEN_INFO.002">
    <xsd:sequence>
     <xsd:element name="USERNAME" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOC_TYPE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOC_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="PSTNG_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FIS_PERIOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TRANS_DATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COMP_CODE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ASSETMAINO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ASSETSUBNO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ASSETTRTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DEPR_AREA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="LEDGER_GROUP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ACC_PRINCIPLE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPFAPO_ACQ.001">
    <xsd:sequence>
     <xsd:element name="AMOUNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CURRENCY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="5"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CURRENCY_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="QUANTITY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="15"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BASE_UOM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BASE_UOM_ISO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="VALUEDATE" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TRADE_ID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TR_PART_BA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OFFSET_ACCOUNT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ASSETCLASS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="COSTCENTER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BUS_AREA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DESCRIPT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPFAPO_ACC_ASS.002">
    <xsd:sequence>
     <xsd:element name="ORDERID" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="12"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="WBS_ELEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUND" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNDS_CTR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RL_EST_KEY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="WBS_ELEMENT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="24"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CORR_ITEM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNC_AREA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GRANT_NBR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUND_APC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNC_AREA_APC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="GRANT_NBR_APC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNDS_CTR_APC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="WBS_ELEM_COST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="FUNC_AREA_LONG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BUDGET_PERIOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="BUDGET_PERIOD_APC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1BPFAPO_ADD_INFO.001">
    <xsd:sequence>
     <xsd:element name="ALLOC_NMBR" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="18"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="HEADER_TXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="25"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REF_DOC_NO" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REF_DOC_NO_LONG" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="35"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ITEM_TEXT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="50"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="E1IDOCENHANCEMENT.000">
    <xsd:sequence>
     <xsd:element name="IDENTIFIER" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DATA" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="970"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="EDI_DC40">
    <xsd:sequence>
     <xsd:element name="TABNAM">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MANDT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOCNUM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="16"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DOCREL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="4"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STATUS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="DIRECT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="OUTMOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="EXPRSS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="TEST" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="IDOCTYP">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CIMTYP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESTYP">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="30"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESCOD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="MESFCT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="3"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="1"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STDVRS" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="STDMES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPOR">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRT">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPFC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDPRN">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDSAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SNDLAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPOR">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRT">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPFC" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="2"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVPRN">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="10"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVSAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="21"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="RCVLAD" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CREDAT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="8"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="CRETIM" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="6"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFINT" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFGRP" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="REFMES" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="14"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="ARCKEY" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="70"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
     <xsd:element name="SERIAL" minOccurs="0">
      <xsd:simpleType>
       <xsd:restriction base="xsd:string">
        <xsd:maxLength value="20"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="SEGMENT" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:complexType name="ASSETACQUISITION_POST.ASSETACQUISITION_POST02">
    <xsd:sequence>
     <xsd:element name="EDI_DC40" type="tns:EDI_DC40"/>
     <xsd:element name="E1BPFAPO_DOC_REF" type="tns:E1BPFAPO_DOC_REF.000" minOccurs="0"/>
     <xsd:element name="E1BPFAPO_GEN_INFO" type="tns:E1BPFAPO_GEN_INFO.002" minOccurs="0"/>
     <xsd:element name="E1BPFAPO_ACQ" type="tns:E1BPFAPO_ACQ.001" minOccurs="0"/>
     <xsd:element name="E1BPFAPO_ACC_ASS" type="tns:E1BPFAPO_ACC_ASS.002" minOccurs="0"/>
     <xsd:element name="E1BPFAPO_ADD_INFO" type="tns:E1BPFAPO_ADD_INFO.001" minOccurs="0"/>
     <xsd:element name="E1BPFAPO_AREAVALUES_PROP" type="tns:E1BPFAPO_AREAVALUES_PROP.001" minOccurs="0" maxOccurs="unbounded"/>
     <xsd:element name="E1IDOCENHANCEMENT" type="tns:E1IDOCENHANCEMENT.000" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="BEGIN" type="xsd:string" fixed="1" use="required"/>
   </xsd:complexType>
   <xsd:simpleType name="IDocId">
    <xsd:restriction base="xsd:string">
     <xsd:pattern value="\d+"/>
     <xsd:maxLength value="16"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="IdocAssign">
    <xsd:sequence>
     <xsd:element name="TransferId" type="tns:IDocId"/>
     <xsd:element name="DbId" type="tns:IDocId"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ASSETACQUISITION_POST02">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IDOC" type="tns:ASSETACQUISITION_POST.ASSETACQUISITION_POST02"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ASSETACQUISITION_POST02Response">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="IdocAssign" type="tns:IdocAssign"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="ASSETACQUISITION_POST.ASSETACQUISITION_POST02">
  <wsdl:part name="ASSETACQUISITION_POST02" element="tns:ASSETACQUISITION_POST02"/>
 </wsdl:message>
 <wsdl:message name="ASSETACQUISITION_POST.ASSETACQUISITION_POST02Response">
  <wsdl:part name="ASSETACQUISITION_POST02Response" element="tns:ASSETACQUISITION_POST02Response"/>
 </wsdl:message>
 <wsdl:portType name="ASSETACQUISITION_POST.ASSETACQUISITION_POST02.PortType">
  <wsdl:operation name="ASSETACQUISITION_POST.ASSETACQUISITION_POST02">
   <wsdl:input message="tns:ASSETACQUISITION_POST.ASSETACQUISITION_POST02"/>
   <wsdl:output message="tns:ASSETACQUISITION_POST.ASSETACQUISITION_POST02Response"/>
  </wsdl:operation>
 </wsdl:portType>
</wsdl:definitions>
