ZITSANDBOXSBU/MEL_I0001_P61_Vendor_Replication/src/main/resources/xsd/Lieferanten.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Lieferanten">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="row">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="MODE" type="xs:string" />
							<xs:element name="NAME" type="xs:string" />
							<xs:element name="SUPPLIER_ID" type="xs:unsignedInt" />
							<xs:element name="DISABLED" />
							<xs:element name="CLIENT_ID" />
							<xs:element name="MASTER_SUPPLIER_ID" />
							<xs:element name="PURCHORG" />
							<xs:element name="COMPANYCODE" />
							<xs:element name="PLANT" />
							<xs:element name="PARTNER_NUMBER" />
							<xs:element name="SUPPLIER_ID_BUYER" />
							<xs:element name="BUYER_ID_BUYER" />
							<xs:element name="CULTURE_ID" type="xs:string" />
							<xs:element name="CURRENCY_ID" type="xs:string" />
							<xs:element name="VAT_ID" />
							<xs:element name="NEEDS_REVISION" />
							<xs:element name="IS_SERVICE_PROVIDER" />
							<xs:element name="FOREIGN_FLAG" />
							<xs:element name="EMAIL" type="xs:string" />
							<xs:element name="LINE1" type="xs:string" />
							<xs:element name="LINE2" type="xs:string" />
							<xs:element name="LINE3" type="xs:string" />
							<xs:element name="STREET" type="xs:string" />
							<xs:element name="ZIP" type="xs:string" />
							<xs:element name="CITY" type="xs:string" />
							<xs:element name="STATE" type="xs:string" />
							<xs:element name="COUNTRY_ID" type="xs:string" />
							<xs:element name="POBOX" type="xs:string" />
							<xs:element name="POBOX_POSTALCODE" type="xs:string" />
							<xs:element name="PHONE" type="xs:string" />
							<xs:element name="FAX" type="xs:string" />
							<xs:element name="MOBILE" />
							<xs:element name="PAYMENT_TERMS" type="xs:string" />
							<xs:element name="DELIVERY_TERMS" type="xs:string" />
							<xs:element name="DELIVERY_PLACE" type="xs:string" />
							<xs:element name="CONTRACT" />
							<xs:element name="MINIMUM_ORDER_VALUE" />
							<xs:element name="ORDERMODIFICATION_ENABLED" type="xs:string" />
							<xs:element name="COMPLAINT_ENABLED" type="xs:string" />
							<xs:element name="COMPLAINT_SUPPLIER_NOTIFICATION" />
							<xs:element name="COMPLAINT_PURCHASER_NOTIFICATION" />
							<xs:element name="COMPLAINT_ENABLE_RETURN_DELIVERY" />
							<xs:element name="CUSTOMFIELD1" />
							<xs:element name="CUSTOMFIELD2" />
							<xs:element name="CUSTOMFIELD3" />
							<xs:element name="CUSTOMFIELD4" />
							<xs:element name="CUSTOMFIELD5" />
							<xs:element name="CUSTOMFIELD6" />
							<xs:element name="CUSTOMFIELD7" />
							<xs:element name="CUSTOMFIELD8" />
							<xs:element name="CUSTOMFIELD9" />
							<xs:element name="CUSTOMFIELD10" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>