ZITSANDBOXSBU/MEL_I0001_P61_Vendor_Replication/src/main/resources/xsd/USERS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.org/Person"
        xmlns:tns="http://www.example.org/Person"
        elementFormDefault="qualified">
	<element name=" UserList">
		<complexType>
			<sequence>
				<element name="Users">
					<complexType>
						<sequence>
							<element name="FName"
							         type="string"/>
							<element name="LName"
							         type="string"/>
							<element name="Age"
							         type="string"/>
							<element name="Gender"
							         type="string"/>
							<element name="City"
							         type="string"/>
							<element name="Country"
							         type="string"/>
							<element name="ZipCode"
							         type="string"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>