HFFFinanceCustomer/HFF_SAPCPI.PurchasingAssociations_DZB_IN_MAIL_pass_remittance/src/main/resources/xsd/einkaufsverbaende_dzb.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Faelligkeitsdatum"/>
              <xs:element type="xs:string" name="Ausgleichsdatum"/>
              <xs:element type="xs:string" name="Abrechnungsperiode"/>
              <xs:element type="xs:string" name="Abrechnungsdatum"/>
              <xs:element type="xs:string" name="Positionstext"/>
              <xs:element type="xs:string" name="Gegenkonto"/>
              <xs:element type="xs:string" name="Name_Buchungspartner"/>
              <xs:element type="xs:string" name="UStID"/>
              <xs:element type="xs:string" name="Land"/>
              <xs:element type="xs:string" name="Kontonummer"/>
              <xs:element type="xs:string" name="Kontoname"/>
			  <xs:element type="xs:string" name="Belegart"/>
              <xs:element type="xs:string" name="Belegdatum"/>
              <xs:element type="xs:string" name="Eingangsperiode"/>
              <xs:element type="xs:string" name="Belegnummer"/>
              <xs:element type="xs:string" name="Bruttobetrag"/>
              <xs:element type="xs:string" name="Belegwährung"/>
			  <xs:element type="xs:string" name="Skontobasis_in_Belegwährung"/>
			  <xs:element type="xs:string" name="Max._Skontosatz"/>
			  <xs:element type="xs:string" name="Skonto_Umsatzsteuersatz"/>
			  <xs:element type="xs:string" name="Skonto_in_Belegwährung"/>
			  <xs:element type="xs:string" name="Zahlbetrag"/>
			  <xs:element type="xs:string" name="Umsatzsteuersatz"/>
			  <xs:element type="xs:string" name="Warengruppe"/>
			  <xs:element type="xs:string" name="Pruefkennzeichen"/>
			  <xs:element type="xs:string" name="Pruefkommentar"/>
			  <xs:element type="xs:string" name="Pruefer"/>
			  <xs:element type="xs:string" name="Pruefungsdatum"/>
			  <xs:element type="xs:string" name="Portaleingangsdatum"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
	</xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>