ZITSANDBOXALA/POC_Document_Information_Extraction_ALA_POST/src/main/resources/xsd/BTPServiceExtraction.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="bocrVersion" type="xs:string" />
        <xs:element name="clientId" type="xs:string" />
        <xs:element name="country" type="xs:string" />
        <xs:element name="created" type="xs:dateTime" />
        <xs:element name="dataForRetrainingStatus" type="xs:string" />
        <xs:element name="documentType" type="xs:string" />
        <xs:element name="doxVersion" type="xs:string" />
        <xs:element name="enrichment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="employee" />
              <xs:element name="sender" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="extraction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="headerFields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="category" type="xs:string" />
                          <xs:element name="confidence" type="xs:decimal" />
                          <xs:element name="coordinates">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="h" type="xs:decimal" />
                                <xs:element name="w" type="xs:decimal" />
                                <xs:element name="x" type="xs:decimal" />
                                <xs:element name="y" type="xs:decimal" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="description" type="xs:string" />
                          <xs:element minOccurs="0" name="group" type="xs:unsignedByte" />
                          <xs:element name="label" type="xs:string" />
                          <xs:element name="model" type="xs:string" />
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="page" type="xs:unsignedByte" />
                          <xs:element name="rawValue" type="xs:string" />
                          <xs:element name="type" type="xs:string" />
                          <xs:element name="value" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lineItems">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="element">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="element">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="category" type="xs:string" />
                                <xs:element name="confidence" type="xs:decimal" />
                                <xs:element name="coordinates">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="h" type="xs:decimal" />
                                      <xs:element name="w" type="xs:decimal" />
                                      <xs:element name="x" type="xs:decimal" />
                                      <xs:element name="y" type="xs:decimal" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="description" type="xs:string" />
                                <xs:element name="label" type="xs:string" />
                                <xs:element name="model" type="xs:string" />
                                <xs:element name="name" type="xs:string" />
                                <xs:element name="page" type="xs:unsignedByte" />
                                <xs:element name="rawValue" type="xs:string" />
                                <xs:element name="type" type="xs:string" />
                                <xs:element name="value" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="fileName" type="xs:string" />
        <xs:element name="fileType" type="xs:string" />
        <xs:element name="finished" type="xs:dateTime" />
        <xs:element name="height" type="xs:unsignedShort" />
        <xs:element name="id" type="xs:string" />
        <xs:element name="languageCodes">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="element" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="pageCount" type="xs:unsignedByte" />
        <xs:element name="schemaId" type="xs:string" />
        <xs:element name="schemaName" type="xs:string" />
        <xs:element name="schemaVersion" type="xs:unsignedByte" />
        <xs:element name="status" type="xs:string" />
        <xs:element name="width" type="xs:unsignedShort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>