ZITSANDBOXMCT/Create_Central_Order/src/main/resources/xsd/FilteredSalesOrder.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://saps4.company.net/test" targetNamespace="http://saps4.company.net/test">
   <xsd:element name="MT_SalesOrder" type="SalesOrderRequest" />
   <xsd:complexType name="SalesOrderRequest">
      <xsd:sequence>
         <xsd:element name="MessageHeader">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="ReferenceID" type="xsd:string" />
                  <xsd:element name="CreationDateTime" type="xsd:string" />
                  <xsd:element name="SenderBusinessSystemID" type="xsd:string" />
                  <xsd:element name="StandardID" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="SalesOrder">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="SalesOrderID" type="xsd:string" />
                  <xsd:element name="InvoiceNumber" type="xsd:string" />
                  <xsd:element name="ExternalDocumentID" type="xsd:string" />
                  <xsd:element name="DistributionChannel" type="xsd:string" />
                  <xsd:element name="SalesOrderDate" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>