LeanIXSAPIntegrationCockpit/Get_Data_Object_Information_from_LeanIX/src/main/resources/xsd/LeanIXApplication .xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="data">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="allFactSheets">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="totalCount"/>
                    <xs:element name="edges" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="node">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:dateTime" name="updatedAt"/>
                                <xs:element type="xs:string" name="technicalSuitability"/>
                                <xs:element type="xs:string" name="functionalSuitability"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>