ZITSANDBOXTNN/ZIT_TNN_XML_Transformation/src/main/resources/xsd/Kap6_CSV_XML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="CSV_XML" type="CSV_XML"/>
    <xsd:complexType name="CSV_XML">
        <xsd:sequence>
            <xsd:element name="ROW" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Row</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="COL_1" type="xsd:string" minOccurs="0" maxOccurs="unbounded" nillable="true">
                            <xsd:annotation>
                                <xsd:documentation>Column 1</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="COL_2" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Column 2</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="COL_3" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Column 3</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="COL_4" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Column 4</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                        <xsd:element name="COL_5" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
                            <xsd:annotation>
                                <xsd:documentation>Column 5</xsd:documentation>
                            </xsd:annotation>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>