ZITSANDBOXTNN/ZIT_TNN_TEST/src/main/resources/src/main/resources/xsd/salesforce_rest_quotes_jsonInput.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="customernumber"/>
				<xs:element type="xs:string" name="salesorg"/>
				<xs:element type="xs:string" name="distrchannel"/>
				<xs:element type="xs:string" name="ordertype"/>
				<xs:element type="xs:string" name="ship_to_party"/>
				<xs:element type="xs:date" name="valid_to"/>
				<xs:element type="xs:date" name="valid_from"/>
				<xs:element type="xs:date" name="date"/>
				<xs:element type="xs:date" name="desired_delivery_date"/>
				<xs:element type="xs:date" name="pricing_date"/>
				<xs:element type="xs:string" name="language"/>
				<xs:element type="xs:string" name="contact_id"/>
				<xs:element type="xs:string" name="invoice_recipient_id"/>
				<xs:element type="xs:string" name="sales_rep_id"/>
				<xs:element type="xs:string" name="purchase_project_id"/>
				<xs:element type="xs:string" name="customer_order_id"/>
				<xs:element type="xs:string" name="currencycode"/>
				<xs:element type="xs:boolean" name="complete_delivery"/>
				<xs:element type="xs:string" name="incoterm"/>
				<xs:element type="xs:string" name="location"/>
				<xs:element type="xs:string" name="shipping_condition_key"/>
				<xs:element type="xs:string" name="division"/>
				<xs:element type="xs:string" name="order_reason"/>
				<xs:element type="xs:string" name="external_system_id"/>
				<xs:element type="xs:string" name="sender"/>
				<xs:element type="xs:string" name="customer_service_text"/>
				<xs:element type="xs:string" name="packaging_text"/>
				<xs:element type="xs:boolean" name="delivery_block"/>
				<xs:element type="xs:string" name="introduction"/>
				<xs:element type="xs:string" name="footer"/>
				<xs:element type="xs:string" name="notes"/>
				<xs:element name="addresses" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="delivery_addr_id"/>
							<xs:element type="xs:string" name="delivery_addr_link_no"/>
							<xs:element type="xs:string" name="delivery_addr_name"/>
							<xs:element type="xs:string" name="delivery_addr_name2"/>
							<xs:element type="xs:string" name="delivery_addr_name3"/>
							<xs:element type="xs:string" name="delivery_addr_name4"/>
							<xs:element type="xs:string" name="delivery_addr_street"/>
							<xs:element type="xs:string" name="delivery_addr_country"/>
							<xs:element type="xs:string" name="delivery_addr_zip"/>
							<xs:element type="xs:string" name="delivery_addr_city"/>
							<xs:element type="xs:string" name="delivery_addr_postbox"/>
							<xs:element type="xs:string" name="delivery_addr_postbox_zip"/>
							<xs:element type="xs:string" name="delivery_addr_postbox_city"/>
							<xs:element type="xs:string" name="delivery_addr_postbox_country"/>
							<xs:element type="xs:string" name="delivery_addr_houseno"/>
							<xs:element type="xs:string" name="delivery_addr_houseno_suppl"/>
							<xs:element type="xs:string" name="delivery_addr_street_suppl1"/>
							<xs:element type="xs:string" name="delivery_addr_street_suppl2"/>
							<xs:element type="xs:string" name="delivery_addr_street_suppl3"/>
							<xs:element type="xs:string" name="delivery_addr_location"/>
							<xs:element type="xs:string" name="delivery_addr_district"/>
							<xs:element type="xs:string" name="delivery_addr_region"/>
							<xs:element type="xs:string" name="delivery_addr_sortfield"/>
							<xs:element type="xs:string" name="delivery_addr_phone"/>
							<xs:element type="xs:string" name="delivery_addr_fax"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="conditions" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="external_system_position_id"/>
							<xs:element type="xs:string" name="condition_sequence"/>
							<xs:element type="xs:string" name="condition_type"/>
							<xs:element type="xs:decimal" name="condition_value"/>
							<xs:element type="xs:decimal" name="condition_price_unit"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="products" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="position_number"/>
							<xs:element type="xs:string" name="article_id"/>
							<xs:element type="xs:string" name="customer_article_id"/>
							<xs:element type="xs:string" name="short_description"/>
							<xs:element type="xs:string" name="item_category"/>
							<xs:element type="xs:string" name="order_unit"/>
							<xs:element type="xs:string" name="material_price_group"/>
							<xs:element type="xs:integer" name="alternative_leading_item"/>
							<xs:element type="xs:string" name="project_id"/>
							<xs:element type="xs:string" name="external_line_reference"/>
							<xs:element type="xs:string" name="manufacturing_info_text"/>
							<xs:element type="xs:string" name="note_below_text"/>
							<xs:element type="xs:string" name="end_customer_id"/>
							<xs:element type="xs:string" name="external_system_id"/>
							<xs:element type="xs:string" name="external_system_position_id"/>
							<xs:element type="xs:string" name="package_product_code"/>
							<xs:element name="quantities" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element type="xs:string" name="external_system_position_id"/>
										<xs:element type="xs:integer" name="schedule_line_number"/>
										<xs:element type="xs:decimal" name="order_quantity"/>
										<xs:element type="xs:date" name="desired_delivery_date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="cmat_configuration" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:integer" name="posnr"/>
							<xs:element type="xs:integer" name="sortno"/>
							<xs:element type="xs:string" name="charc"/>
							<xs:element type="xs:string" name="value"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>