ZITSANDBOXMRICOE/Consume_Events_BP_Changed/src/main/resources/xsd/crm.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="import">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fields">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FI">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="TenantNo" type="xs:unsignedByte" />
                          <xs:element name="extkey" type="xs:unsignedInt" />
                          <xs:element name="Comnpany" type="xs:string" />
                          <xs:element name="Street" type="xs:string" />
                          <xs:element name="City" type="xs:string" />
                          <xs:element name="Country" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>