HFFFinanceCustomer/HFF_SAPCPI.PurchasingAssociations_Aktivbank_IN_MAIL_pass_remittance/src/main/resources/xsd/einkaufsverbaende.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:short" name="Lieferantennummer_Kunde"/>
              <xs:element type="xs:int" name="Kundeninterne_Nummer_1"/>
              <xs:element type="xs:int" name="Kundeninterne_Nummer_2"/>
              <xs:element type="xs:int" name="Rechnungsnummer_HABA"/>
              <xs:element type="xs:int" name="Kundeninterne_Nummer_3"/>
              <xs:element type="xs:int" name="Kundeninterne_Nummer_4"/>
              <xs:element type="xs:int" name="Betrag_1"/>
              <xs:element type="xs:int" name="Betrag_2"/>
              <xs:element type="xs:int" name="Betrag_3"/>
              <xs:element type="xs:int" name="Betrag_4"/>
              <xs:element type="xs:int" name="Betrag_5"/>
              <xs:element type="xs:int" name="Betrag_6"/>
              <xs:element type="xs:int" name="Betrag_7"/>
              <xs:element type="xs:int" name="Betrag_8"/>
              <xs:element type="xs:int" name="Betrag_9"/>
              <xs:element type="xs:int" name="Betrag_10"/>
              <xs:element type="xs:int" name="Betrag_11"/>
              <xs:element type="xs:int" name="Betrag_12"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
	</xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>