ZITSANDBOXDHN/IF_ERP_to_Webservice_DEP_Useranlage/src/main/resources/xsd/test.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://randstad.com/de/tempoteam/login/pi" targetNamespace="http://randstad.com/de/tempoteam/login/pi">
   <xsd:element name="LoginServer_Response_MT" type="LoginServer_Response_DT" />
   <xsd:complexType name="LoginServer_Response_DT">
      <xsd:sequence>
         <xsd:element name="code" type="xsd:string" />
         <xsd:element name="actions" maxOccurs="unbounded">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="subcode" type="xsd:string" />
                  <xsd:element name="result" type="xsd:string" />
                  <xsd:element name="object" type="xsd:string" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>