ZITSandboxMTS/China_S4_Send_PO_from_SATURN_to_S4HANA/src/main/resources/xsd/Saturn_OrderSet.xsd

<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="OrderSet">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="OrderLine" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SupplierID" type="xs:short" minOccurs="0"/>
							<xs:element name="Supplier" type="xs:string" minOccurs="0"/>
							<xs:element name="POID" type="xs:int" minOccurs="0"/>
							<xs:element name="OrderCreationDate" type="xs:int" minOccurs="0"/>
							<xs:element name="POStatus" type="xs:int" minOccurs="0"/>
							<xs:element name="ReferenceID" type="xs:int" minOccurs="0"/>
							<xs:element name="MaterialID" type="xs:int" minOccurs="0"/>
							<xs:element name="CS" type="xs:int" minOccurs="0"/>
							<xs:element name="OrderQTY" type="xs:int" minOccurs="0"/>
							<xs:element name="DesiredQTY" type="xs:int" minOccurs="0"/>
							<xs:element name="MB" type="xs:int" minOccurs="0"/>
							<xs:element name="Price" type="xs:int" minOccurs="0"/>
							<xs:element name="DeliveryDate" type="xs:int" minOccurs="0"/>
							<xs:element name="OrderCode" type="xs:int" minOccurs="0"/>
							<xs:element name="GRQTY" type="xs:int" minOccurs="0"/>
							<xs:element name="GRDate" type="xs:int" minOccurs="0"/>
							<xs:element name="ABC" type="xs:int" minOccurs="0"/>
							<xs:element name="DesiredDate" type="xs:int" minOccurs="0"/>
							<xs:element name="ConfirmedDate" type="xs:int" minOccurs="0"/>
							<xs:element name="Bonded" type="xs:int" minOccurs="0"/>
							<xs:element name="Position" type="xs:int" minOccurs="0"/>
							<xs:element name="Currency" type="xs:int" minOccurs="0"/>
							<xs:element name="DeliveryTerms" type="xs:int" minOccurs="0"/>
							<xs:element name="PaymentTerms" type="xs:int" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
