CentralOrderIntegrationwithSAPS4HANA/Replicate.Order.from.Central.Order.to.SAP.S4HANA.1/src/main/resources/xsd/omOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xsd:element name="ROOT">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element type="xsd:token" name="DOC_TYPE" maxOccurs="1" minOccurs="1" />
				<xsd:element type="xsd:token" name="INCOTERMS" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="PMNTTRMS" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="PLANT" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="CONDITIONTYPE_GROSS" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="CONDITIONTYPE_NET" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="CONDITIONTYPE_PYT_FEE" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="CONDITIONTYPE_SHP_FEE" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="CONDITIONTYPE_ITEM_DISCOUNT" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="CONDITIONTYPE_HEADER_DISCOUNT" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="DROPSHIP_ITEM_CATEGORY_TYPE" maxOccurs="1" minOccurs="0" />
				<xsd:element type="xsd:token" name="SENDER_BUSINESS_SYSTEM_ID" maxOccurs="1" minOccurs="0" />
				<xsd:element name="BODY" maxOccurs="1" minOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element type="xsd:token" name="fulfillmentRequestId" maxOccurs="1" minOccurs="1" />
							<xsd:element name="metadata" maxOccurs="1" minOccurs="1" >
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:dateTime" name="createdAt" maxOccurs="1" minOccurs="1" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="market" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="priceType" maxOccurs="1" minOccurs="1" />
										<xsd:element type="xsd:token" name="currency" maxOccurs="1" minOccurs="1" />
										<xsd:element name="salesArea" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="salesOrganization" maxOccurs="1" minOccurs="1" />
													<xsd:element type="xsd:token" name="distributionChannel" maxOccurs="1" minOccurs="1" />
													<xsd:element type="xsd:token" name="division" maxOccurs="1" minOccurs="1" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="customer" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="fulfillmentSystemReference" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
													<xsd:sequence>
														<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1" />
													</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="addresses" maxOccurs="unbounded" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="street" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="houseNumber" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="poBox" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="postalCode" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="city" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="country" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="district" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="state" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="phone" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="email" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="fax" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="correspondenceLanguage" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="addressType" maxOccurs="1" minOccurs="1" />
													<xsd:element type="xsd:token" name="partnerId" maxOccurs="1" minOccurs="1" />
													<xsd:element name="person" maxOccurs="1" minOccurs="0" >
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:token" name="salutationCode" maxOccurs="1" minOccurs="0" />
																<xsd:element type="xsd:token" name="firstName" maxOccurs="1" minOccurs="0" />
																<xsd:element type="xsd:token" name="middleName" maxOccurs="1" minOccurs="0" />
																<xsd:element type="xsd:token" name="lastName" maxOccurs="1" minOccurs="0" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="payment" maxOccurs="unbounded" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="method" maxOccurs="1" minOccurs="1" />
										<xsd:element type="xsd:token" name="type" maxOccurs="1" minOccurs="0" />
										<xsd:element type="xsd:token" name="cardToken" maxOccurs="1" minOccurs="0" />
										<xsd:element name="authorization" maxOccurs="1" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="0" />
													<xsd:element type="xsd:token" name="merchantId" maxOccurs="1" minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="authorizedAmount" maxOccurs="1" minOccurs="0">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:decimal" name="amount" maxOccurs="1" minOccurs="0" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element type="xsd:token" name="paymentServiceProvider" maxOccurs="1" minOccurs="0" />
										<xsd:element type="xsd:token" name="transactionId" maxOccurs="1" minOccurs="0" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="fees" maxOccurs="unbounded" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="category" maxOccurs="1" minOccurs="1" />
										<xsd:element type="xsd:decimal" name="effectiveAmount" maxOccurs="1" minOccurs="0" />
										<xsd:element type="xsd:decimal" name="finalAmount" maxOccurs="1" minOccurs="0" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>	
							<xsd:element name="discount" maxOccurs="1" minOccurs="0">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:decimal" name="totalAmount" maxOccurs="1" minOccurs="1" />
										<xsd:element name="lines" maxOccurs="unbounded" minOccurs="0" >
											<xsd:complexType>
													<xsd:sequence>
														<xsd:element type="xsd:decimal" name="amount" maxOccurs="1" minOccurs="1" />
														<xsd:element type="xsd:token" name="externalPromotionType" maxOccurs="1" minOccurs="0" />
													</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
							<xsd:element name="orderItems" maxOccurs="unbounded" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="fulfillmentRequestItemId" maxOccurs="1" minOccurs="1" />
										<xsd:element type="xsd:token" name="lineNumber" maxOccurs="1" minOccurs="1" />
										<xsd:element name="quantity" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element type="xsd:decimal" name="value" maxOccurs="1" minOccurs="1" />
													<xsd:element type="xsd:token" name="unit" maxOccurs="1" minOccurs="1" />
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="price" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="aspectsData" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element name="physicalItemPrice" maxOccurs="1" minOccurs="1">
																	<xsd:complexType>
																		<xsd:sequence>
																			<xsd:element name="priceTotals" maxOccurs="unbounded" minOccurs="1">
																				<xsd:complexType>
																					<xsd:sequence>
																						<xsd:element type="xsd:decimal" name="finalAmount" maxOccurs="1" minOccurs="0" />
																						<xsd:element type="xsd:decimal" name="effectiveAmount" maxOccurs="1" minOccurs="0" />
																						<xsd:element name="discount" maxOccurs="1" minOccurs="0">
																							<xsd:complexType>
																								<xsd:sequence>
																									<xsd:element type="xsd:decimal" name="totalAmount" maxOccurs="1" minOccurs="1" />
																									<xsd:element name="lines" maxOccurs="unbounded" minOccurs="0" >
																										<xsd:complexType>
																												<xsd:sequence>
																													<xsd:element type="xsd:decimal" name="amount" maxOccurs="1" minOccurs="1" />
																													<xsd:element type="xsd:token" name="externalPromotionType" maxOccurs="1" minOccurs="0" />
																												</xsd:sequence>
																										</xsd:complexType>
																									</xsd:element>
																								</xsd:sequence>
																							</xsd:complexType>
																						</xsd:element>
																					</xsd:sequence>
																				</xsd:complexType>
																			</xsd:element>
																		</xsd:sequence>
																	</xsd:complexType>
																</xsd:element>
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="product" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="fulfillmentSystemReference" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
										<xsd:element name="sourcing" maxOccurs="1" minOccurs="1">
											<xsd:complexType>
												<xsd:sequence>
													<xsd:element name="fulfillmentSite" maxOccurs="1" minOccurs="1">
														<xsd:complexType>
															<xsd:sequence>
																<xsd:element type="xsd:token" name="id" maxOccurs="1" minOccurs="1" />
																<xsd:element type="xsd:token" name="dropShipId" maxOccurs="1" minOccurs="0" />
															</xsd:sequence>
														</xsd:complexType>
													</xsd:element>
												</xsd:sequence>
											</xsd:complexType>
										</xsd:element>
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>	
							<xsd:element name="delivery" maxOccurs="1" minOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element type="xsd:token" name="deliveryOption" maxOccurs="1" minOccurs="0" />
									</xsd:sequence>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>