ZITSANDBOXMCT/Airplus_to_ACCDocument05/src/main/resources/xsd/Airplus_Schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <xsd:element name="MT_Airplus" type="DT_Airplus" />
   <xsd:complexType name="DT_Airplus">
      <xsd:sequence>
         <xsd:element name="Root">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Row" maxOccurs="unbounded">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="AirPlusReferenz" type="xsd:string" />
                           <xsd:element name="KarteninhaberName" type="xsd:string" />
						   <xsd:element name="Kreditor" type="xsd:string" />
                           <xsd:element name="Rechnungsnummer" type="xsd:string" />						   
                           <xsd:element name="Rechnungsdatum" type="xsd:string" />
                           <xsd:element name="Abrechnungsswaehrung" type="xsd:string" />
                           <xsd:element name="BruttoBetrag" type="xsd:string" />
                           <xsd:element name="SAPClearingAccount" type="xsd:string" />
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>