LeanIXSAPIntegrationCockpit/Get_Application_Initial_Load_Information_from_LeanIX_copy/src/main/resources/xsd/LeanIXApplication.xsd

<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Applications" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ID" type="xs:string" minOccurs="0"/>
							<xs:element name="Name" type="xs:string" minOccurs="0"/>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
							<xs:element name="updatedAt" type="xs:string" minOccurs="0"/>
							<xs:element name="technicalSuitability" type="xs:string" minOccurs="0"/>
							<xs:element name="functionalSuitability" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>