ZITSandboxMTS/Payroll_S4_Send_Postings_from_KSWages_to_S4HANA/src/main/resources/xsd/KSWagesRecordSet_parsed.xsd

<!-- Mit XMLSpy v2022 (x64) (http://www.altova.com) von Martin Tieves (NTT DATA Business Solutions AG) bearbeitet -->
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RecordSetLines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RecordSet99" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Tag" type="xs:string" minOccurs="0"/>
							<xs:element name="FiscalYear" type="xs:string" minOccurs="0"/>
							<xs:element name="Month" type="xs:string" minOccurs="0"/>
							<xs:element name="HeaderText" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="RecordSets" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="RecordSet01" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tag" type="xs:string" minOccurs="0"/>
										<xs:element name="GLAccount" type="xs:string" minOccurs="0"/>
										<xs:element name="DocumentDate" type="xs:string" minOccurs="0"/>
										<xs:element name="FiscalYear" type="xs:string" minOccurs="0"/>
										<xs:element name="Period" type="xs:string" minOccurs="0"/>
										<xs:element name="ReferenceHeader" type="xs:string" minOccurs="0"/>
										<xs:element name="PostingDate" type="xs:string" minOccurs="0"/>
										<xs:element name="CreditDebit" type="xs:string" minOccurs="0"/>
										<xs:element name="Amount" type="xs:string" minOccurs="0"/>
										<xs:element name="PositionText" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RecordSet02" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tag" type="xs:string" minOccurs="0"/>
										<xs:element name="GLAccount" type="xs:string" minOccurs="0"/>
										<xs:element name="AmountPosition" type="xs:string" minOccurs="0"/>
										<xs:element name="PositionText" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="RecordSet03" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tag" type="xs:string" minOccurs="0"/>
										<xs:element name="CostCenter" type="xs:string" minOccurs="0"/>
										<xs:element name="GLAccount" type="xs:string" minOccurs="0"/>
										<xs:element name="AmountPosition" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>