ZITSandboxMTS/Payroll_S4_Send_Postings_from_KSWages_to_S4HANA/src/main/resources/xsd/KSWagesRecordSet.xsd

<!-- Mit XMLSpy v2021 rel. 3 (x64) (http://www.altova.com) von Martin Tieves (NTT DATA Business Solutions AG) bearbeitet -->
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Tieves (Itelligence AG) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RecordSetLines">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RecordSet" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Record" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string"/>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>