CoECoreIntegrationCleanCore/IF_1000.09_CoE_-_CleanCore_GLAccount_ERP_Out/src/main/resources/xsd/EloBenexGLAccount.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="results">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Profile" type="xs:string"/>
              <xs:element name="CompanyCode" type="xs:string"/>
              <xs:element name="GLAccount" type="xs:string"/>
              <xs:element name="GLAccountName" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>