ZITSANDBOXMRI/MessageMapping_Hubspot_Test/src/main/resources/xsd/contact.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="properties">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="address" type="xs:string"/>
							<xs:element name="akademischer_grad" type="xs:string"/>
							<xs:element name="city" type="xs:string"/>
							<xs:element name="contact_has_left" type="xs:string"/>
							<xs:element name="country" type="xs:string"/>
							<xs:element name="department" type="xs:string"/>
							<xs:element name="e_mail_change_request_to_hubspot" type="xs:string"/>
							<xs:element name="elixirsync_external_contact_id" type="xs:int"/>
							<xs:element name="email" type="xs:string"/>
							<xs:element name="firstname" type="xs:string"/>
							<xs:element name="house_number" type="xs:string"/>
							<xs:element name="itelligence_account_executive_owner_" type="xs:string"/>
							<xs:element name="job_function" type="xs:string"/>
							<xs:element name="jobtitle" type="xs:string"/>
							<xs:element name="lastname" type="xs:string"/>
							<xs:element name="locked_c4c_" type="xs:string"/>
							<xs:element name="mobilephone" type="xs:string"/>
							<xs:element name="phone" type="xs:string"/>
							<xs:element name="title_c4c_" type="xs:string"/>
							<xs:element name="vip_contract" type="xs:string"/>
							<xs:element name="zip" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>