ZITSANDBOXFLN/IF_GrimmePresales_POST_Itemdata/src/main/resources/xsd/TargetStructure_GRIMMEConnect.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Product_Item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Date_of_Creation" type="xs:dateTime" />
              <xs:element name="ProductGroup" type="xs:string" />
              <xs:element name="CreatedBy" type="xs:string" />
              <xs:element name="OriginCountry" />
              <xs:element name="Product_ID" type="xs:string" />
              <xs:element name="PIM_ID" type="xs:string" />
              <xs:element name="PLM_ID" type="xs:string" />
              <xs:element name="Volume" />
              <xs:element name="Warehouse" />
              <xs:element name="MaterialVolume" type="xs:decimal" />
              <xs:element name="GrossWeight" type="xs:decimal" />
              <xs:element name="InternationalArticleNumberCat" />
              <xs:element name="Product_Type" type="xs:string" />
              <xs:element name="ItemCategoryGroup" type="xs:string" />
              <xs:element name="BaseUnit" type="xs:string" />
              <xs:element name="LastChanged_User" type="xs:string" />
              <xs:element name="PurchaseOrderQuantityUnit" />
              <xs:element name="RevisionLevel" />
              <xs:element name="WeightUnit" type="xs:string" />
              <xs:element name="Division" type="xs:unsignedByte" />
              <xs:element name="Industry_Sector" type="xs:string" />
              <xs:element name="NetWeight" type="xs:decimal" />
              <xs:element name="LastChangeDate" type="xs:dateTime" />
              <xs:element name="ChangeNumber" />
              <xs:element name="LastChangeDateTime" type="xs:dateTime" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>