ZITSANDBOXSGR/ZIT_SGR_CSV_TO_XML/src/main/resources/xsd/csv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="RecordSet">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Record">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Field1" type="xsd:string"/>
							<xsd:element name="Field2" type="xsd:string"/>
							<xsd:element name="Field3" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>