ZITSANDBOXDHN/ODATA_BATCH_TEST/src/main/resources/xsd/batch_definition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProductElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BatchElement" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PeriodElement">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Product"/>
                    <xs:element type="xs:string" name="Plant"/>
                    <xs:element type="xs:string" name="PlndIndepRqmtPeriod"/>
                    <xs:element type="xs:string" name="PeriodType"/>
                    <xs:element type="xs:string" name="PlannedQuantity"/>
					<xs:element type="xs:string" name="PlndIndepRqmtType"/>
                    <xs:element type="xs:string" name="PlndIndepRqmtVersion"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>