ZITSANDBOXTNN/BJB_IF1009_IN_FICO_GFOS_Zeiterfassung_an_S4_DEV/src/main/resources/xsd/GFOS_Buchungsdaten.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="GFOS_Buchungsdaten">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Buchungsdaten" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Buchungsdatum"/>
							<xs:element type="xs:string" name="Belegdatum"/>
							<xs:element type="xs:string" name="Person"/>
							<xs:element type="xs:string" name="Kst."/>
							<xs:element type="xs:string" name="Std."/>
							<xs:element type="xs:string" name="Zeitraum"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>