ZITSANDBOXTNN/IRS_IN_Generic_Businesspartner_anlegen_an_S4_QAS/src/main/resources/xsd/BP_anlegen_output.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BusinessPartner">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="General">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:dateTime" name="CreationDate" minOccurs="0"/>
							<xs:element type="xs:string" name="CreatedByUser" minOccurs="0"/>
							<xs:element type="xs:dateTime" name="LastChangeDate" minOccurs="0"/>
							<xs:element type="xs:string" name="LastChangedByUser" minOccurs="0"/>
							<xs:element type="xs:string" name="DataOrigin" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="A_BusinessPartner">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="BusinessPartner" minOccurs="0"/>
							<xs:element type="xs:byte" name="BusinessPartnerCategory" minOccurs="0"/>
							<xs:element type="xs:string" name="Name1" minOccurs="0"/>
							<xs:element type="xs:string" name="Name2" minOccurs="0"/>
							<xs:element type="xs:string" name="Name3" minOccurs="0"/>
							<xs:element type="xs:string" name="LegalForm" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_BusinessPartnerAddress">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="StreetName" minOccurs="0"/>
							<xs:element type="xs:string" name="HouseNumber" minOccurs="0"/>
							<xs:element type="xs:short" name="PostalCode" minOccurs="0"/>
							<xs:element type="xs:string" name="CityName" minOccurs="0"/>
							<xs:element type="xs:string" name="Country" minOccurs="0"/>
							<xs:element type="xs:string" name="Language" minOccurs="0"/>
							<xs:element type="xs:string" name="BusinessPartnerIsBlocked" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_EmailAddress">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="EmailAddress" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="toFaxNumber">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:long" name="FaxNumber" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_PhoneNumber">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:long" name="PhoneNumber" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_MobilePhoneNumber">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="PhoneNumber" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_BusinessPartnerTax">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="BPTaxType" minOccurs="0"/>
							<xs:element type="xs:string" name="BPTaxNumber" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_CustomerSalesArea">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="IncotermsClassification" minOccurs="0"/>
							<xs:element type="xs:string" name="IncotermsLocation1" minOccurs="0"/>
							<xs:element type="xs:byte" name="CustomerPaymentTerms" minOccurs="0"/>
							<xs:element type="xs:byte" name="AdditionalCustomerGroup1" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_CustomerSalesAreaTax">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="CustomerTaxClassification" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="to_CustomerCompany">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:byte" name="PaymentTerms" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>