ZITSANDBOXTNN/IRS_IN_Generic_Businesspartner_anlegen_an_S4_QAS/src/main/resources/xsd/BP_anlegen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema erstellt mit XMLSpy v2008 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="to_PhoneNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhoneNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_MobilePhoneNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PhoneNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_EmailAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EmailAddress"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_CustomerSalesAreaTax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerTaxClassification"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_CustomerSalesArea">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IncotermsClassification"/>
				<xs:element ref="IncotermsLocation1"/>
				<xs:element ref="CustomerPaymentTerms"/>
				<xs:element ref="AdditionalCustomerGroup1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_CustomerCompany">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PaymentTerms"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_BusinessPartnerTax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BPTaxType"/>
				<xs:element ref="BPTaxNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="to_BusinessPartnerAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StreetName"/>
				<xs:element ref="HouseNumber"/>
				<xs:element ref="PostalCode"/>
				<xs:element ref="CityName"/>
				<xs:element ref="Country"/>
				<xs:element ref="Language"/>
				<xs:element ref="BusinessPartnerIsBlocked"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="toFaxNumber">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="FaxNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StreetName">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PostalCode">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PhoneNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="PaymentTerms">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Name3">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Name2">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Name1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LegalForm">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LastChangedByUser">
		<xs:complexType/>
	</xs:element>
	<xs:element name="LastChangeDate">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Language">
		<xs:complexType/>
	</xs:element>
	<xs:element name="IsMarkedForArchiving">
		<xs:complexType/>
	</xs:element>
	<xs:element name="IncotermsLocation1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="IncotermsClassification">
		<xs:complexType/>
	</xs:element>
	<xs:element name="HouseNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="General">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CreationDate"/>
				<xs:element ref="CreatedByUser"/>
				<xs:element ref="LastChangeDate"/>
				<xs:element ref="LastChangedByUser"/>
				<xs:element ref="DataOrigin"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FaxNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="EmailAddress">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DataOrigin">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CustomerTaxClassification">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CustomerPaymentTerms">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CreationDate">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CreatedByUser">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Country">
		<xs:complexType/>
	</xs:element>
	<xs:element name="CityName">
		<xs:complexType/>
	</xs:element>
	<xs:element name="BusinessPartnerIsBlocked">
		<xs:complexType/>
	</xs:element>
	<xs:element name="BusinessPartnerCategory">
		<xs:complexType/>
	</xs:element>
	<xs:element name="BusinessPartner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="General"/>
				<xs:element ref="A_BusinessPartner"/>
				<xs:element ref="to_BusinessPartnerAddress"/>
				<xs:element ref="to_EmailAddress"/>
				<xs:element ref="toFaxNumber"/>
				<xs:element ref="to_PhoneNumber"/>
				<xs:element ref="to_MobilePhoneNumber"/>
				<xs:element ref="to_BusinessPartnerTax"/>
				<xs:element ref="to_CustomerSalesArea"/>
				<xs:element ref="to_CustomerSalesAreaTax"/>
				<xs:element ref="to_CustomerCompany"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BPTaxType">
		<xs:complexType/>
	</xs:element>
	<xs:element name="BPTaxNumber">
		<xs:complexType/>
	</xs:element>
	<xs:element name="AdditionalCustomerGroup1">
		<xs:complexType/>
	</xs:element>
	<xs:element name="A_BusinessPartner">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BusinessPartnerCategory"/>
				<xs:element ref="Name1"/>
				<xs:element ref="Name2"/>
				<xs:element ref="Name3"/>
				<xs:element ref="LegalForm"/>
				<xs:element ref="IsMarkedForArchiving"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
