OEMSAPECCSalesforceContentPackage.20.6.2023.11.52.44/Replicate_Sales_Order_from_Salesforce_to_SAP_ECC.20.6.2023.11.52.44/src/main/resources/xsd/Salesforce_Object_Update_Request_Order_Product_one_Object.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 44.0 
Operation: REST - Salesforce Object - Update - Request 
Creation date: Fri Jun 12 16:48:13 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjects" >
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Identifier">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="ID"/>
                            <xsd:element default="OrderItem" maxOccurs="1" minOccurs="0" name="SObjectName" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Quantity" nillable="false" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Quantity</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="UnitPrice" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Unit Price</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ServiceDate" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>Start Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>End Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Line Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SAP_OrderItem_Ref__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP Order Item Reference</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="50"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
