OEMSAPECCSalesforceContentPackage.20.6.2023.11.52.44/Replicate_Sales_Order_from_Salesforce_to_SAP_ECC.20.6.2023.11.52.44/src/main/resources/xsd/Salesforce_Object_Update_Request_Order.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Copyright (c) Rojo Consultancy B.V. all rights reserved 
XSD generated from the Salesforce Adapter Plug-In by Rojo Consultancy B.V. 
Intended for the Salesforce Adapter for SAP Cloud Platform Integration 
Based upon Salesforce API version: 44.0 
Operation: REST - Salesforce Object - Update - Request 
Creation date: Fri Jun 12 16:32:54 CEST 2020 
Website: www.rojoconsultancy.com-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="sObjects">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="1" minOccurs="0" name="Identifier">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element maxOccurs="1" minOccurs="0" name="Id" type="ID"/>
                            <xsd:element default="Order" maxOccurs="1" minOccurs="0" name="SObjectName" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OwnerId" nillable="false" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Owner ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ContractId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Contract ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="AccountId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Account ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Pricebook2Id" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Price Book ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="EffectiveDate" nillable="false" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>Order Start Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="EndDate" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>Order End Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Status" nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>Status</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Draft"/>
                            <xsd:enumeration value="Activated"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Description" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Description</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="32000"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CustomerAuthorizedById" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Customer Authorized By ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CustomerAuthorizedDate" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>Customer Authorized Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompanyAuthorizedById" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Company Authorized By ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="CompanyAuthorizedDate" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>Company Authorized Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Type" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Order Type</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingStreet" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Street</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingCity" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing City</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingState" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing State/Province</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingPostalCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Zip/Postal Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingCountry" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Country</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingLatitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Billing Latitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingLongitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Billing Longitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillingGeocodeAccuracy" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Billing Geocode Accuracy</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Address"/>
                            <xsd:enumeration value="NearAddress"/>
                            <xsd:enumeration value="Block"/>
                            <xsd:enumeration value="Street"/>
                            <xsd:enumeration value="ExtendedZip"/>
                            <xsd:enumeration value="Zip"/>
                            <xsd:enumeration value="Neighborhood"/>
                            <xsd:enumeration value="City"/>
                            <xsd:enumeration value="County"/>
                            <xsd:enumeration value="State"/>
                            <xsd:enumeration value="Unknown"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingStreet" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Street</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="255"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCity" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping City</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="40"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingState" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping State/Province</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingPostalCode" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Zip/Postal Code</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="20"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingCountry" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Country</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLatitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Latitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingLongitude" nillable="true" type="xsd:double">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Longitude</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShippingGeocodeAccuracy" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Shipping Geocode Accuracy</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="Address"/>
                            <xsd:enumeration value="NearAddress"/>
                            <xsd:enumeration value="Block"/>
                            <xsd:enumeration value="Street"/>
                            <xsd:enumeration value="ExtendedZip"/>
                            <xsd:enumeration value="Zip"/>
                            <xsd:enumeration value="Neighborhood"/>
                            <xsd:enumeration value="City"/>
                            <xsd:enumeration value="County"/>
                            <xsd:enumeration value="State"/>
                            <xsd:enumeration value="Unknown"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Name" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Order Name</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PoDate" nillable="true" type="xsd:date">
                    <xsd:annotation>
                        <xsd:documentation>PO Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="PoNumber" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>PO Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="OrderReferenceNumber" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Order Reference Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="80"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="BillToContactId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Bill To Contact ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ShipToContactId" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Ship To Contact ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ActivatedDate" nillable="true" type="xsd:dateTime">
                    <xsd:annotation>
                        <xsd:documentation>Activated Date</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="ActivatedById" nillable="true" type="ID">
                    <xsd:annotation>
                        <xsd:documentation>Activated By ID</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="StatusCode" nillable="false">
                    <xsd:annotation>
                        <xsd:documentation>Status Category</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="D"/>
                            <xsd:enumeration value="A"/>
                            <xsd:enumeration value="C"/>
                            <xsd:enumeration value="E"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Vending_Machine_Id__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Infrastructure Id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="00161792AA"/>
                            <xsd:enumeration value="00171102BB"/>
                            <xsd:enumeration value="00141193CC"/>
                            <xsd:enumeration value="b0b448b89385"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="Vending_Machine_Manufacturer__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>Vendor Manufacturer Id</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="32"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SNOW_Reference_Number__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SNOW Reference Number</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="32"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
                <xsd:element maxOccurs="1" minOccurs="0" name="SAP_SalesOrder_Ref__c" nillable="true">
                    <xsd:annotation>
                        <xsd:documentation>SAP Sales Order Reference</xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:minLength value="0"/>
                            <xsd:maxLength value="50"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:simpleType name="ID">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-zA-Z0-9]{18}"/>
            <xsd:pattern value="[a-zA-Z0-9]{15}"/>
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>
