ZITSANDBOXMCT/LIMS_S4_Send_Inspection_Results_to_S4/src/main/resources/wsdl/A_InspectionCharacteristicEntityPOST.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="A_InspectionCharacteristic">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="A_InspectionCharacteristicType">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_InspSmplResult">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="unbounded" name="A_InspSampleResultType">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element nillable="false" maxOccurs="1" name="InspectionLot">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="InspPlanOperationInternalID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="8"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="InspectionCharacteristic">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="4"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="false" maxOccurs="1" name="InspectionSubsetInternalID">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="6"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InspectionResultHasMeanValue">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InspResultHasMaximumValue">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InspResultHasMinimumValue">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InspResultFrmtdMeanValue">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="22"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InspectionResultStatus">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="1"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:short" nillable="true" minOccurs="0" maxOccurs="1" name="InspResultValidValuesNumber" xmlns=""/>
                                                    <xs:element type="xs:int" nillable="true" minOccurs="0" maxOccurs="1" name="InspResultNmbrOfRecordedRslts" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="Inspector">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="12"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="InspectionStartDate" xmlns=""/>
                                                    <xs:element type="xs:dateTime" nillable="true" minOccurs="0" maxOccurs="1" name="InspectionEndDate" xmlns=""/>
                                                    <xs:element type="xs:time" nillable="true" minOccurs="0" maxOccurs="1" name="InspectionStartTime" xmlns=""/>
                                                    <xs:element type="xs:time" nillable="true" minOccurs="0" maxOccurs="1" name="InspectionEndTime" xmlns=""/>
                                                    <xs:element nillable="true" minOccurs="0" maxOccurs="1" name="InspectionResultText">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string" xmlns="">
                                                                <xs:maxLength value="40"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element nillable="false" maxOccurs="1" name="InspectionLot">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="12"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="false" maxOccurs="1" name="InspPlanOperationInternalID">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="8"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element nillable="false" maxOccurs="1" name="InspectionCharacteristic">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string" xmlns="">
                                        <xs:maxLength value="4"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="link">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element nillable="true" minOccurs="0" maxOccurs="unbounded" name="to_InspSmplResult">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element minOccurs="0" maxOccurs="unbounded" name="A_InspSampleResultType">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InspectionLot" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InspPlanOperationInternalID" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InspectionCharacteristic" xmlns=""/>
                                                                <xs:element type="xs:string" minOccurs="1" maxOccurs="1" name="InspectionSubsetInternalID" xmlns=""/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
