HFFFinanceCustomer/HFF_SAPCPI.CustomerInvoice_IN_AS400_WWS_pass_customer_invoice_to_S4/src/main/resources/xsd/DEBITORENRECHNUNGSDATEN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DEBITORENRECHNUNGSDATEN" type="DEBITORENRECHNUNGSDATENType"/>
	<xs:complexType name="EINZELSATZType">
		<xs:sequence>
			<xs:element type="xs:string" name="UEVR">
				<xs:annotation>
					<xs:documentation>Zustand (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEPN">
				<xs:annotation>
					<xs:documentation>Paketnummer (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEBK">
				<xs:annotation>
					<xs:documentation>Belegklasse (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEMN">
				<xs:annotation>
					<xs:documentation>Mandant (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEPB">
				<xs:annotation>
					<xs:documentation>Produkt- Bereich (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UONR">
				<xs:annotation>
					<xs:documentation>OP-Nr. (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEZU">
				<xs:annotation>
					<xs:documentation>Erlös-/Aufwandsart (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEKH">
				<xs:annotation>
					<xs:documentation>Hauptkonto (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UESH">
				<xs:annotation>
					<xs:documentation>Debit Credit (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEBF">
				<xs:annotation>
					<xs:documentation>Erlös Fremdwährung (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMWS">
				<xs:annotation>
					<xs:documentation>VAT Type (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKTE">
				<xs:annotation>
					<xs:documentation>Kurz- Text (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKOM">
				<xs:annotation>
					<xs:documentation>Long Text (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEBN">
				<xs:annotation>
					<xs:documentation>Ext.Vouch. Number (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBTR">
				<xs:annotation>
					<xs:documentation>Betreff (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMWBTRAX">
				<xs:annotation>
					<xs:documentation>MWST_Betrag AX (P)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UREG">
				<xs:annotation>
					<xs:documentation>Beleg- Typ (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UERSV2">
				<xs:annotation>
					<xs:documentation>Reserve (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UWAE">
				<xs:annotation>
					<xs:documentation>Currency (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKUR">
				<xs:annotation>
					<xs:documentation>Ex.Rate (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EINZELSAETZEType">
		<xs:sequence>
			<xs:element type="EINZELSATZType" name="EINZELSATZ" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUMMENSATZType">
		<xs:sequence>
			<xs:element type="xs:string" name="UVER">
				<xs:annotation>
					<xs:documentation>Zustand (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UPNR">
				<xs:annotation>
					<xs:documentation>Paket-Nr. (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UUMN">
				<xs:annotation>
					<xs:documentation>company number (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UONR">
				<xs:annotation>
					<xs:documentation>OP-Nr.(N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UALI">
				<xs:annotation>
					<xs:documentation>Avis-Nummer (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKTE">
				<xs:annotation>
					<xs:documentation>Kurz- Text (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBKL">
				<xs:annotation>
					<xs:documentation>Beleg- Typ (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UREG">
				<xs:annotation>
					<xs:documentation>Beleg- Typ (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBEJ">
				<xs:annotation>
					<xs:documentation>Buchungsjahr (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBEM">
				<xs:annotation>
					<xs:documentation>Buchungsmonat (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBET">
				<xs:annotation>
					<xs:documentation>Buchungstag (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBLJ">
				<xs:annotation>
					<xs:documentation>Belegjahr (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBLM">
				<xs:annotation>
					<xs:documentation>Belegmonat (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBLT">
				<xs:annotation>
					<xs:documentation>Belegtag (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UPRB">
				<xs:annotation>
					<xs:documentation>Produkt- Bereich (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKGR">
				<xs:annotation>
					<xs:documentation>Kunden Gruppe (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UUAR">
				<xs:annotation>
					<xs:documentation>Umsatz- Art (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UHKO">
				<xs:annotation>
					<xs:documentation>Haupt- Konto (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UAKEY">
				<xs:annotation>
					<xs:documentation>Adr. Ext. (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKSH">
				<xs:annotation>
					<xs:documentation>Debit Credit (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKOM">
				<xs:annotation>
					<xs:documentation>Long Text (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UAVS">
				<xs:annotation>
					<xs:documentation>Zahlungsavis J/N (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBTR">
				<xs:annotation>
					<xs:documentation>Betreff (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UEBN">
				<xs:annotation>
					<xs:documentation>Ext.Vouch. Number (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMW1">
				<xs:annotation>
					<xs:documentation>USt 1 (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMW2">
				<xs:annotation>
					<xs:documentation>USt 2 (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMW3">
				<xs:annotation>
					<xs:documentation>USt 3 (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UZZU">
				<xs:annotation>
					<xs:documentation>Darst. Fälligk. (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBJA">
				<xs:annotation>
					<xs:documentation>Basis Jahr (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBMO">
				<xs:annotation>
					<xs:documentation>Basis Monat (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBTA">
				<xs:annotation>
					<xs:documentation>Basis Tag (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="USFB">
				<xs:annotation>
					<xs:documentation>Skontof. Betrag (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="USK11">
				<xs:annotation>
					<xs:documentation>Skontosatz 1 (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="USF11">
				<xs:annotation>
					<xs:documentation>Tage Skonto 1 (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="USF1J">
				<xs:annotation>
					<xs:documentation>Jahr Skonto 1 (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="USF1M">
				<xs:annotation>
					<xs:documentation>Monat Skonto 1 (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="USF1T">
				<xs:annotation>
					<xs:documentation>Tag Skonto 1 (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UNF1">
				<xs:annotation>
					<xs:documentation>Tage Netto (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UNF1J">
				<xs:annotation>
					<xs:documentation>Jahr Netto (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UNF1M">
				<xs:annotation>
					<xs:documentation>Monat Netto (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UNF1T">
				<xs:annotation>
					<xs:documentation>Tag Netto (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMSP">
				<xs:annotation>
					<xs:documentation>Pay.Rmd. Y/N (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UZSP">
				<xs:annotation>
					<xs:documentation>Hold Payment (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UREB">
				<xs:annotation>
					<xs:documentation>Kennzeichen OP-Status (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UBBF">
				<xs:annotation>
					<xs:documentation>Betrag FW (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMSF1">
				<xs:annotation>
					<xs:documentation>USt-1 FW (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMSF2">
				<xs:annotation>
					<xs:documentation>USt-2 FW (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UMSF3">
				<xs:annotation>
					<xs:documentation>USt-3 FW (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UWAE">
				<xs:annotation>
					<xs:documentation>Currency (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKUR">
				<xs:annotation>
					<xs:documentation>Ex.Rate (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="UKEI">
				<xs:annotation>
					<xs:documentation>Ex.Rate Unit (N)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="URSV3">
				<xs:annotation>
					<xs:documentation>Reserve (A)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="URGART">
				<xs:annotation>
					<xs:documentation>Rechnungsart</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="KZVORK">
				<xs:annotation>
					<xs:documentation>Vorkasse</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="ZAHLW">
				<xs:annotation>
					<xs:documentation>Zahlungsweise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="VORRE">
				<xs:annotation>
					<xs:documentation>Vorausrechnung</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="MWSSK">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element type="xs:string" name="LANDWE">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SUMMENSAETZEType">
		<xs:sequence>
			<xs:element type="SUMMENSATZType" name="SUMMENSATZ"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DEBITORENRECHNUNGSDATENType">
		<xs:sequence>
			<xs:element type="xs:string" name="UUNRC"/>
			<xs:element type="EINZELSAETZEType" name="EINZELSAETZE"/>
			<xs:element type="SUMMENSAETZEType" name="SUMMENSAETZE"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>