ZITSANDBOXMCT/LIMS_S4_Send_Inspection_Results_to_S4/src/main/resources/xsd/LIMSInspectionResults.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="source">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="prueflos" type="xs:string"/>
                <xs:element name="vorglfnr" type="xs:string"/>
                <xs:element name="probenr" type="xs:string"/>
                <xs:element name="charg" type="xs:string"/>
                <xs:element name="source" type="xs:string"/>
                <xs:element name="VALUES" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="enddatum" type="xs:string"/>
                            <xs:element name="endezeit" type="xs:string"/>
                            <xs:element name="startzeit" type="xs:string"/>
                            <xs:element name="bemerkung" type="xs:string"/>
                            <xs:element name="qualitativ" type="xs:string"/>
                            <xs:element name="satzstatus" type="xs:string"/>
                            <xs:element name="inspektor" type="xs:string"/>
                            <xs:element name="startdatum" type="xs:string"/>
                            <xs:element name="verwmerk" type="xs:string"/>
                            <xs:element name="auswmenge1" type="xs:string"/>
                            <xs:element name="prueferg" type="xs:string"/>
                            <xs:element name="source" type="xs:string"/>
                            <xs:element name="merknr" type="xs:string"/>
                            <xs:element name="operation" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>