ZITSANDBOXMCT/LIMS_S4_Send_Inspection_Results_to_S4/src/main/resources/xsd/SAPInspectionResult.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Inspections">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="InspectionData" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="qualitative" type="xs:string" minOccurs="1"/>
                            <xs:element name="operation" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionLot" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspPlanOperationInternalID" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionCharacteristic" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionSubsetInternalID" type="xs:string" minOccurs="1"/>
                            <xs:element name="IsCharacteristicAddedLater" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspResultFrmtdMeanValue" type="xs:string" minOccurs="0"/>
                            <xs:element name="InspectionResultOriginalValue" type="xs:string" minOccurs="0"/>
                            <xs:element name="CharacteristicAttributeCodeGrp" type="xs:string" minOccurs="0"/>
                            <xs:element name="CharacteristicAttributeCode" type="xs:string" minOccurs="0"/>
                            <xs:element name="InspectionResultStatus" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspResultValidValuesNumber" type="xs:boolean" minOccurs="1"/>
                            <xs:element name="InspResultNmbrOfRecordedRslts" type="xs:boolean" minOccurs="1"/>
                            <xs:element name="InspectionResultText" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionValuationResult" type="xs:string" minOccurs="1"/>
                            <xs:element name="Inspector" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionStartDate" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionStartTime" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionEndDate" type="xs:string" minOccurs="1"/>
                            <xs:element name="InspectionEndTime" type="xs:string" minOccurs="1"/>
                            <xs:element name="CreatedByUser" type="xs:string" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>