FINNIntegrations/FINN_IN_AirTable_Replicate_Asset_Master_Data_in_S4_P_100/src/main/resources/xsd/AssetMasterDataAirTable.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="el_sap_final_export_data_interface_asset_master_filtered">
            <xs:complexType>
              <xs:sequence>
				  <xs:element type="xs:string" name="asset_capitalization_date"/>
				  <xs:element type="xs:string" name="asset_class"/>
				  <xs:element type="xs:string" name="contract_transfer_of_risk_trigger"/>
				  <xs:element type="xs:string" name="date_first_registration"/>
				  <xs:element type="xs:string" name="depreciation_start_date"/>
				  <xs:element type="xs:string" name="financing_partner"/>
				  <xs:element type="xs:string" name="finn_car_id "/>
				  <xs:element type="xs:string" name="fleet_car_name "/>
				  <xs:element type="xs:string" name="invoice_date "/>
				  <xs:element type="xs:string" name="invoice_payment_date "/>
				  <xs:element type="xs:string" name="last_updated "/>
				  <xs:element type="xs:string" name="last_updated_ts "/>
				  <xs:element type="xs:string" name="license_plate "/>
				  <xs:element type="xs:string" name="link_pur_deals "/>
				  <xs:element type="xs:string" name="net_invoice_amount "/>
				  <xs:element type="xs:string" name="output_lookup_tco_holding_period_month "/>
				  <xs:element type="xs:string" name="record_name "/>
				  <xs:element type="xs:string" name="residual_value_after_holding_period "/>
				  <xs:element type="xs:string" name="vin "/>
				  <xs:element type="xs:string" name="car_sales_invoice_date "/>
				  <xs:element type="xs:string" name="car_sales_net_amount "/>
				  <xs:element type="xs:string" name="compound_exit_date "/>
				  <xs:element type="xs:string" name="next_use "/>
				  <xs:element type="xs:string" name="arrival_from_supplier_date "/>
				  <xs:element type="xs:string" name="depreciation_start_date_datev "/>
				  <xs:element type="xs:string" name="depreciated_amount_2022_datev "/>
				  <xs:element type="xs:string" name="defleeting_entry_date_compound "/>
				  <xs:element type="xs:string" name="defleeting_exit_date_compound "/>
				  <xs:element type="xs:string" name="financing_type "/>


			  </xs:sequence>
			</xs:complexType>
		</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>