ZITSANDBOXTNN/TNN_IRS_IN_Generic_Businesspartner_updaten_an_S4_DEV/src/main/resources/xsd/BP_updaten.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BusinessPartner">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="General">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:dateTime" name="LastChangeDate"/>
              <xs:element type="xs:string" name="LastChangedByUser"/>
              <xs:element type="xs:string" name="DataOrigin"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="A_BusinessPartner">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BusinessPartner"/>
              <xs:element type="xs:string" name="Name1" minOccurs="0"/>
              <xs:element type="xs:string" name="Name2" minOccurs="0"/>
              <xs:element type="xs:string" name="Name3" minOccurs="0"/>
              <xs:element type="xs:string" name="IsMarkedForArchiving" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_BusinessPartnerAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="StreetName"/>
              <xs:element type="xs:byte" name="HouseNumber"/>
              <xs:element type="xs:int" name="PostalCode"/>
              <xs:element type="xs:string" name="CityName"/>
              <xs:element type="xs:string" name="Country"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_EmailAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="EmailAddress"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="toFaxNumber">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="FaxNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_PhoneNumber">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:long" name="PhoneNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_MobilePhoneNumber">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="PhoneNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_BusinessPartnerTax">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="BPTaxType"/>
              <xs:element type="xs:string" name="BPTaxNumber"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_CustomerSalesArea">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="CustomerPaymentTerms"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>