SandboxPhilipp/XSLT_Uebung5_PHL/src/main/resources/xsd/SalesOrder.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:fn="http://www.w3.org/2005/xpath-functions" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SalesOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SalesOrder" type="xs:unsignedShort" />
              <xs:element name="SalesOrderType" type="xs:string" />
              <xs:element name="SalesOrganization" type="xs:unsignedByte" />
              <xs:element name="SalesOffice" type="xs:unsignedByte" />
              <xs:element name="Customer" type="xs:string" />
              <xs:element name="DeliveryDate" type="xs:dateTime" />
              <xs:element name="ShipperName" type="xs:string" />
              <xs:element name="ShipperID" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>