CoEDataIntegration/HANA_DB_to_SAP_Datasphere/src/main/resources/xsd/Datasphere_Request.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="InsertStatement">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="row" minOccurs = "0" maxOccurs = "unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="table" type="xs:string" />
                    <xs:element name="access">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="FILMNR" />
                          <xs:element name="TITEL" />
                          <xs:element name="GENRE" />
                          <xs:element name="USK" />
                          <xs:element name="REGISSEUR" />
                          <xs:element name="LAENGE" />
                          <xs:element name="VEROEFFENTLICHUNG" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="action" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>