CoEDataIntegration/HANA_DB_to_SAP_Datasphere/src/main/resources/xsd/HANA_DB_Response.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Statement_response">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="row">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="FILMNR" type="xs:unsignedByte" />
                    <xs:element name="TITEL" type="xs:string" />
                    <xs:element name="GENRE" type="xs:string" />
                    <xs:element name="USK" type="xs:unsignedByte" />
                    <xs:element name="REGISSEUR" type="xs:string" />
                    <xs:element name="LAENGE" type="xs:unsignedByte" />
                    <xs:element name="VEROEFFENTLICHUNG" type="xs:date" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>