itxexchangerates/ITX_ExchangeRate_Send_Exchange_Rate_from_CNB_via_IDoc_to_S4HANA/src/main/resources/xsd/ExchangeRates.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ExchangeRates" type="ExchangeRates"/>
	<xsd:complexType name="ExchangeRates">
		<xsd:sequence>
			<xsd:element name="Row" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Row</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Country" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Country</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Currency" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Currency</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Amount" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Amount</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Code" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Code</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="Rate" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Rate</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>