NDBSPresalesCollection/IF_NDBS_Presales_PATCH_BusinessPartner/src/main/resources/xsd/SourceStructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyCustomerPortal">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CustomerData">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MyCustomerPortal_ID" type="xs:unsignedShort" />
              <xs:element name="SAP_ID" type="xs:unsignedInt" />
              <xs:element name="CustomerName" type="xs:string" />
              <xs:element name="CustomerCategory" type="xs:string" />
              <xs:element name="CustomerAddress_City" type="xs:string" />
              <xs:element name="CustomerAddress_Street" type="xs:string" />
              <xs:element name="CustomerAddress_Number" type="xs:unsignedByte" />
              <xs:element name="CustomerAddress_Zipcode" type="xs:unsignedShort" />
              <xs:element name="CustomerAddress_Country" type="xs:string" />
              <xs:element name="Category" />
              <xs:element name="Business_Industry" />
              <xs:element name="Business_LegalForm" type="xs:string" />
              <xs:element name="CustomerContact">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="CustomerContact_ID" type="xs:unsignedInt" />
                    <xs:element name="SAP_Address_ID" type="xs:string" />
                    <xs:element name="SAP_Address_OrdinalNumber" type="xs:string" />
                    <xs:element name="CustomerContact_Name" type="xs:string" />
                    <xs:element name="CustomerContact_Phone" type="xs:long" />
                    <xs:element name="CustomerContact_Mail" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>