ZITSANDBOXALA/IRS_IN_PDR_Cloud_Ausgangsrechnung_an_S4_DEV_copy/src/main/resources/xsd/PDR_Cloud.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="row" minOccurs="1" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="Umsatz"/>
							<xs:element type="xs:string" name="SH_Kennzeichen"/>
							<xs:element type="xs:string" name="WKZ"/>
							<xs:element type="xs:string" name="Kurs"/>
							<xs:element type="xs:string" name="BasisUmsatz"/>
							<xs:element type="xs:string" name="WKZBasisUmsatz"/>
							<xs:element type="xs:string" name="Konto"/>
							<xs:element type="xs:string" name="Gegenkonto"/>
							<xs:element type="xs:string" name="Buchungsschluessel"/>
							<xs:element type="xs:string" name="Belegdatum"/>
							<xs:element type="xs:string" name="Belegfeld1"/>
							<xs:element type="xs:string" name="Belegfeld2"/>
							<xs:element type="xs:string" name="Skonto"/>
							<xs:element type="xs:string" name="Buchungstext"/>
							<xs:element type="xs:string" name="Postensperre"/>
							<xs:element type="xs:string" name="Adressnummer"/>
							<xs:element type="xs:string" name="Geschaeftspartnerbank"/>
							<xs:element type="xs:string" name="Sachverhalt"/>
							<xs:element type="xs:string" name="Zinssperre"/>
							<xs:element type="xs:string" name="Beleglink"/>
							<xs:element type="xs:string" name="Beleginfo1Art"/>
							<xs:element type="xs:string" name="Beleginfo1"/>
							<xs:element type="xs:string" name="Beleginfo2Art"/>
							<xs:element type="xs:string" name="Beleginfo2"/>
							<xs:element type="xs:string" name="Beleginfo3Art"/>
							<xs:element type="xs:string" name="Beleginfo3"/>
							<xs:element type="xs:string" name="Beleginfo4Art"/>
							<xs:element type="xs:string" name="Beleginfo4"/>
							<xs:element type="xs:string" name="Beleginfo5Art"/>
							<xs:element type="xs:string" name="Beleginfo5"/>
							<xs:element type="xs:string" name="Beleginfo6Art"/>
							<xs:element type="xs:string" name="Beleginfo6"/>
							<xs:element type="xs:string" name="Beleginfo7Art"/>
							<xs:element type="xs:string" name="Beleginfo7"/>
							<xs:element type="xs:string" name="Beleginfo8Art"/>
							<xs:element type="xs:string" name="Beleginfo8"/>
							<xs:element type="xs:string" name="Kostenstelle1"/>
							<xs:element type="xs:string" name="Kostenstelle2"/>
							<xs:element type="xs:string" name="KostenstelleMenge"/>
							<xs:element type="xs:string" name="EULandUStID"/>
							<xs:element type="xs:string" name="EUSteuersatz"/>
							<xs:element type="xs:string" name="AbwVersteuerungsart"/>
							<xs:element type="xs:string" name="SachverhaltLL"/>
							<xs:element type="xs:string" name="FunktionsergLL"/>
							<xs:element type="xs:string" name="Hauptfunktionstyp"/>
							<xs:element type="xs:string" name="Hauptfunktionsnummer"/>
							<xs:element type="xs:string" name="Funktionsergaenzung"/>
							<xs:element type="xs:string" name="Zusatzinformation1Art"/>
							<xs:element type="xs:string" name="Zusatzinformation1Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation2Art"/>
							<xs:element type="xs:string" name="Zusatzinformation2Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation3Art"/>
							<xs:element type="xs:string" name="Zusatzinformation3Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation4Art"/>
							<xs:element type="xs:string" name="Zusatzinformation4Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation5Art"/>
							<xs:element type="xs:string" name="Zusatzinformation5Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation6Art"/>
							<xs:element type="xs:string" name="Zusatzinformation6Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation7Art"/>
							<xs:element type="xs:string" name="Zusatzinformation7Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation8Art"/>
							<xs:element type="xs:string" name="Zusatzinformation8Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation9Art"/>
							<xs:element type="xs:string" name="Zusatzinformation9Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation10Art"/>
							<xs:element type="xs:string" name="Zusatzinformation10Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation11Art"/>
							<xs:element type="xs:string" name="Zusatzinformation11Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation12Art"/>
							<xs:element type="xs:string" name="Zusatzinformation12Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation13Art"/>
							<xs:element type="xs:string" name="Zusatzinformation13Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation14Art"/>
							<xs:element type="xs:string" name="Zusatzinformation14Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation15Art"/>
							<xs:element type="xs:string" name="Zusatzinformation15Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation16Art"/>
							<xs:element type="xs:string" name="Zusatzinformation16Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation17Art"/>
							<xs:element type="xs:string" name="Zusatzinformation17Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation18Art"/>
							<xs:element type="xs:string" name="Zusatzinformation18Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation19Art"/>
							<xs:element type="xs:string" name="Zusatzinformation19Inhalt"/>
							<xs:element type="xs:string" name="Zusatzinformation20Art"/>
							<xs:element type="xs:string" name="Zusatzinformation20Inhalt"/>
							<xs:element type="xs:string" name="Stueck"/>
							<xs:element type="xs:string" name="Gewicht"/>
							<xs:element type="xs:string" name="Zahlweise"/>
							<xs:element type="xs:string" name="Forderungsart"/>
							<xs:element type="xs:string" name="Veranlagungsjahr"/>
							<xs:element type="xs:string" name="ZugeordneteFaelligkeit"/>
							<xs:element type="xs:string" name="Skontotyp"/>
							<xs:element type="xs:string" name="Auftragsnummer"/>
							<xs:element type="xs:string" name="Buchungstyp"/>
							<xs:element type="xs:string" name="UstSchluesselAnzahlungen"/>
							<xs:element type="xs:string" name="EULandAnzahlungen"/>
							<xs:element type="xs:string" name="SachverhaltAnzahlungen"/>
							<xs:element type="xs:string" name="EUSteuersatzAnzahlungen"/>
							<xs:element type="xs:string" name="ErloeskontoAnzahlungen"/>
							<xs:element type="xs:string" name="HerkunftKZ"/>
							<xs:element type="xs:string" name="Leerfeld"/>
							<xs:element type="xs:string" name="KOSTDatum"/>
							<xs:element type="xs:string" name="Mandatsreferenz"/>
							<xs:element type="xs:string" name="Skontosperre"/>
							<xs:element type="xs:string" name="Gesellschaftername"/>
							<xs:element type="xs:string" name="Beteiligtennummer"/>
							<xs:element type="xs:string" name="Identifikationsnummer"/>
							<xs:element type="xs:string" name="Zeichnernummer"/>
							<xs:element type="xs:string" name="PostensperreBis"/>
							<xs:element type="xs:string" name="KennzeichenSobil"/>
							<xs:element type="xs:string" name="Festschreibung"/>
							<xs:element type="xs:string" name="Leistungsdatum"/>
							<xs:element type="xs:string" name="Datum"/>
							<xs:element type="xs:string" name="Steuerperiode"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>