itxalerting/ITX_ALERTING_Send_E-Mail_For_Client_Certificates_Expiry/src/main/resources/xsd/CertificateUserMappings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CertificateUserMappings">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="CertificateUserMapping">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="User" type="xsd:string"/>
              <xsd:element name="Id" type="xsd:string"/>
              <xsd:element name="ValidUntil" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>