FINNIntegrations/FINN_IN_Stripe_Post_Payment_Advices_IN_S4_P_100/src/main/resources/xsd/stripe_payouts_single.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="stripe_payouts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="payout_identifier" type="xs:string" />  
        <xs:element name="stripe_payout_id" type="xs:string" />
        <xs:element name="bank_number" type="xs:unsignedInt" />
        <xs:element name="company_code" type="xs:unsignedShort" />
        <xs:element name="computed_total_amount" type="xs:decimal" />
        <xs:element name="computed_total_negative" type="xs:decimal" />
        <xs:element name="computed_total_positive" type="xs:decimal" />
        <xs:element name="created_at" type="xs:unsignedInt" />
        <xs:element name="payout_amount" type="xs:decimal" />
        <xs:element name="payout_at" type="xs:dateTime" />
        <xs:element name="payout_date" type="xs:date" />
        <xs:element name="qualifier" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="amount" type="xs:decimal" />
              <xs:element name="balance_tr_id" type="xs:string" />
              <xs:element name="ch_type" type="xs:string" />
              <xs:element name="company_code" type="xs:unsignedShort" />
              <xs:element name="created" type="xs:dateTime" />
              <xs:element name="business_partner" type="xs:string" />
              <xs:element name="invoice_date" type="xs:date" />
              <xs:element name="invoice_number" type="xs:string" />
              <xs:element name="payment_intent_id" type="xs:string" />
              <xs:element name="stripe_source" type="xs:string" />
              <xs:element name="stripe_payout_id" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
