SandboxPhilipp/IF_1000.07_Bestellung/src/main/resources/xsd/BestellungCareOffice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CompanyCode" type="xs:string" minOccurs="0"/>
        <xs:element name="PurchaseOrder" type="xs:string" minOccurs="0" />
        <xs:element name="PurchasingCompletenessStatus" type="xs:string" minOccurs="0"/>
        <xs:element name="Supplier" type="xs:string" minOccurs="0"/>
        <xs:element name="PurchaseOrderDate" type="xs:string" minOccurs="0"/>
        <xs:element name="CreatedByUser" type="xs:string" minOccurs="0"/>
        <xs:element name="PurchasingGroup" type="xs:string" minOccurs="0"/>
        <xs:element name="SupplierQuotationExternalID" type="xs:string" minOccurs="0"/>
        <xs:element name="to_PurchaseOrderNote" type="xs:string" minOccurs="0"/>
        <xs:element name="PaymentTerms" type="xs:string" minOccurs="0"/>
        <xs:element name="DocumentCurrency" type="xs:string" minOccurs="0"/>
        <xs:element name="SupplierRespSalesPersonName" type="xs:string" minOccurs="0"/>
        <xs:element maxOccurs="unbounded" name="to_PurchaseOrderItem">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="PurchaseOrder" type="xs:string" minOccurs="0"/>
              <xs:element name="PurchaseOrderItem" type="xs:string" minOccurs="0"/>
              <xs:element name="PurchaseOrderItemNote" type="xs:string" minOccurs="0"/>
              <xs:element name="MaterialGroup" type="xs:string" minOccurs="0"/>
              <xs:element name="PurchaseOrderItemText" type="xs:string" minOccurs="0"/>
               <xs:element name="PlanLongText" type="xs:string" minOccurs="0"/>
              <xs:element name="SupplierMaterialNumber" type="xs:string" minOccurs="0"/>
              <xs:element name="OrderQuantity" type="xs:string" minOccurs="0"/>
              <xs:element name="PurchaseOrderQuantityUnit" type="xs:string" minOccurs="0"/>
              <xs:element name="OrderPriceUnit" type="xs:string" minOccurs="0"/>
              <xs:element name="NetPriceAmount" type="xs:string" minOccurs="0"/>
              <xs:element name="Plant" type="xs:string" minOccurs="0"/>
              <xs:element name="PurchaseOrderType" type="xs:string" minOccurs="0"/>
              <xs:element name="CostCenter" type="xs:string" minOccurs="0"/>
              <xs:element name="GLAccount" type="xs:string" minOccurs="0"/>
              <xs:element name="WBSElement" type="xs:string" minOccurs="0"/>
              <xs:element name="AccountAssignmentCategory" type="xs:string" minOccurs="0"/>
              <xs:element name="TaxCode" type="xs:string" minOccurs="0"/>
              <xs:element name="ConditionType" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>