ZITSANDBOXSGR/ZIT_SGR_VM/src/main/resources/xsd/ValueMapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="ValueMapping" type="ValueMapping"/>
	<xsd:complexType name="ValueMapping">
		<xsd:sequence>
			<xsd:element name="entry" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Entry</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SrcValue" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Source value</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="TgtValue" type="xsd:string" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Target value</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>