ZITSANDBOXDLH/Mapping_with_Global_Groovy_Script/src/main/resources/xsd/fileReceived.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:all>
        <xs:element type="xs:string" name="status" />
        <xs:element name="file">
          <xs:complexType>
            <xs:all>
              <xs:element type="xs:string" name="name" />
              <xs:element type="xs:dateTime" name="time" />
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:all> 
    </xs:complexType>  
  </xs:element>
</xs:schema>