ZITSANDBOXMRI/HubSpot_Contact_Testing_MRI/src/main/resources/xsd/contact.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="properties">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="address" minOccurs="0"/>
                            <xs:element type="xs:byte" name="akademischer_grad" minOccurs="0"/>
                            <xs:element type="xs:string" name="city" minOccurs="0"/>
                            <xs:element type="xs:string" name="country" minOccurs="0"/>
                            <xs:element type="xs:string" name="department" minOccurs="0"/>
                            <xs:element type="xs:int" name="elixirsync_external_contact_id" minOccurs="0"/>
                            <xs:element type="xs:string" name="email" minOccurs="0"/>
                            <xs:element type="xs:string" name="firstname" minOccurs="0"/>
                            <xs:element type="xs:string" name="house_number" minOccurs="0"/>
                            <xs:element type="xs:string" name="itelligence_account_executive_owner_" minOccurs="0"/>
                            <xs:element type="xs:string" name="job_function" minOccurs="0"/>
                            <xs:element type="xs:string" name="jobtitle" minOccurs="0"/>
                            <xs:element type="xs:string" name="lastname" minOccurs="0"/>
                            <xs:element type="xs:string" name="locked_c4c_" minOccurs="0"/>
                            <xs:element type="xs:string" name="mobilephone" minOccurs="0"/>
                            <xs:element type="xs:string" name="phone" minOccurs="0"/>
                            <xs:element type="xs:byte" name="title_c4c_" minOccurs="0"/>
                            <xs:element type="xs:string" name="vip_contract" minOccurs="0"/>
                            <xs:element type="xs:string" name="zip" minOccurs="0"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>