FINNIntegrations/FINN_IN_Stripe_Replicate_Debtor_invoices_in_S4_P_100/src/main/resources/xsd/AirtableDebtorInvoice.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="debtor_transactions" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="docDate"/>
              <xs:element type="xs:string" name="postingDate"/>
              <xs:element type="xs:string" name="refDocNr"/>
              <xs:element type="xs:string" name="companyCode"/>
              <xs:element type="xs:string" name="documentType"/>
              <xs:element type="xs:string" name="customer"/>
              <xs:element type="xs:string" name="blineDate"/>
              <xs:element type="xs:string" name="allocNr"/>
              <xs:element type="xs:string" name="itemText"/>
              <xs:element type="xs:string" name="specialGLIndicator"/>
              <xs:element type="xs:string" name="paymentRef"/>
              <xs:element type="xs:string" name="amtDoccur"/>
              <xs:element name="item" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="glAccount"/>
                    <xs:element type="xs:string" name="taxCode"/>
                    <xs:element type="xs:string" name="costCenter"/>
                    <xs:element type="xs:string" name="amtDoccurNet"/>
                    <xs:element type="xs:string" name="amtDoccurTax"/>
                    <xs:element type="xs:string" name="itemTextGL"/>
                    <xs:element type="xs:string" name="allocationNumber"/>
                    <xs:element type="xs:string" name="orderID"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>