HFFFinanceCustomer/HFF_SAPCPI.PurchasingAssociations_Coloniale_IN_MAIL_pass_remittance/src/main/resources/xsd/einkaufsverbaende_coloniale.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="Betrag"/>
              <xs:element type="xs:int" name="Geschäftsvorfall_Kunde"/>
              <xs:element type="xs:int" name="LEERFELD1"/>
              <xs:element type="xs:int" name="LEERFELD2"/>
              <xs:element type="xs:int" name="Rechnungsnummer_HABA"/>
              <xs:element type="xs:int" name="Kundeninterne_Nummer_1"/>
              <xs:element type="xs:int" name="Kundeninterne_Nummer_2"/>
              <xs:element type="xs:int" name="Konto_Kunde"/>
              <xs:element type="xs:int" name="LEERFELD3"/>
              <xs:element type="xs:int" name="Anmerkung_Kunde"/>
              <xs:element type="xs:int" name="Steuercode"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
	</xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>