IntegrationwithIDABUS/IDM_01_SuccessFactorsToIdabus_EmployeeMaster/src/main/resources/xsd/MIMSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="result" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="academicTitle" minOccurs="0" />
							<xs:element type="xs:string" name="firstnameASCII" minOccurs="0" />
							<xs:element type="xs:string" name="firstnameUTF" minOccurs="0" />
							<xs:element type="xs:string" name="gender" minOccurs="0" />
							<xs:element type="xs:string" name="lastnameASCII" minOccurs="0" />
							<xs:element type="xs:string" name="lastnameUTF" minOccurs="0" />
							<xs:element type="xs:short" name="personIdExternal" minOccurs="0" />
							<xs:element type="xs:string" name="salutation" minOccurs="0" />
							<xs:element type="xs:string" name="email" minOccurs="0"/>
							<xs:element name="employment" maxOccurs="unbounded" minOccurs="0">
							  <xs:complexType>
                                <xs:sequence>
                                    <xs:element type="xs:date" name="activateDate" minOccurs="0" />
                                    <xs:element type="xs:int" name="businessUnit" minOccurs="0" />
        							<xs:element type="xs:string" name="company" minOccurs="0" />
        							<xs:element type="xs:short" name="costCenter" minOccurs="0" />
        							<xs:element type="xs:int" name="department" minOccurs="0" />
        							<xs:element type="xs:int" name="division" minOccurs="0" />
        							<xs:element type="xs:string" name="emplStatus" minOccurs="0" />
        							<xs:element type="xs:date" name="entryDate" minOccurs="0" />
        							<xs:element type="xs:string" name="eventType" minOccurs="0" />
        							<xs:element type="xs:date" name="globAssignEnddate" minOccurs="0" />
        							<xs:element type="xs:string" name="isContingentWorker" minOccurs="0" />
        							<xs:element type="xs:string" name="jobTitle" minOccurs="0" />
        							<xs:element type="xs:int" name="location" minOccurs="0" />
        							<xs:element type="xs:int" name="position" minOccurs="0" />
        							<xs:element type="xs:short" name="supervisor" minOccurs="0" />
							        <xs:element type="xs:date" name="terminationDate" minOccurs="0" />
							        <xs:element type="xs:short" name="userId" minOccurs="0" />
                                </xs:sequence>
                              </xs:complexType>
							</xs:element>
                            <xs:element name="mobile" maxOccurs="unbounded" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element type="xs:short" name="areaCode"/>
                                  <xs:element type="xs:byte" name="countryCode"/>
                                  <xs:element type="xs:int" name="phoneNumber"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="phone" maxOccurs="unbounded" minOccurs="0">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element type="xs:short" name="areaCode"/>
                                  <xs:element type="xs:byte" name="countryCode"/>
                                  <xs:element type="xs:byte" name="extension"/>
                                  <xs:element type="xs:int" name="phoneNumber"/>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:string" name="username"/>
                            <xs:element type="xs:string" name="uuid"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>