HCISCHULUNGXX/Hubspot_Create_and_Update_BusinessPartner_in_S4/src/main/resources/xsd/BusinessPartner_Customer.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:byte" name="BusinessPartnerCategory"/>
        <xs:element type="xs:string" name="BusinessPartnerGrouping"/>
        <xs:element type="xs:string" name="FirstName" minOccurs = "0" maxOccurs = "1"/>
        <xs:element type="xs:string" name="IsMarkedForArchiving"/>
        <xs:element type="xs:string" name="Language"/>
        <xs:element type="xs:string" name="CorrespondenceLanguage"/>
        <xs:element type="xs:string" name="LastName" minOccurs = "0" maxOccurs = "1"/>
        <xs:element type="xs:string" name="OrganizationBPName1" minOccurs = "0" maxOccurs = "1"/>
        <xs:element type="xs:string" name="SearchTerm1" minOccurs = "0" maxOccurs = "1"/>

        <xs:element name="to_BuPaIdentification">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results" minOccurs = "1" maxOccurs = "2">
                <xs:complexType>
                  <xs:sequence>
                    
                          <xs:element type="xs:string" name="BPIdentificationNumber"/>
                          <xs:element type="xs:string" name="BPIdentificationType"/>
                      
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
          <xs:element name="to_BusinessPartnerAddress">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    
                          <xs:element type="xs:string" name="Country"/>
                      
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_BusinessPartnerRole">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="results">
                <xs:complexType>
                  <xs:sequence>
                    
                          <xs:element type="xs:string" name="BusinessPartnerRole"/>
                      
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="to_Customer">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="to_CustomerCompany">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="results">
                      <xs:complexType>
                        <xs:sequence>
                          
                                <xs:element type="xs:short" name="CompanyCode"/>
                                <xs:element type="xs:int" name="ReconciliationAccount"/>
                                <xs:element type="xs:string" name="RecordPaymentHistoryIndicator"/>
                            
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>