ZITSANDBOXTGE/IF_Valuemapping_TGE/src/main/resources/xsd/IF_ERP_BatchData.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <!--
     DocName: Functional Specification Functional Specification Annex ERP Interface
    Customer: BioNTech
PAS-X-System: CoreMES V3.3.0
        Date: 13 Jan 2023
  DocVersion: V1.2
      Author: M. Hess
   Interface: IF_ERP_BatchData
     WSDLGen: V1.1.1
-->
  <xsd:element name="BATMAS03" type="BATMAS03_RootType"/>
  <xsd:complexType name="EDI_DC40_Type">
    <!--Segment EDI_DC40 ========================================-->
    <xsd:sequence>
      <xsd:element minOccurs="0" name="TABNAM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MANDT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="DOCNUM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="DOCREL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="STATUS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="DIRECT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="OUTMOD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="EXPRSS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="TEST">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element fixed="BATMAS03" minOccurs="1" name="IDOCTYP"/>
      <xsd:element minOccurs="0" name="CIMTYP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element fixed="BATMAS" minOccurs="1" name="MESTYP"/>
      <xsd:element minOccurs="0" name="MESCOD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="MESFCT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="STD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="STDVRS">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="STDMES">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="SNDPOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element fixed="LS" minOccurs="1" name="SNDPRT"/>
      <xsd:element minOccurs="0" name="SNDPFC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="SNDPRN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SNDSAD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="21"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="SNDLAD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="70"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RCVPOR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element fixed="LS" minOccurs="1" name="RCVPRT"/>
      <xsd:element minOccurs="0" name="RCVPFC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="RCVPRN">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RCVSAD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="21"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="RCVLAD">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="70"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CREDAT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[012][09][0-9][0-9][01][0-9][0-3][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="CRETIM">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-2][0-9][0-5][0-9][0-5][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="REFINT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="REFGRP">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="REFMES">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="14"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="ARCKEY">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="70"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="SERIAL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="E1BP3060_VALUATION_CHAR_Type">
    <!--Segment E1BP3060_VALUATION_CHAR ========================================-->
    <xsd:sequence>
      <xsd:element minOccurs="1" name="CHARACT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="VALUE_CHAR">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="E1BPBATCHATT_Type">
    <!--Segment E1BPBATCHATT ========================================-->
    <xsd:sequence>
      <xsd:element minOccurs="0" name="EXPIRYDATE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[012][09][0-9][0-9][01][0-9][0-3][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="STATUSKEY">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="NEXTINSPEC">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[012][09][0-9][0-9][01][0-9][0-3][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="PROD_DATE">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[012][09][0-9][0-9][01][0-9][0-3][0-9]"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="E1BATMAS_Type">
    <!--Segment E1BATMAS ========================================-->
    <xsd:sequence>
      <xsd:element minOccurs="1" name="MATERIAL">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="BATCH">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="1" name="PLANT">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="1" name="E1BPBATCHATT" type="E1BPBATCHATT_Type"/>
      <xsd:element maxOccurs="999" minOccurs="0" name="E1BP3060_VALUATION_CHAR" type="E1BP3060_VALUATION_CHAR_Type"/>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="SEGMENT" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="IDOC_Type">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="EDI_DC40" type="EDI_DC40_Type"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="E1BATMAS" type="E1BATMAS_Type"/>
    </xsd:sequence>
    <xsd:attribute fixed="1" name="BEGIN" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="BATMAS03_RootType">
    <xsd:sequence>
      <xsd:element name="IDOC" type="IDOC_Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="WXIServiceResponse">
    <xsd:complexType/>
  </xsd:element>
</xsd:schema>
