ZITSANDBOXTGE/IF_Valuemapping_TGE/src/main/resources/xsd/schema-definition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="firstname"/>
        <xs:element type="xs:string" name="country"/>
        <xs:element type="xs:byte" name="id"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>