Hack2Build2022/Query_Information_for_LeanIX_v2/src/main/resources/xsd/LEANIX.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="LeanIx">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RuntimeIntegrationParameter" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name"/>
							<xs:element name="ID"/>
							<xs:element name="Description" minOccurs="0"/>
							<xs:element name="Version" minOccurs="0"/>
							<xs:element name="DeployedOn" minOccurs="0"/>
							<xs:element name="Sender" />
							<xs:element name="Receiver"/>
							<xs:element name="Object"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>