HFFFinanceCustomer/HFF_SAPCPI.PurchasingAssociations_Amazon_IN_MAIL_pass_remittance/src/main/resources/xsd/einkaufsverbaende_amazon.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="row" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Zahlungsnummer"/>
              <xs:element type="xs:string" name="Rechnungsnummer"/>
              <xs:element type="xs:string" name="Rechnungsdatum"/>
              <xs:element type="xs:string" name="Bezeichnung"/>
              <xs:element type="xs:string" name="Rechnungsbetrag"/>
              <xs:element type="xs:string" name="Rechnungswährung"/>
              <xs:element type="xs:string" name="Steuerabzugsbetrag"/>
              <xs:element type="xs:string" name="Realisierter_Rabatt"/>
              <xs:element type="xs:string" name="gezahlten_Betrag"/>
              <xs:element type="xs:string" name="verbleibende_Betrag"/>

            </xs:sequence>
          </xs:complexType>
        </xs:element>
	</xs:sequence>
   </xs:complexType>
  </xs:element>
</xs:schema>