ZITSANDBOXSGR/ZIT_SGR_VM_CSV/src/main/resources/xsd/VM.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="vm" type="vm"/>
	<xsd:complexType name="vm">
		<xsd:sequence>
			<xsd:element name="group" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Group</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="entry" minOccurs="2" maxOccurs="2">
							<xsd:annotation>
								<xsd:documentation>Entry</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="agency" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Agency</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="schema" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Schema</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
									<xsd:element name="value" type="xsd:string">
										<xsd:annotation>
											<xsd:documentation>Value</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="id" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>ID</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:string">
			<xsd:annotation>
				<xsd:documentation>Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
</xsd:schema>